  12 {
    margin-left: 100%;
  }
  11 {
    margin-left: 91.66666667%;
  }
  10 {
    margin-left: 83.33333333%;
  }
  9 {
    margin-left: 75%;
  }
  8 {
    margin-left: 66.66666667%;
  }
  7 {
    margin-left: 58.33333333%;
  }
  6 {
    margin-left: 50%;
  }
  5 {
    margin-left: 41.66666667%;
  }
  4 {
    margin-left: 33.33333333%;
  }
  3 {
    margin-left: 25%;
  }
  2 {
    margin-left: 16.66666667%;
  }
  1 {
    margin-left: 8.33333333%;