.main{
    position: relative;
    top: 100px;
    height: auto;  
} 

.colt-body, .colt-body-top, .colt-body-low {
	background-color: white;
	padding: 30px;
	border-radius: 3px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 10px 1px lightgrey;
}
.colt-heading {
	text-align: center;
	padding: 1px;
    border-bottom: 1px solid lightgrey;
    margin: 0 30px;
}
.head-desc {
	padding: 0 133px;
	margin-top: 20px;
}
.head-desc > p {
  line-height: 30px;
}
.mini-head > h3 {
	border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.colt-op {
	margin-left: 10px;	
}
.colt-list > li {
	margin-bottom: 20px;
}
.colt-media {
	display: flex;
}
.media-holder {
	display: flex;
    border: 1px dashed;
    background-color: #d3d3d361;
    height: 115px;
    padding: 42px 53px;
    width: 60%;
    margin-bottom: 10px;
}
.media-holder > label {
    margin-left: 10px;
    &:hover {
    	cursor: pointer;
    }
    &:nth-child(2) {
    	position: relative;
    	bottom: 7px;
    }
}
.media-holder > label:hover {
	cursor: pointer;
}
.media-holder > label > span:nth-child(2) {
    	position: relative;
    	bottom: 7px;
    }
.media-desc > p {
	max-width: 90%;
	word-break: break-word;
}
.colt-photo, .colt-video {
	flex: 1;
}
.colt-photo > ol {
	margin-top: 15px;
}

.colt-op > ol > li > span {
	color: red;
    font-size: small;
    float: right;
    margin-top: 3px;
}

.loc-attr{
	width: 30%;
	margin-top: 15px;
}
.contrib-submit > button, .feed-submit > button {
	width: 300px;
    height: 45px;
    margin-left: 32%;
}
/***** lI-group *****/
.lI-group {
  position:relative;  

  & + .lI-group {
    margin-top: 30px;
  }
}
.lI-group {
  max-width: 100%;
  width: 50%;

}

.lI-label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #888da6;
  background-color: #fff;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .lI-label {
  transform: translateY(-125%);
  font-size: .75em;
}

.lI-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
  
  &:focus {
    box-shadow: 0 2px 0 0 blue;
  }
}

.lI-input.filled {
  box-shadow: 0 2px 0 0 lightgreen;
}
/***** lI-group end*****/
/*****Feedback.html****/
.feed-bl {
  padding: 50px;
}
.feed-table > thead > tr th {
  
}
tr {
  border: 1px solid #d4d4d4;
}
td {
  text-align: left;
  border-right: 1px solid #d4d4d4;
}
#keep-left {
  text-align: left;
  border-right: 1px solid #d4d4d4;
  height: 60px;
}

::placeholder {
  color: #888da6;
}
.other {
  position: absolute;
  right: 47px;
}
.other .lI-group {
  width: 100%;
}
.otherz {
  display: none;
}
.keep-left {
  border-right: 1px solid #d4d4d4;
}
.feed-text {
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-left: 0;
  margin-bottom: 20px;
}
.feed-text > label {
  font-size: larger;
  margin-bottom: 10px;
}
.feed-text > textarea {
    border-color: #edf2f7;
    resize: none;
    width: 50%;
    border-radius: 5px;
    border-width: 2px;
    height: 150px;
}