{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
	<title>Test-1</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/lol.css" %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
	<div class="main">
		<form id="upload_form" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<p>{{ form.non_field_error }}</p>
		<p>{{ form.profilepic.errors }}</p>
		<p>{{ form.profilepic }}</p>
		<input type="submit" name="Upload">
		</form>
		<img src="{{ MEDIA_URL }}{{ ppic }}">
	</div>

</body>
</html>