{% extends 'profile.html' %}
{% load staticfiles %}
  
  {% block title %}Profile-About{% endblock title %}

  {% block sub_sf %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom/about.css' %} ">
  {% endblock sub_sf %}

  {% block page_name %}About{% endblock page_name %}
  
  {% block boot %}
    <div class="boot">
      <div class="cap">
      	<div class="cap-content">
      		<div class="cap-edit cap-edit-pi">
      			<div class="dropup">
      				<button class="dropdown-toggle cap-edit-button" id="bio-edit" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span></button>
      				<ul id="root-content-set" class="dropdown-menu" aria-labelledby="bio-edit">
              <li><a href="about_fill/">Edit</a></li>
            	</ul>
      			</div>
      		</div>
      		<div class="cap-layer">
      			<h4>Personal Info</h4>
      		</div>
      		<hr>
      		<div class="cap-layer">
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">About Me:</label>
      				</div>
      				<div class="cap-subop cap-subop-right txtar">
      					{{form.aboutme}}
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Birthday:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					{{form.dob}}	
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Birth Place:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					{{form.birthplace}}
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Lives in:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					{{form.livesin}}
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Occupation:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					{{form.occupation}}
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Gender:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					{{form.gender}}	
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark"> Relation Status:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					{{form.relationstatus}}
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Email:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					{{form.email}}
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Website:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					{{form.website}}
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Phone Number:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					{{form.mobile}}
      				</div>
      			</div>
      		</div>
      	</div>
      	<div class="cap-content">
      		<div class="cap-edit cap-edit-os">
      			<div class="dropup">
      				<button class="dropdown-toggle cap-edit-button" id="os-edit" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span></button>
      				<ul id="root-content-set" class="dropdown-menu" aria-labelledby="os-edit">
              <li><a href="about_fill/">Edit</a></li>
            	</ul>
      			</div>
      		</div>
      		<div class="cap-layer">
      			<h4>Other Social Networks</h4>
      		</div>
      		<hr>
      		<div class="cap-layer">
      			<div class="cap-op">
      				<label class="label-dark">Facebook</label>
      				{{form.facebook}}
      			</div>
      			<div class="cap-op">
      				<label class="label-dark">Twitter</label>
      				{{form.twitter}}
      			</div>
      			<div class="cap-op">
      				<label class="label-dark">Instagram</label>
      				{{form.instagram}}
      			</div>
      		</div>
      	</div>
      </div>
      <div class="marker">
      	<div class="marker-content">
      		<div class="marker-edit marker-edit-tp">
      			<div class="dropup">
      				<button class="dropdown-toggle marker-edit-button" id="tp-edit" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span></button>
      				<ul id="root-content-set" class="dropdown-menu" aria-labelledby="tp-edit">
              <li><a href="about_fill/">Edit</a></li>
            	</ul>
      			</div>
      		</div>
      		<div class="marker-edit marker-edit-hi">
      			<div class="dropup">
      				<button class="dropdown-toggle marker-edit-button" id="hi-edit" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span></button>
      				<ul id="root-content-set" class="dropdown-menu" aria-labelledby="hi-edit">
              <li><a href="about_fill/">Edit</a></li>
            	</ul>
      			</div>
      		</div>
      		<div class="marker-layer">
      			<div class="marker-op marker-op-head-left">
      				<h4>Travel Portfolio</h4>    				
      			</div>
      			<div class="marker-op marker-op-head-right">
      				<h4>Hobbies & Interest</h4>    					
      			</div>
      		</div>
      		<hr>
      		<div class="marker-content-main">
      			<div class="marker-div marker-div-left">
  	    			<div class="marker-layer marker-layer-low">
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Travelled Places</label>
  		    				</div>
  		    				<div id="txtar" class="marker-op">
  		    					{{form.travelledplaces}}
  		    				</div>
  		    			</div>
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Dream Places</label>
  		    				</div>
  		    				<div id="txtar" class="marker-op">
  		    					{{form.dreamplaces}}
  		    				</div>
  		    			</div>
  		    		</div>
  		    		<div class="marker-layer marker-layer-low">
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Favorite Travel Places</label>
  		    				</div>
  		    				<div id="txtar" class="marker-op">
  		    					{{form.favtravplaces}}
  		    				</div>
  		    			</div>
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Favorite Travel Season</label>
  		    				</div>
  		    				<div id="txtar" class="marker-op marker-op-row">
  		    					{{form.favtravseasons}}
  		    				</div>
  		    			</div>
  		    		</div>
  		    		<div class="marker-layer marker-layer-low">
  	    			<div class="marker-op">
  	    				<div class="marker-subop">
  	    					<label class="label-dark">Favorite Travel Moto</label>
  	    				</div>
  	    				<div id="txtar" class="marker-op marker-op-row">
  	    					{{form.favtravmoto}}
  	    				</div>
  	    			</div>
  	    			<div class="marker-op">
  	    				<div class="marker-subop">
  	    					<label class="label-dark">Favorite Travel Mode</label>
  	    				</div>
  	    				<div id="txtar" class="marker-op marker-op-row">
  	    					{{form.favtravmode}}
  	    				</div>
  	    			</div>
  	    			</div>
      			</div>
  	    		<div class="marker-div marker-div-right">
  		    		<div class="marker-layer marker-layer-low">
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Hobbies</label>
  		    				</div>
  		    				<div id="txtar" class="marker-op marker-op-row">
  		    					{{form.hobbies}}
  		    				</div>
  		    			</div>
  		    		</div>
  		    		<div class="marker-layer marker-layer-low">
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Skills</label>
  		    				</div>
  		    				<div id="txtar" class="marker-op marker-op-row">
  		    					{{form.skills}}
  		    				</div>
  		    			</div>
  		    		</div>
  		    		<div class="marker-layer marker-layer-low">
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Interests</label>
  		    				</div>
  		    				<div id="txtar" class="marker-op marker-op-row">
  		    					{{form.interests}}
  		    				</div>
  		    			</div>
  		    		</div>
  	    		</div>
      		</div>
      	</div>
      	<div class="marker-content">
          <div class="marker-edit marker-edit-ee">
            <div class="dropup">
              <button class="dropdown-toggle marker-edit-button" id="hi-edit" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span></button>
              <ul id="root-content-set" class="dropdown-menu" aria-labelledby="hi-edit">
              <li><a href="about_fill/">Edit</a></li>
              </ul>
            </div>
          </div>
      		<div class="marker-layer">
      			<div class="marker-op marker-op-head-left nobod">
      				<h4>Education & Employement</h4>    				
      			</div>
      		</div>
      		<hr>
      		<div class="marker-content-main">
      			<div class="marker-div marker-div-low-2">
  	    			<div class="marker-layer marker-layer-low">
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">School</label>
  		    				</div>
  		    				<div id="txtar" class="marker-op">
  		    					{{form.school}}
  		    				</div>
  		    			</div>
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">College</label>
  		    				</div>
  		    				<div id="txtar" class="marker-op">
                    {{form.college}}
  		    				</div>
  		    			</div>
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Additional Educations</label>
  		    				</div>
  		    				<div id="txtar" class="marker-op marker-op-row">
  		    					{{form.aded}}
  		    				</div>
  		    			</div>
  		    		</div>
  		    		<div class="marker-layer marker-layer-low">
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Current Work</label>
  		    				</div>
  		    				<div id="txtar" class="marker-op">
  		    					{{form.currwork}}
  		    				</div>
  		    			</div>
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Previous Work</label>
  		    				</div>
  		    				<div id="txtar" class="marker-op">
  		    					{{form.prevwork}}
  		    				</div>
  		    			</div>
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Work Skills</label>
  		    				</div>
  		    				<div id="txtar" class="marker-op marker-op-row">
  		    					{{form.workskills}}
  		    				</div>
  		    			</div>
  		    		</div>
      			</div>
      		</div>
        </div>
      </div>
    </div>
  {% endblock boot %}

  {% block custom_scripts %}{% endblock custom_scripts %}