{% extends 'frame.html' %}
{% load staticfiles %}

{% block title %}About-Edit{% endblock %}

{% block static_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom/about_fill.css' %} ">
{% endblock static_files %}
{% block page_name %}Edit Information{% endblock page_name %}

{% block inner_rightSideBar %}
    <li><a href="{% url "about" %}"><span class="glyphicon glyphicon-ok">&nbsp</span>Back To Profile</a></li>
{% endblock inner_rightSideBar %}

{% block outer_rightSideBar %}
    <li><a href="{% url "about" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Done Editing" class="glyphicon glyphicon-ok"></span></a></li>
{% endblock outer_rightSideBar %}

{% block class_main %}col-lg-offset-3 col-lg-6{% endblock class_main %}

{% block content %}
<form method="POST" id="pi_form">
    {% csrf_token %}
    <div class="pi_block block col-lg-11">
        <div class="block-head">
            <h2><i>Person Information</i></h2>
        </div>
        <div class="block-main">
            <div class="block-layer">
                <div class="field-label fl-txtar">
                    <label>About Me:</label>
                </div>
                <div class="field-content fc-txtar">
                    {{form.aboutme}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label dob-label">
                    <label>Date of Birth:</label>
                </div>
                <div class="field-content dob-content">
                   <div class="birth-day">
                       {{form.dayz}}
                       </select>
                   </div>
                   <div class="birth-month">
                       {{form.monthz}}
                   </div>
                   <div class="birth-year">
                       {{form.yearz}}
                   </div>
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label">
                    <label>Place of Birth:</label>
                </div>
                <div class="field-content">
                    {{form.birthplace}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label">
                    <label>Lives in:</label>
                </div>
                <div class="field-content">
                    {{form.livesin}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label">
                    <label>Occupation:</label>
                </div>
                <div class="field-content">
                    {{form.occupation}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label">
                    <label>Gender:</label>
                </div>
                <div class="field-content">
                    {{form.gender}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label">
                    <label>Relationship:</label>
                </div>
                <div class="field-content">
                    {{form.relationstatus}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label">
                    <label>Email:</label>
                </div>
                <div class="field-content">
                    {{form.email}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label">
                    <label>Website:</label>
                </div>
                <div class="field-content">
                    {{form.website}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label">
                    <label>Mobile Number:</label>
                </div>
                <div class="field-content">
                    {{form.mobile}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label">
                    <label>Facebook:</label>
                </div>
                <div class="field-content">
                    {{form.facebook}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label">
                    <label>Twitter:</label>
                </div>
                <div class="field-content">
                    {{form.twitter}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label">
                    <label>Instagram:</label>
                </div>
                <div class="field-content">
                    {{form.instagram}}
                </div>
            </div>
        </div>    
    </div>
    <div class="pi_block block col-lg-11">
        <div class="block-head">
            <h2><i>Travel Portfolio</i></h2>
        </div>
        <div class="block-main">
            <div class="block-layer">
                <div class="field-label fl-txtar">
                    <label>Travelled Places:</label>
                </div>
                <div class="field-content fc-txtar ">
                    {{form.travelledplaces}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label fl-txtar">
                    <label>Dream Places:</label>
                </div>
                <div class="field-content fc-txtar">
                   <div class="birth-year">
                       {{form.dreamplaces}}
                   </div>
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label fl-txtar">
                    <label>Favorite Travel Places:</label>
                </div>
                <div class="field-content fc-txtar">
                    {{form.favtravplaces}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label fl-txtar">
                    <label>Favorite Travel Season:</label>
                </div>
                <div class="field-content fc-txtar">
                    {{form.favtravseasons}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label fl-txtar">
                    <label>Favorite Travel Moto:</label>
                </div>
                <div class="field-content fc-txtar">
                    {{form.favtravmoto}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label fl-txtar">
                    <label>Favorite Travel Mode:</label>
                </div>
                <div class="field-content fc-txtar">
                    {{form.favtravmode}}
                </div>
            </div>
        </div>    
    </div>
    <div class="pi_block block col-lg-11">
        <div class="block-head">
            <h2><i>Hobbies & Skills</i></h2>
        </div>
        <div class="block-main">
            <div class="block-layer">
                <div class="field-label fl-txtar">
                    <label>Hobbies:</label>
                </div>
                <div class="field-content fc-txtar ">
                    {{form.hobbies}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label fl-txtar">
                    <label>Skilles:</label>
                </div>
                <div class="field-content fc-txtar">
                   <div class="birth-year">
                       {{form.skills}}
                   </div>
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label fl-txtar">
                    <label>Interests:</label>
                </div>
                <div class="field-content fc-txtar">
                    {{form.interests}}
                </div>
            </div>
        </div>    
    </div>
    <div class="pi_block block col-lg-11">
        <div class="block-head">
            <h2><i>Education & Employement</i></h2>
        </div>
        <div class="block-main">
            <div class="block-layer">
                <div class="field-label fl-txtar">
                    <label>School:</label>
                </div>
                <div class="field-content fc-txtar ">
                    {{form.school}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label fl-txtar">
                    <label>College:</label>
                </div>
                <div class="field-content fc-txtar">
                   <div class="birth-year">
                       {{form.college}}
                   </div>
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label fl-txtar">
                    <label>Additional Educations:</label>
                </div>
                <div class="field-content fc-txtar">
                    {{form.aded}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label fl-txtar">
                    <label>Current Work:</label>
                </div>
                <div class="field-content fc-txtar">
                    {{form.currwork}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label fl-txtar">
                    <label>Previous Work:</label>
                </div>
                <div class="field-content fc-txtar">
                    {{form.prevwork}}
                </div>
            </div>
            <div class="block-layer">
                <div class="field-label fl-txtar">
                    <label>Work Skills:</label>
                </div>
                <div class="field-content fc-txtar">
                    {{form.workskills}}
                </div>
            </div>
        </div>    
    </div>
    <div class="block-layer">
        <div class="form_submit">
            <input id="aboutsubmit" type="submit" name="submit" value="Save Changes"   class="btn btn-success">
        </div>
    </div>
</form>
{% endblock content %}

{% block custom_scripts %}
<script>
    $(document).ready(function() {
        $("#aboutsubmit").click(function(){
              $.ajax({
                type: 'POST', 
                url: '#', 
                dataType: 'json',
                data: $('#pi_form').serialize(),
                success: function (x) {                
                  alert("Changes have been saved") 
                },
                error:function(){
                  alert("Changes cannot be saved.\nTry Again with proper inputs.") 
                }
            });
          return false;
        });
    })
</script>
{% endblock custom_scripts %}
