{% extends 'profile.html' %}
{% load staticfiles %}
  
  {% block title %}Profile-About{% endblock title %}

  {% block sub_sf %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom/about.css' %} ">
  {% endblock sub_sf %}

  {% block page_name %}About{% endblock page_name %}
  
  {% block boot %}
    <div class="boot">
      <div class="cap">
      	<div class="cap-content">
      		<div class="cap-edit cap-edit-pi">
      			<div class="dropup">
      				<button class="dropdown-toggle cap-edit-button" id="bio-edit" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span></button>
      				<ul id="root-content-set" class="dropdown-menu" aria-labelledby="bio-edit">
              <li><a href="#">Edit</a></li>
            	</ul>
      			</div>
      		</div>
      		<div class="cap-layer">
      			<h4>Personal Info</h4>
      		</div>
      		<hr>
      		<div class="cap-layer">
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">About Me:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					<span>I am a very hilarious person with an ambition to travel the entire world on my Uni-cycle.</span>	
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Birthday:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					<span>24th November 1993</span>	
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Birth Place:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					<span>Daman, Daman & Diu, India</span>	
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Lives in:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					<span>Pune, Maharashtra, India</span>	
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Occupation:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					<span>Enterprenuer</span>	
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Gender:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					<span>Males</span>	
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Status:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					<span>In a Relationship</span>	
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Email:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					<span>mastermindjim@gmail.com</span>	
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Website:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					<span>endlessmiles.com</span>	
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Phone Number:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					<span>+91 9737177329</span>	
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Religious Belief</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					<span>Islam</span>	
      				</div>
      			</div>
      			<div class="cap-op">
      				<div class="cap-subop">
  	    				<label class="label-dark">Political View:</label>
      				</div>
      				<div class="cap-subop cap-subop-right">
      					<span>None</span>	
      				</div>
      			</div>
      		</div>
      	</div>
      	<div class="cap-content">
      		<div class="cap-edit cap-edit-os">
      			<div class="dropup">
      				<button class="dropdown-toggle cap-edit-button" id="os-edit" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span></button>
      				<ul id="root-content-set" class="dropdown-menu" aria-labelledby="os-edit">
              <li><a href="#">Edit</a></li>
            	</ul>
      			</div>
      		</div>
      		<div class="cap-layer">
      			<h4>Other Social Networks</h4>
      		</div>
      		<hr>
      		<div class="cap-layer">
      			<div class="cap-op">
      				<label class="label-dark">Facebook</label>
      				<span>www.facebook.com/NawaazJames</span>
      			</div>
      			<div class="cap-op">
      				<label class="label-dark">Twitter</label>
      				<span>www.twitter.com/nawaazwill11</span>
      			</div>
      			<div class="cap-op">
      				<label class="label-dark">Instagram</label>
      				<span>www.instagram.com/nawaazwill11</span>
      			</div>
      		</div>
      	</div>
      </div>
      <div class="marker">
      	<div class="marker-content">
      		<div class="marker-edit marker-edit-tp">
      			<div class="dropup">
      				<button class="dropdown-toggle marker-edit-button" id="tp-edit" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span></button>
      				<ul id="root-content-set" class="dropdown-menu" aria-labelledby="tp-edit">
              <li><a href="#">Edit</a></li>
            	</ul>
      			</div>
      		</div>
      		<div class="marker-edit marker-edit-hi">
      			<div class="dropup">
      				<button class="dropdown-toggle marker-edit-button" id="hi-edit" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span></button>
      				<ul id="root-content-set" class="dropdown-menu" aria-labelledby="hi-edit">
              <li><a href="#">Edit</a></li>
            	</ul>
      			</div>
      		</div>
      		<div class="marker-layer">
      			<div class="marker-op marker-op-head-left">
      				<h4>Travel Portfolio</h4>    				
      			</div>
      			<div class="marker-op marker-op-head-right">
      				<h4>Hobbies & Interest</h4>    					
      			</div>
      		</div>
      		<hr>
      		<div class="marker-content-main">
      			<div class="marker-div marker-div-left">
  	    			<div class="marker-layer marker-layer-low">
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Travelled Places</label>
  		    				</div>
  		    				<div class="marker-op">
  		    					<span>Daman, Daman & Diu, India</span>
  		    					<span>Diu, Daman & Diu, India</span>
  		    					<span>Mumbai, Maharashtra, India</span>
  		    					<span>New York, New York, USA</span>
  		    				</div>
  		    			</div>
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Dream Places</label>
  		    				</div>
  		    				<div class="marker-op">
  		    					<span>Manali, Himachal Pradesh, India</span>
  		    					<span>Banglore, Karnataka, India</span>
  		    					<span>Shimla, J & K, India</span>
  		    				</div>
  		    			</div>
  		    		</div>
  		    		<div class="marker-layer marker-layer-low">
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Favorite Places</label>
  		    				</div>
  		    				<div class="marker-op">
  		    					<span>Daman, Daman & Diu, India</span>
  		    					<span>Diu, Daman & Diu, India</span>
  		    				</div>
  		    			</div>
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Favorite Season</label>
  		    				</div>
  		    				<div class="marker-op marker-op-row">
  		    					<span>Spring</span><span>,</span>
  		    					<span>Monsoon</span><span>,</span>
  		    					<span>Autumn</span><span>,</span>
  		    					<span>Winter</span>
  		    				</div>
  		    			</div>
  		    		</div>
  		    		<div class="marker-layer marker-layer-low">
  	    			<div class="marker-op">
  	    				<div class="marker-subop">
  	    					<label class="label-dark">Favorite Travel Moto</label>
  	    				</div>
  	    				<div class="marker-op marker-op-row">
  	    					<span>Adventure</span><span>,</span>
  	    					<span>Photography</span><span>,</span>
  	    					<span>Sports Event</span><span>,</span>
  	    					<span>Travel Bloggin</span><span>,</span>
  	    					<span>Backpacking</span>
  	    				</div>
  	    			</div>
  	    			<div class="marker-op">
  	    				<div class="marker-subop">
  	    					<label class="label-dark">Favorite Travel Mode</label>
  	    				</div>
  	    				<div class="marker-op marker-op-row">
  	    					<span>Cycle</span><span>,</span>
  	    					<span>Motorbike</span><span>,</span>
  	    					<span>Car</span><span>,</span>
  	    					<span>On Foot</span>
  	    				</div>
  	    			</div>
  	    			</div>
      			</div>
  	    		<div class="marker-div marker-div-right">
  		    		<div class="marker-layer marker-layer-low">
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Hobbies</label>
  		    				</div>
  		    				<div class="marker-op marker-op-row">
  		    					<span>Riding</span><span>,</span>
  		    					<span>Sky Diving</span><span>,</span>
  		    					<span>Scuba Diving</span><span>,</span>
  		    					<span>Reading</span><span>,</span>
  		    				</div>
  		    			</div>
  		    		</div>
  		    		<div class="marker-layer marker-layer-low">
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Skills</label>
  		    				</div>
  		    				<div class="marker-op marker-op-row">
  		    					<span>Programming</span><span>,</span>
  		    					<span>Karate</span><span>,</span>
  		    					<span>Poetry</span><span>,</span>
  		    					<span>Comedy</span>
  		    				</div>
  		    			</div>
  		    		</div>
  		    		<div class="marker-layer marker-layer-low">
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Interests</label>
  		    				</div>
  		    				<div class="marker-op marker-op-row">
  		    					<span>Gardening</span><span>,</span>
  		    					<span>Cricket</span><span>,</span>
  		    					<span>Basketball</span><span>,</span>
  		    					<span>Gyming</span>
  		    				</div>
  		    			</div>
  		    		</div>
  	    		</div>
      		</div>
      	</div>
      	<div class="marker-content">
      		<div class="marker-layer">
      			<div class="marker-op marker-op-head-left">
      				<h4>Education & Employement</h4>    				
      			</div>
      		</div>
      		<hr>
      		<div class="marker-content-main">
      			<div class="marker-div marker-div-low-2">
  	    			<div class="marker-layer marker-layer-low">
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">School</label>
  		    				</div>
  		    				<div class="marker-op">
  		    					<span>Institute of Our Lady of Fatima, Daman</span>
  		    				</div>
  		    			</div>
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">College</label>
  		    				</div>
  		    				<div class="marker-op">
  		    					<span>SSR College, Silvassa</span>
  		    					<span>Sinhgad Institue of Management and Computer Application, Pune</span>
  		    				</div>
  		    			</div>
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Editional Educations</label>
  		    				</div>
  		    				<div class="marker-op marker-op-row">
  		    					<span>Udacity</span><span>,</span>
  		    					<span>Edx</span>
  		    				</div>
  		    			</div>
  		    		</div>
  		    		<div class="marker-layer marker-layer-low">
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Current Work</label>
  		    				</div>
  		    				<div class="marker-op">
  		    					<span>CEO, CTO Will Inc.</span>
  		    				</div>
  		    			</div>
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Previous Work</label>
  		    				</div>
  		    				<div class="marker-op">
  		    					<span>Receptionist, Hotel Blue Lagoon</span>
  		    				</div>
  		    			</div>
  		    			<div class="marker-op">
  		    				<div class="marker-subop">
  		    					<label class="label-dark">Work Skills</label>
  		    				</div>
  		    				<div class="marker-op marker-op-row">
  		    					<span>Python</span><span>,</span>
  		    					<span>HTML</span><span>,</span>
  		    					<span>CSS</span>
  		    				</div>
  		    			</div>
  		    		</div>
      			</div>
      		</div>
      	</div>
      </div>
    </div>
  {% endblock boot %}

  {% block custom_scripts %}{% endblock custom_scripts %}