{% extends 'frame.html' %}
{% load staticfiles %}

  {% block title %}Emergency-Emergency Request{% endblock title %}
  
  {% block static_files %}
    <link rel="stylesheet" type="text/css" href="{% static "css/custom/myevent-style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/custom/emergency.css" %}">
    {% endblock static_files %}

    {% block page_name %}<div style="margin-top: -11px; font-size: 32px;">Emergency<br>Requests</div>{% endblock page_name %}

    {% block inner_rightSideBar %}
      <li><a href="{% url "emergency" %}"><span><i class="material-icons">report_problem</i></span>Emergency</a></li>
      <li><a href="{% url "emergencyrequest" %}"><span><i class="material-icons">pan_tool</i></span>Requests</a></li>
    {% endblock inner_rightSideBar %}
    
    {% block outer_rightSideBar %}
      <li><a href="{% url "emergency" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Emergency" ><i id="mat-icon" class="material-icons">report_problem</i></span></a></li>
      <li><a href="{% url "emergencyrequest" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Emergency Requests" ><i class="material-icons">pan_tool</i></span></a></li>
    {% endblock outer_rightSideBar %}

    {% block class_main %} col-lg-offset-1 col-lg-10 {% endblock class_main %}
    
    {% block content %}
      <div id="left-panel" class="left-panel col-lg-3">
        <div class="left-panel-body">
          <div class="left-panel-body-top">
            <h3>
              Refine Results
            </h3>
            <hr>
          </div>
          <div class="left-panel-body-low">
            <ul style="list-style: none;">
              <li><h4><b>My Requests</b></h4></li>
              <li><input type="checkbox" name="type-created" value="created"><span>Requested</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="right-panel col-lg-offset-1 col-lg-8">
      	<div id="rp-head" class="right-panel-head">
          <div class="right-panel-title">
            <h3>
              Results
            </h3>
            <hr>
          </div>
         </div>
         {% for record in filters.qs %}
           
         
           <div class="section">
                <div id="box" class="box col-lg-8">
                  <div id="tbl1" class="box-layer-1 col-lg-12 layers">
                    <div id="tbl1l" class="box-l1-left col-lg-7">
                      <div class="tbl1l-title">
                          <span><b>Emergency</b></span>
                      </div>
                    </div>
                    <div id="tbl1r" class="box-l1-right col-lg-5">
                      
                    </div>
                  </div>
                  
                  <div class="box-layer-2 col-lg-12 layers">
                    <div class="src-dest sub-layer">
                        <span><b>Emergency Nature:</b></span>&nbsp <span>{{ record.nature }}</span>
                    </div>
                  </div>
                  <div class="box-layer col-lg-12 layers">
                    <div class="sub-layer">
                      <span><b>Personal Requirement:</b></span>&nbsp <span>{{ record.personnel }}</span>
                    </div>
                  </div>
                  
                  <div class="box-layer col-lg-12 layers">
                    <div class="sub-layer">
                      <span><b>Contact Info:</b></span>&nbsp <span>{{ record.contact }}</span>
                    </div>
                  </div>     
                  <div id="tbl5" class="box-layer-5 col-lg-12 layers">
                    <div class="sub-layer">
                      <div class="sub-layer-1">
                        <span><b>Description:</b></span>&nbsp 
                        <span id="emer_desc">{{ record.description }}</span>
                      </div>
                      
                    </div>
                  </div>
                </div>
               
           </div>
         {% endfor %}
      </div>
  {% endblock content %}

  {% block custom_scripts %}{% endblock custom_scripts %}