{% extends 'frame.html' %}
{% load staticfiles %}
	
	{% block title %}Emergency{% endblock title %}
	
	{% block static_files %}
	<link rel="stylesheet" type="text/css" href="{% static "css/custom/emergency.css" %}">
	{% endblock static_files %}

	{% block page_name %}Emergency{% endblock page_name %}

	{% block inner_rightSideBar %}
			<li><a href="{% url "emergency" %}"><span><i class="material-icons">report_problem</i></span>Emergency</a></li>
			<li><a href="{% url "emergency_request" %}"><span><i class="material-icons">pan_tool</i></span>Requests</a></li>
	{% endblock inner_rightSideBar %}

	{% block outer_rightSideBar %}
			<li><a href="{% url "emergency" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Chat" ><i id="mat-icon" class="material-icons">report_problem</i></span></a></li>
			<li><a href="{% url "emergency_request" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Chat" ><i class="material-icons">pan_tool</i></span></a></li>
	{% endblock outer_rightSideBar %}

	{% block class_main %} col-lg-offset-2 col-lg-8 {% endblock class_main %} 
	
	{% block content %}
		<div class="emer-body-top">
			<div class="emer-heading">
				<h1>Emergency</h1>
			</div>
			<div class="head-desc">
				<p>
					Emergency should be used during unfortunate incidents ie. when the user needs emergency services for himself, his fellow traveller or any other person who requires assistance. On using this feature, nearby local authorities will be contacted by the number provided in the profile and your GPS location. Depending on the nature of the incident, the authorities will be contacted ie. Hospital for medical assistance and Fire Brigade for infernous circumstances.
				<p>
					<b>Warning: Use Emergency only when you really need it. Using is unnecessarily is an offense and can have legal consequences.</b>
				</p>
				</p>
			</div>
		</div>
		<div class="emer-body-low">
			<div class="emer-content">
				<div class="mini-head">
					<h3>Fill Details</h3>
				</div>
				<ol class="emer-list">
	        <li>
	          <div class="emer-layer">
	            <div class="colt-op">
	              <div class="lI-group">
	                <label >Nature of emergency<span style="color: red">*</span></label>
	                <div class="emer-check">
	                	<label><input type="checkbox" name="Medical">Medical</label>
	                	<label><input type="checkbox" name="Crime">Crime</label>
	                	<label><input type="checkbox" name="Vehicle">Vehicle</label>
	                	<label><input type="checkbox" name="Stucked">Stucked</label>
	                	<label><input type="checkbox" name="Other">Other</label>
	                </div>
	              </div>
	            </div>
	          </div>
	        </li>
	        <li>
	          <div class="emer-layer">
	            <div class="emer-op">
	              <div class="lI-group">
	                <label class="">Contact Personel <span style="color: red">*</span></label>
	                <div class="emer-check">
	                	<label><input type="checkbox" name="hospital">Hospital</label>
	                	<label><input type="checkbox" name="Police">Police</label>
	                	<label><input type="checkbox" name="fire-brigade">Mechanic</label>
	                	<label><input type="checkbox" name="Other Travellers">Travellers</label>
	                	<label><input type="checkbox" name="All">All</label>
	                </div>
	              </div>  
	            </div>
	          </div>
	        </li>
	        <li>
	          <div class="emer-layer">
	            <div class="emer-op">
	              <div>
	              	<label>Location of Incident<span style="color: red">*</span></label>
	                <div class="emer-check">
	                	<label><input type="radio" name="loi" value="loi-gps" >GPS</label>
	                	<label><input type="radio" name="loi" value="loi-man">Manual</label>
	                </div>
	                <div class="alt-show" style="display: none">
	                	<div class="lI-group" style="display: flex;">
			                <label class="lI-label">Street Address <span style="color: red">*</span></label>
			                <input type="text" class="lI-input" style="margin-left: 0" autocomplete="off">
		              	</div>
		              	<div class="lI-group" style="display: flex;">
			                <label class="lI-label">City<span style="color: red">*</span></label>
			                <input type="text" class="lI-input" style="margin-left: 0" autocomplete="off">
		              	</div>
		              	<div class="lI-group" style="display: flex;">
			                <label class="lI-label">Landmark</label>
			                <input type="text" class="lI-input" style="margin-left: 0" autocomplete="off">
		              	</div>
	                </div>
	              </div>  
	            </div>
	          </div>
	        </li>
	        <li>
	          <div class="emer-layer">
	            <div class="emer-op">
	              <div class="lI-group" style="display: flex;">
	                <label class="lI-label">Contact Number <span style="color: red">*</span></label>
	                <input id="phone" type="text" class="lI-input" style="margin-left: 0" autocomplete="off" value="+91 ">
              	</div>
	            </div>
	          </div>
	        </li>
	        <li>
	          <div class="emer-layer">
	            <div class="emer-op" style="display: flex; flex-direction: column;" >
	          		<label>Short Descripton	<span style="font-weight: 400;">(optional)</span></label>
	          		<textarea placeholder="About the emergency" rows="5"></textarea>
	          	</div>    
	          </div>
	        </li>
				</ol>
				<div class="emer-submit">
  				<button type="submit" class="btn btn-success">Submit</button>
  			</div>
			</div>
		</div>
	{% endblock content %}

	{% block custom_scripts %}
	<script type="text/javascript">
	    $(document).ready(function() {
	      $('input[type=radio][name=loi]').change(function() {
	          if (this.value == 'loi-man') {
	              $(".alt-show").show();
	          }
	          else if (this.value == 'loi-gps') {
	              $(".alt-show").hide();
	          }
	      });
	    });
	</script>
	 <script type="text/javascript" name="hide-show">
    $('input').focus(function(){
     $(this).parents('.lI-group').addClass('focused');
    });

    $('input').blur(function(){
      var inputValue = $(this).val();
      if ( inputValue == "" ) {
        $(this).removeClass('filled');
        $(this).parents('.lI-group').removeClass('focused');  
      } else {
        $(this).addClass('filled');
      }
    })  

  </script>
  <script type="text/javascript" name="input-dont-delete">
		listen('load', window, init);

		function init() {
		    var phone = document.getElementById('phone');
		    var val = phone.value;
		    listen('keydown', phone, replaceVal);
		    listen('keyup', phone, replaceVal);
		    function replaceVal() {
		        tempVal = phone.value;
		        if (tempVal.indexOf(val) === -1) {
		            tempVal = val;
		            phone.value = val;
		        }
		    }
		}

		function listen(event, elem, func) {
		    if (elem.addEventListener) {
		        elem.addEventListener(event, func, false);
		    } else if (elem.attachEvent) {
		        elem.attachEvent('on' + event, func);   
		    }
		}

	</script>
  {% endblock custom_scripts %}