{% extends 'event.html' %}
{% load staticfiles %}

  {% block title %}Event-Main{% endblock title %}

  {% block static_files %}
    <link rel="stylesheet" type="text/css" href="{% static "css/custom/main-style.css" %}">
	{% endblock static_files %}
  
  {% block page_name %}Event Main{% endblock page_name %}
  
  {% block class_main %} col-lg-offset-1 col-lg-10 {% endblock class_main %}

  {% block content %}
    <div class="top-section col-lg-12">
      <div class="plan-trip-top-left pjt col-lg-6">
        <div class="plan-trip-body col-lg-offset-2 col-lg-8">
          <div class="plan-trip-body-main">
              <h4>Create an Event</h4>
              <i>Create your own <b>Event</b> and <b>Publish it</b>.</i>
              <button class="btn btn-danger btn-lg btn-plan" type="button"><b><a href="{% url 'planevent' %}" style="color: white">Plan</a></b></button>
          </div>
        </div>
      </div><!-- plan-trip-top end -->
      <div class="join-trip-top pjt col-lg-6">
        <div class="join-trip-body col-lg-offset-2 col-lg-8">
          <div class="join-trip-body-main">
            <h4>Participate in an Event</h4>
            <i>Search for a <b>Events</b> and choose to <b>Join it</b>.</i>
            <button class="btn btn-danger btn-lg btn-join"><b><a href="{% url 'searchevent' %}" style="color: white">Search & Join</a></b></button>
          </div>
        </div>
      </div>
    </div><!-- top-section end -->
    <br>
    <div class="low-section">
      <div class="recommend-main lsc-main"> <!-- lsc = low-section-common -->
        <div class="recommend-head lsc-head">
          <div class="recommend-title lsc-title">
            <span><h4><a href="#"><i>Recommended</i></a></h4></span>
          </div>
        </div><!-- recommed-head end -->
        <div class="recommend-body lsc-body">
          <div class="recommend-body-left lsc-body-main col-lg-3">
            <div class="recommend-panel-top-left lsc-panel-top">
              <div class="recommend-img-left lsc-img">
                <div id="car0" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                    <div class="item active">
                      <img src="img/la.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                      <img src="img/chicago.jpg" alt="Chicago" style="width:100%;">
                    </div>
                  
                    <div class="item">
                      <img src="img/ny.jpg" alt="New york" style="width:100%;">
                    </div>
                     <a class="left carousel-control" href="#car0" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#car0" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
            </div><!-- recommend-panel-top end -->
            <div class="recommend-panel-low-left lsc-panel-low plc"> 
              <!-- plc = panel-low-common -->
              <div class="recommend-place-name-left lsc-place-name col-lg-12">
                <b>Place:</b>&nbspCalungute Beach, Goa
              </div>
              <div class="recommend-people-count-left lsc-people-count col-lg-12">
                <b>Current Events:</b>&nbsp201
              </div>
              <div class="recommend-action-left lsc-action">
                <div id="lsc-action-plan" class="recommend-action-plan-left lsc-action-plan">
                  <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="Plan Journey"></span>
                </div>
                <div id="lsc-action-join" class="recommend-action-join-left lsc-action-join">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" data-original-title="Join Journey"></span>
                </div>
              </div><!-- recommed-action-left end -->
            </div><!-- recommed-panel-low-left end -->
          </div><!-- recommed-body-main-left end -->

        </div><!-- recommed-body end -->
        <div class="recommend-body-left lsc-body-main col-lg-3">
            <div class="recommend-panel-top-left lsc-panel-top">
              <div class="recommend-img-left lsc-img">
                <div id="car" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                    <div class="item">
                      <img src="img/la.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                      <img src="img/chicago.jpg" alt="Chicago" style="width:100%;">
                    </div>
                  
                    <div class="item active">
                      <img src="img/ny.jpg" alt="New york" style="width:100%;">
                    </div>
                     <a class="left carousel-control" href="#car" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#car" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
            </div><!-- recommend-panel-top end -->
            <div class="recommend-panel-low-left lsc-panel-low plc"> 
              <!-- plc = panel-low-common -->
              <div class="recommend-place-name-left lsc-place-name col-lg-12">
                <b>Place:</b>&nbsp;Calungute Beach, Goa
              </div>
              <div class="recommend-people-count-left lsc-people-count col-lg-12">
                <b>Current Events:</b>&nbsp;201
              </div>
              <div class="recommend-action-left lsc-action">
                <div id="lsc-action-plan" class="recommend-action-plan-left lsc-action-plan">
                  <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="Plan Journey"></span>
                </div>
                <div id="lsc-action-join" class="recommend-action-join-left lsc-action-join">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" data-original-title="Join Journey"></span>
                </div>
              </div><!-- recommed-action-left end -->
            </div><!-- recommed-panel-low-left end -->
          </div><!-- recommed-body-main-left end -->
          
        </div>
        <div class="recommend-body-left lsc-body-main col-lg-3">
            <div class="recommend-panel-top-left lsc-panel-top">
              <div class="recommend-img-left lsc-img">
                <div id="car1" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                    <div class="item">
                      <img src="img/la.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                      <img src="img/chicago.jpg" alt="Chicago" style="width:100%;">
                    </div>
                  
                    <div class="item active">
                      <img src="img/ny.jpg" alt="New york" style="width:100%;">
                    </div>
                     <a class="left carousel-control" href="#car1" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#car1" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
            </div><!-- recommend-panel-top end -->
            <div class="recommend-panel-low-left lsc-panel-low plc"> 
              <!-- plc = panel-low-common -->
              <div class="recommend-place-name-left lsc-place-name col-lg-12">
                <b>Place:</b>&nbsp;Calungute Beach, Goa
              </div>
              <div class="recommend-people-count-left lsc-people-count col-lg-12">
                <b>Current Events:</b>&nbsp;201
              </div>
              <div class="recommend-action-left lsc-action">
                <div id="lsc-action-plan" class="recommend-action-plan-left lsc-action-plan">
                  <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="Plan Journey"></span>
                </div>
                <div id="lsc-action-join" class="recommend-action-join-left lsc-action-join">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" data-original-title="Join Journey"></span>
                </div>
              </div><!-- recommed-action-left end -->
            </div><!-- recommed-panel-low-left end -->
          </div><!-- recommed-body-main-left end -->
          
        </div>
        <div class="recommend-body-left lsc-body-main col-lg-3">
            <div class="recommend-panel-top-left lsc-panel-top">
              <div class="recommend-img-left lsc-img">
                <div id="car2" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                    <div class="item">
                      <img src="img/la.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                      <img src="img/chicago.jpg" alt="Chicago" style="width:100%;">
                    </div>
                  
                    <div class="item active">
                      <img src="img/ny.jpg" alt="New york" style="width:100%;">
                    </div>
                     <a class="left carousel-control" href="#car2" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#car2" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
            </div><!-- recommend-panel-top end -->
            <div class="recommend-panel-low-left lsc-panel-low plc"> 
              <!-- plc = panel-low-common -->
              <div class="recommend-place-name-left lsc-place-name col-lg-12">
                <b>Place:</b>&nbsp;Calungute Beach, Goa
              </div>
              <div class="recommend-people-count-left lsc-people-count col-lg-12">
                <b>Current Events:</b>&nbsp;201
              </div>
              <div class="recommend-action-left lsc-action">
                <div id="lsc-action-plan" class="recommend-action-plan-left lsc-action-plan">
                  <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="Plan Journey"></span>
                </div>
                <div id="lsc-action-join" class="recommend-action-join-left lsc-action-join">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" data-original-title="Join Journey"></span>
                </div>
              </div><!-- recommed-action-left end -->
            </div><!-- recommed-panel-low-left end -->
          </div><!-- recommed-body-main-left end -->
          
        </div>
       </div><!-- recommed-main end -->
      </div>
      <div class="mtp-main lsc-main"> <!-- lsc = low-section-common -->
        <div class="mtp-head lsc-head">
          <div class="mtp-title lsc-title">
            <span><h4><a href="#"><i>Hottest</i></a></h4></span>
          </div>
        </div><!-- recommed-head end -->
        <div class="mtp-body lsc-body">
          <div class="mtp-body-left lsc-body-main col-lg-3">
            <div class="mtp-panel-top-left lsc-panel-top">
              <div class="mtp-img-left lsc-img">
                <div id="car0" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                    <div class="item active">
                      <img src="img/la.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                      <img src="img/chicago.jpg" alt="Chicago" style="width:100%;">
                    </div>
                  
                    <div class="item">
                      <img src="img/ny.jpg" alt="New york" style="width:100%;">
                    </div>
                     <a class="left carousel-control" href="#car0" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#car0" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
            </div><!-- mtp-panel-top end -->
            <div class="mtp-panel-low-left lsc-panel-low plc"> 
              <!-- plc = panel-low-common -->
              <div class="mtp-place-name-left lsc-place-name col-lg-12">
                <b>Place:</b>&nbspCalungute Beach, Goa
              </div>
              <div class="mtp-people-count-left lsc-people-count col-lg-12">
                <b>Current Events:</b>&nbsp201
              </div>
              <div class="mtp-action-left lsc-action">
                <div id="lsc-action-plan" class="mtp-action-plan-left lsc-action-plan">
                  <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="Plan Journey"></span>
                </div>
                <div id="lsc-action-join" class="mtp-action-join-left lsc-action-join">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" data-original-title="Join Journey"></span>
                </div>
              </div><!-- recommed-action-left end -->
            </div><!-- recommed-panel-low-left end -->
          </div><!-- recommed-body-main-left end -->

        </div><!-- recommed-body end -->
        <div class="mtp-body-left lsc-body-main col-lg-3">
            <div class="mtp-panel-top-left lsc-panel-top">
              <div class="mtp-img-left lsc-img">
                <div id="car" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                    <div class="item">
                      <img src="img/la.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                      <img src="img/chicago.jpg" alt="Chicago" style="width:100%;">
                    </div>
                  
                    <div class="item active">
                      <img src="img/ny.jpg" alt="New york" style="width:100%;">
                    </div>
                     <a class="left carousel-control" href="#car" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#car" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
            </div><!-- mtp-panel-top end -->
            <div class="mtp-panel-low-left lsc-panel-low plc"> 
              <!-- plc = panel-low-common -->
              <div class="mtp-place-name-left lsc-place-name col-lg-12">
                <b>Place:</b>&nbsp;Calungute Beach, Goa
              </div>
              <div class="mtp-people-count-left lsc-people-count col-lg-12">
                <b>Current Events:</b>&nbsp;201
              </div>
              <div class="mtp-action-left lsc-action">
                <div id="lsc-action-plan" class="mtp-action-plan-left lsc-action-plan">
                  <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="Plan Journey"></span>
                </div>
                <div id="lsc-action-join" class="mtp-action-join-left lsc-action-join">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" data-original-title="Join Journey"></span>
                </div>
              </div><!-- recommed-action-left end -->
            </div><!-- recommed-panel-low-left end -->
          </div><!-- recommed-body-main-left end -->
          
        </div>
        <div class="mtp-body-left lsc-body-main col-lg-3">
            <div class="mtp-panel-top-left lsc-panel-top">
              <div class="mtp-img-left lsc-img">
                <div id="car1" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                    <div class="item">
                      <img src="img/la.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                      <img src="img/chicago.jpg" alt="Chicago" style="width:100%;">
                    </div>
                  
                    <div class="item active">
                      <img src="img/ny.jpg" alt="New york" style="width:100%;">
                    </div>
                     <a class="left carousel-control" href="#car1" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#car1" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
            </div><!-- mtp-panel-top end -->
            <div class="mtp-panel-low-left lsc-panel-low plc"> 
              <!-- plc = panel-low-common -->
              <div class="mtp-place-name-left lsc-place-name col-lg-12">
                <b>Place:</b>&nbsp;Calungute Beach, Goa
              </div>
              <div class="mtp-people-count-left lsc-people-count col-lg-12">
                <b>Current Events:</b>&nbsp;201
              </div>
              <div class="mtp-action-left lsc-action">
                <div id="lsc-action-plan" class="mtp-action-plan-left lsc-action-plan">
                  <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="Plan Journey"></span>
                </div>
                <div id="lsc-action-join" class="mtp-action-join-left lsc-action-join">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" data-original-title="Join Journey"></span>
                </div>
              </div><!-- recommed-action-left end -->
            </div><!-- recommed-panel-low-left end -->
          </div><!-- recommed-body-main-left end -->
          
        </div>
        <div class="mtp-body-left lsc-body-main col-lg-3">
            <div class="mtp-panel-top-left lsc-panel-top">
              <div class="mtp-img-left lsc-img">
                <div id="car2" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                    <div class="item">
                      <img src="img/la.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                      <img src="img/chicago.jpg" alt="Chicago" style="width:100%;">
                    </div>
                  
                    <div class="item active">
                      <img src="img/ny.jpg" alt="New york" style="width:100%;">
                    </div>
                     <a class="left carousel-control" href="#car2" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#car2" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
            </div><!-- mtp-panel-top end -->
            <div class="mtp-panel-low-left lsc-panel-low plc"> 
              <!-- plc = panel-low-common -->
              <div class="mtp-place-name-left lsc-place-name col-lg-12">
                <b>Place:</b>&nbsp;Calungute Beach, Goa
              </div>
              <div class="mtp-people-count-left lsc-people-count col-lg-12">
                <b>Current Events:</b>&nbsp;201
              </div>
              <div class="mtp-action-left lsc-action">
                <div id="lsc-action-plan" class="mtp-action-plan-left lsc-action-plan">
                  <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="Plan Journey"></span>
                </div>
                <div id="lsc-action-join" class="mtp-action-join-left lsc-action-join">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" data-original-title="Join Journey"></span>
                </div>
              </div><!-- recommed-action-left end -->
            </div><!-- recommed-panel-low-left end -->
          </div><!-- recommed-body-main-left end -->
          
        </div>
        </div>
      </div>
      <div class="ss-main lsc-main"> <!-- lsc = low-section-common -->
        <div class="ss-head lsc-head">
          <div class="ss-title lsc-title">
            <span><h4><a href="#"><i>Season Special</i></a></h4></span>
          </div>
        </div><!-- recommed-head end -->
        <div class="ss-body lsc-body">
          <div class="ss-body-left lsc-body-main col-lg-3">
            <div class="ss-panel-top-left lsc-panel-top">
              <div class="ss-img-left lsc-img">
                <div id="car0" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                    <div class="item active">
                      <img src="img/la.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                      <img src="img/chicago.jpg" alt="Chicago" style="width:100%;">
                    </div>
                  
                    <div class="item">
                      <img src="img/ny.jpg" alt="New york" style="width:100%;">
                    </div>
                     <a class="left carousel-control" href="#car0" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#car0" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
            </div><!-- ss-panel-top end -->
            <div class="ss-panel-low-left lsc-panel-low plc"> 
              <!-- plc = panel-low-common -->
              <div class="ss-place-name-left lsc-place-name col-lg-12">
                <b>Place:</b>&nbspCalungute Beach, Goa
              </div>
              <div class="ss-people-count-left lsc-people-count col-lg-12">
                <b>Current Events:</b>&nbsp201
              </div>
              <div class="ss-action-left lsc-action">
                <div id="lsc-action-plan" class="ss-action-plan-left lsc-action-plan">
                  <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="Plan Journey"></span>
                </div>
                <div id="lsc-action-join" class="ss-action-join-left lsc-action-join">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" data-original-title="Join Journey"></span>
                </div>
              </div><!-- recommed-action-left end -->
            </div><!-- recommed-panel-low-left end -->
          </div><!-- recommed-body-main-left end -->

        </div><!-- recommed-body end -->
        <div class="ss-body-left lsc-body-main col-lg-3">
            <div class="ss-panel-top-left lsc-panel-top">
              <div class="ss-img-left lsc-img">
                <div id="car" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                    <div class="item">
                      <img src="img/la.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                      <img src="img/chicago.jpg" alt="Chicago" style="width:100%;">
                    </div>
                  
                    <div class="item active">
                      <img src="img/ny.jpg" alt="New york" style="width:100%;">
                    </div>
                     <a class="left carousel-control" href="#car" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#car" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
            </div><!-- ss-panel-top end -->
            <div class="ss-panel-low-left lsc-panel-low plc"> 
              <!-- plc = panel-low-common -->
              <div class="ss-place-name-left lsc-place-name col-lg-12">
                <b>Place:</b>&nbsp;Calungute Beach, Goa
              </div>
              <div class="ss-people-count-left lsc-people-count col-lg-12">
                <b>Current Events:</b>&nbsp;201
              </div>
              <div class="ss-action-left lsc-action">
                <div id="lsc-action-plan" class="ss-action-plan-left lsc-action-plan">
                  <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="Plan Journey"></span>
                </div>
                <div id="lsc-action-join" class="ss-action-join-left lsc-action-join">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" data-original-title="Join Journey"></span>
                </div>
              </div><!-- recommed-action-left end -->
            </div><!-- recommed-panel-low-left end -->
          </div><!-- recommed-body-main-left end -->
          
        </div>
        <div class="ss-body-left lsc-body-main col-lg-3">
            <div class="ss-panel-top-left lsc-panel-top">
              <div class="ss-img-left lsc-img">
                <div id="car1" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                    <div class="item">
                      <img src="img/la.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                      <img src="img/chicago.jpg" alt="Chicago" style="width:100%;">
                    </div>
                  
                    <div class="item active">
                      <img src="img/ny.jpg" alt="New york" style="width:100%;">
                    </div>
                     <a class="left carousel-control" href="#car1" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#car1" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
            </div><!-- ss-panel-top end -->
            <div class="ss-panel-low-left lsc-panel-low plc"> 
              <!-- plc = panel-low-common -->
              <div class="ss-place-name-left lsc-place-name col-lg-12">
                <b>Place:</b>&nbsp;Calungute Beach, Goa
              </div>
              <div class="ss-people-count-left lsc-people-count col-lg-12">
                <b>Current Events:</b>&nbsp;201
              </div>
              <div class="ss-action-left lsc-action">
                <div id="lsc-action-plan" class="ss-action-plan-left lsc-action-plan">
                  <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="Plan Journey"></span>
                </div>
                <div id="lsc-action-join" class="ss-action-join-left lsc-action-join">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" data-original-title="Join Journey"></span>
                </div>
              </div><!-- recommed-action-left end -->
            </div><!-- recommed-panel-low-left end -->
          </div><!-- recommed-body-main-left end -->
          
        </div>
        <div class="ss-body-left lsc-body-main col-lg-3">
            <div class="ss-panel-top-left lsc-panel-top">
              <div class="ss-img-left lsc-img">
                <div id="car2" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                    <div class="item">
                      <img src="img/la.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                      <img src="img/chicago.jpg" alt="Chicago" style="width:100%;">
                    </div>
                  
                    <div class="item active">
                      <img src="img/ny.jpg" alt="New york" style="width:100%;">
                    </div>
                     <a class="left carousel-control" href="#car2" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#car2" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
            </div><!-- ss-panel-top end -->
            <div class="ss-panel-low-left lsc-panel-low plc"> 
              <!-- plc = panel-low-common -->
              <div class="ss-place-name-left lsc-place-name col-lg-12">
                <b>Place:</b>&nbsp;Calungute Beach, Goa
              </div>
              <div class="ss-people-count-left lsc-people-count col-lg-12">
                <b>Current Events:</b>&nbsp;201
              </div>
              <div class="ss-action-left lsc-action">
                <div id="lsc-action-plan" class="ss-action-plan-left lsc-action-plan">
                  <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="Plan Journey"></span>
                </div>
                <div id="lsc-action-join" class="ss-action-join-left lsc-action-join">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" data-original-title="Join Journey"></span>
                </div>
              </div><!-- recommed-action-left end -->
            </div><!-- recommed-panel-low-left end -->
          </div><!-- recommed-body-main-left end -->
          
        </div>
        </div>
      </div>
      <div class="fest-main lsc-main"> <!-- lsc = low-section-common -->
        <div class="fest-head lsc-head">
          <div class="fest-title lsc-title">
            <span><h4><a href="#"><i>Festive Selection</i></a></h4></span>
          </div>
        </div><!-- recommed-head end -->
        <div class="fest-body lsc-body">
          <div class="fest-body-left lsc-body-main col-lg-3">
            <div class="fest-panel-top-left lsc-panel-top">
              <div class="fest-img-left lsc-img">
                <div id="car0" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                    <div class="item active">
                      <img src="img/la.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                      <img src="img/chicago.jpg" alt="Chicago" style="width:100%;">
                    </div>
                  
                    <div class="item">
                      <img src="img/ny.jpg" alt="New york" style="width:100%;">
                    </div>
                     <a class="left carousel-control" href="#car0" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#car0" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
            </div><!-- fest-panel-top end -->
            <div class="fest-panel-low-left lsc-panel-low plc"> 
              <!-- plc = panel-low-common -->
              <div class="fest-place-name-left lsc-place-name col-lg-12">
                <b>Place:</b>&nbspCalungute Beach, Goa
              </div>
              <div class="fest-people-count-left lsc-people-count col-lg-12">
                <b>Current Events:</b>&nbsp201
              </div>
              <div class="fest-action-left lsc-action">
                <div id="lsc-action-plan" class="fest-action-plan-left lsc-action-plan">
                  <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="Plan Journey"></span>
                </div>
                <div id="lsc-action-join" class="fest-action-join-left lsc-action-join">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" data-original-title="Join Journey"></span>
                </div>
              </div><!-- recommed-action-left end -->
            </div><!-- recommed-panel-low-left end -->
          </div><!-- recommed-body-main-left end -->

        </div><!-- recommed-body end -->
        <div class="fest-body-left lsc-body-main col-lg-3">
            <div class="fest-panel-top-left lsc-panel-top">
              <div class="fest-img-left lsc-img">
                <div id="car" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                    <div class="item">
                      <img src="img/la.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                      <img src="img/chicago.jpg" alt="Chicago" style="width:100%;">
                    </div>
                  
                    <div class="item active">
                      <img src="img/ny.jpg" alt="New york" style="width:100%;">
                    </div>
                     <a class="left carousel-control" href="#car" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#car" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
            </div><!-- fest-panel-top end -->
            <div class="fest-panel-low-left lsc-panel-low plc"> 
              <!-- plc = panel-low-common -->
              <div class="fest-place-name-left lsc-place-name col-lg-12">
                <b>Place:</b>&nbsp;Calungute Beach, Goa
              </div>
              <div class="fest-people-count-left lsc-people-count col-lg-12">
                <b>Current Events:</b>&nbsp;201
              </div>
              <div class="fest-action-left lsc-action">
                <div id="lsc-action-plan" class="fest-action-plan-left lsc-action-plan">
                  <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="Plan Journey"></span>
                </div>
                <div id="lsc-action-join" class="fest-action-join-left lsc-action-join">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" data-original-title="Join Journey"></span>
                </div>
              </div><!-- recommed-action-left end -->
            </div><!-- recommed-panel-low-left end -->
          </div><!-- recommed-body-main-left end -->
          
        </div>
        <div class="fest-body-left lsc-body-main col-lg-3">
            <div class="fest-panel-top-left lsc-panel-top">
              <div class="fest-img-left lsc-img">
                <div id="car1" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                    <div class="item">
                      <img src="img/la.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                      <img src="img/chicago.jpg" alt="Chicago" style="width:100%;">
                    </div>
                  
                    <div class="item active">
                      <img src="img/ny.jpg" alt="New york" style="width:100%;">
                    </div>
                     <a class="left carousel-control" href="#car1" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#car1" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
            </div><!-- fest-panel-top end -->
            <div class="fest-panel-low-left lsc-panel-low plc"> 
              <!-- plc = panel-low-common -->
              <div class="fest-place-name-left lsc-place-name col-lg-12">
                <b>Place:</b>&nbsp;Calungute Beach, Goa
              </div>
              <div class="fest-people-count-left lsc-people-count col-lg-12">
                <b>Current Events:</b>&nbsp;201
              </div>
              <div class="fest-action-left lsc-action">
                <div id="lsc-action-plan" class="fest-action-plan-left lsc-action-plan">
                  <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="Plan Journey"></span>
                </div>
                <div id="lsc-action-join" class="fest-action-join-left lsc-action-join">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" data-original-title="Join Journey"></span>
                </div>
              </div><!-- recommed-action-left end -->
            </div><!-- recommed-panel-low-left end -->
          </div><!-- recommed-body-main-left end -->
          
        </div>
        <div class="fest-body-left lsc-body-main col-lg-3">
            <div class="fest-panel-top-left lsc-panel-top">
              <div class="fest-img-left lsc-img">
                <div id="car2" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                    <div class="item">
                      <img src="img/la.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                      <img src="img/chicago.jpg" alt="Chicago" style="width:100%;">
                    </div>
                  
                    <div class="item active">
                      <img src="img/ny.jpg" alt="New york" style="width:100%;">
                    </div>
                     <a class="left carousel-control" href="#car2" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#car2" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
            </div><!-- fest-panel-top end -->
            <div class="fest-panel-low-left lsc-panel-low plc"> 
              <!-- plc = panel-low-common -->
              <div class="fest-place-name-left lsc-place-name col-lg-12">
                <b>Place:</b>&nbsp;Calungute Beach, Goa
              </div>
              <div class="fest-people-count-left lsc-people-count col-lg-12">
                <b>Current Events:</b>&nbsp;201
              </div>
              <div class="fest-action-left lsc-action">
                <div id="lsc-action-plan" class="fest-action-plan-left lsc-action-plan">
                  <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="Plan Journey"></span>
                </div>
                <div id="lsc-action-join" class="fest-action-join-left lsc-action-join">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" data-original-title="Join Journey"></span>
                </div>
              </div><!-- recommed-action-left end -->
            </div><!-- recommed-panel-low-left end -->
          </div><!-- recommed-body-main-left end -->
          
        </div>
        </div>
      </div>
    </div><!-- low-section end -->


  {% endblock content %}\

  {% block custom_scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static "js/custom.js" %}"></script>
  {% endblock custom_scripts %}
