<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Collector - Feedback</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/custom/page-style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/custom/collector.css" %}">
  	<link rel="stylesheet" type="text/css" href="{% static "css/fontawesome/fontawesome-all.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img class="img-responsive pull-left" src="{% static 'img/emLogo-1.png' %}" alt="..."></a>
				<div class="page-title col-lg-1"><h1><i>Profile</i></h1></div>
				<div class="input-group input-group-md col-lg-offset-2 col-lg-3" id="nav-search">
					<input type="text" name="search" class="form-control search-input-top" placeholder="Search places or events">
					<span class="input-group-btn">
						<button class="btn btn-danger search-button-top"><span class="glyphicon glyphicon-search"></span></button>
					</span>
			</div>
			</div>
			<div id="user-info-nav" class="user-info-nav col-lg-offset-6">
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<a href="{% url 'timeline' %}">
						<span style="font-size: 13px;">
							<img src="{% static 'img/user-white.png' %}" style="width: 30px">
						</span>
						<span style="margin-left: 8px;">
							Willo Walker</a>
						</span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
                    <li><a href="{% url "timeline" %}">Profile</a></li>
					<li><a href="{% url "setting" %}">Settings</a></li>
					<li><a href="#">Help</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Logout</a></li>
				</ul>
			</div>
			
			<div class="col-lg-offset-7 nav-fmn" >
				<ul class="nav navbar-nav navbar-right" id="navMenu">
					<li><a class="text-center" href="#">Friend Requests</a></li>
					<li><a class="text-center" href="#">Messages</a></li>
					<li><a class="text-center" href="#">Notifications</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="leftSidenav" class="left-sidenav">
  		<a href="javascript:void(0)" class="left-closebtn" onclick="leftCloseNav()">&times;</a>
		<ul class="leftSidenav-content-ul-open sidenav-content-ul-open">
			<li><h1><u> Main Options</u></h1></li>
		  	<li><a href="{% url "story" %}"><span class="glyphicon glyphicon-th" style="font-size: 25px">&nbsp</span>Story</a></li>
			<li><a href="{% url "timeline" %}"><span class="glyphicon glyphicon-sunglasses">&nbsp</span>Profile</a></li>
			<li><a href="{% url "traveller_main" %}"><span class="glyphicon glyphicon-road">&nbsp</span>Traveller</a></li>
			<li><a href="{% url "event_main" %}"><span class="glyphicon glyphicon-pushpin">&nbsp</span>Organizer</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-list-alt">&nbsp</span>Estimator</a></li>
			<li><a href="{% url "emergency" %}"><span class="glyphicon glyphicon-warning-sign">&nbsp</span>Emergency</a></li>
		</ul>
	</div>
	<div class="leftSidenav-content">
		<ul class="leftSidenav-content-ul">
			<li id="t-ham"><span  data-toggle="tooltip" data-placement="right" data-original-title="Menu"  class="glyphicon glyphicon-menu-hamburger ham" style=";cursor:pointer;"   onclick="leftOpenNav()"></span></li>
			<li><a href="{% url "story" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Story" class="glyphicon glyphicon-th" style=""></span></a></li>
			<li><a href="{% url "timeline" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Profile" class="glyphicon glyphicon-sunglasses" style=""></span></a></li>
			<li><a href="{% url "traveller_main" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Traveller" class="glyphicon glyphicon-road" style=""></span></a></li>
			<li><a href="{% url "event_main" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Organizer" class="glyphicon glyphicon-pushpin" style=""></span></a></li>
			<li><a href="#"><span data-toggle="tooltip" data-placement="right" data-original-title="Estimator" class="glyphicon glyphicon-list-alt" style="
			"></span></a></li>
			<li><a href="{% url "emergency" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Emergency" class="glyphicon glyphicon-warning-sign" style="font-size: 35p"></span></a></li>		

		</ul>
	</div>

  <div id="rightSidenav" class="right-sidenav">
  		<a href="javascript:void(0)" class="right-closebtn" onclick="rightCloseNav()">&times;</a>
		<ul class="rightSidenav-content-ul-open sidenav-content-ul-open" style="list-style: none;">
			<li style="color: #ef0707"><h1><u> Page Options</u></h1></li>
			<li><a href="{% url "contribute" %}"><span class="glyphicon glyphicon-cloud-upload">&nbsp</span>Contribute</a></li>
			<li><a href="{% url "feedback" %}"><span class="	glyphicon glyphicon-send"></span>Feedback</a></li>
		</ul>
	</div>

	<div class="rightSidenav-content ">
		<ul class="rightSidenav-content-ul">
			<li id="t-ham"><span data-toggle="tooltip" data-placement="top" data-original-title="Menu" class="glyphicon glyphicon-menu-hamburger" onclick="rightOpenNav()"></span></li>
	  		<li><a href="{% url "contribute" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Contribute" class="glyphicon glyphicon-cloud-upload"></span></a></li>
			<li style="margin-top: 20px"><a href="{% url "feedback" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Feedback" class="glyphicon glyphicon-send" aria-hidden="true"></span></a></li>
		</ul>
	</div>
	<div class="container main col-lg-offset-2 col-lg-8">
		<div class="colt-body-top">
			<div class="colt-heading">
				<h1>Feedback</h1>
			</div>
			<div class="head-desc">
				<p>
					By providing feedback, you contribute in the improvement and enhancement our services which in-turn benefits you and other users in terms of user experience and helps us serve you better. We request you to provide honest feedback as it is crutial for use to know how we need to improve.
				</p>
			</div>
		</div>
		<div class="colt-body-low feed-bl">
			<div class="colt-content">
				<div class="mini-head">
					<h3>Provide Feedback</h3>
				</div>
			</div>
			<table class="table table-responsive feed-table" cellspacing="50">
				<col width="30">
				<col width="250">
				<col width="140">
				<col width="120">
				<col width="120">
				<col width="120">
				<col width="140">
				<thead>
					<th>#</th>
					<th>Questions</th>
					<th colspan="5">Remarks</th>
				</thead>
				<tbody>
					<tr class="active">
						<td>1</td>
						<td id="keep-left">Did you like using Endless Miles?</td>
						<td><input type="radio" name="one">Absolutely Not</td>
						<td><input type="radio" name="one">Somewhat</td>
						<td><input type="radio" name="one">50-50</td>
						<td><input type="radio" name="one">Alot</td>
						<td><input type="radio" name="one">Super Yes</td>
					</tr>
					<tr class="">
						<td>2</td>
						<td id="keep-left">How much did Endless Miles assist you?</td>
						<td><input type="radio" name="two">Absolutely Not</td>
						<td><input type="radio" name="two">Somewhat</td>
						<td><input type="radio" name="two">50-50</td>
						<td><input type="radio" name="two">Alot</td>
						<td><input type="radio" name="two">Super Yes</td>
					</tr>
					<tr class="active">
						<td>3</td>
						<td id="keep-left">Will you recommend a friend<?/td>
						<td><input type="radio" name="one">Absolutely Not</td>
						<td><input type="radio" name="one">Somewhat</td>
						<td><input type="radio" name="one">50-50</td>
						<td><input type="radio" name="one">Alot</td>
						<td><input type="radio" name="one">Super Yes</td>
					</tr>
					<tr>
						<div class="input-group">
						<td>4</td>
						<td id="keep-left">What did you liked most?</td>
						<td><input type="checkbox"  class="" name="one">Look and Feel</td>
						<td><input type="checkbox" name="two">Concept</td>
						<td><input type="checkbox" name="three">Usablity</td>
						<td><input type="checkbox" name="four">Performance</td>
						</div>
						<td><input type="checkbox" name="five">Everything</td>
					</tr>
					<tr class="active">
						<div class="input-group">
						<td>5</td>
						<td id="keep-left">What needs improvement?</td>
						<td><input type="checkbox"  class="" name="one">Look and Feel</td>
						<td><input type="checkbox" name="two">Concept</td>
						<td><input type="checkbox" name="three">Performance</td>
						<td><input type="checkbox" name="four">Everything</td>
						<td><input type="checkbox" class="other-check" name="five" onchange="showOther()">Other</td>
						</div>
					</tr>
					<tr>
						<td>7</td>
						<td id="keep-left">Will you use it again?</td>
						<td><input type="radio" name="two">Never</td>
						<td><input type="radio" name="two">Maybe</td>
						<td><input type="radio" name="two">Sometimes</td>
						<td><input type="radio" name="two">Frequent</td>
						<td><input type="radio" name="two">Very Frequent</td>
					</tr>
					<tr class="active">
						<td>6</td>
						<td id="keep-left">Over-all Experience</td>
						<td><input type="radio" name="two">Amazing</td>
						<td><input type="radio" name="two">Good</td>
						<td><input type="radio" name="two">Okay-Okay</td>
						<td><input type="radio" name="two">Poor</td>
						<td><input type="radio" name="two">Very Poor</td>
					</tr>
					
				</tbody>
			</table>
			<div class="feed-text">
				<label>Write what you feel..</label>
				<textarea>
					
				</textarea>
			</div>
			<div class="feed-submit">
				<button class="btn btn-success"> Submit</button>
			</div>
		</div>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static "js/custom.js" %}"></script>
</body>
</html>
