{% extends 'frame.html' %}
{% load staticfiles %}
  
  {% block title %}Collector-Feedback{% endblock title %}

  {% block static_files %}
    <link rel="stylesheet" type="text/css" href="{% static "css/custom/collector.css" %}">
  {% endblock static_files %}

  {% block page_name %}Feedback{% endblock page_name %}

  {% block inner_rightSideBar %}
      <li><a href="{% url "contribute" %}"><span class="glyphicon glyphicon-cloud-upload">&nbsp</span>Contribute</a></li>
      <li><a href="{% url "feedback" %}"><span class=" glyphicon glyphicon-send"></span>Feedback</a></li>
  {% endblock inner_rightSideBar %}

  {% block outer_rightSideBar %}
      <li><a href="{% url "contribute" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Contribute" class="glyphicon glyphicon-cloud-upload"></span></a></li>
      <li style="margin-top: 20px"><a href="{% url "feedback" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Feedback" class="glyphicon glyphicon-send" aria-hidden="true"></span></a></li>
      <li style="position: absolute; top: 8%"><a href="#"><span data-toggle="tooltip" data-placement="top" data-original-title="Feedback" aria-hidden="true"></span></a></li>
  {% endblock outer_rightSideBar %}

	{% block class_main %} col-lg-offset-2 col-lg-8 {% endblock class_main %}

	{% block content %}
		<div class="colt-body-top">
			<div class="colt-heading">
				<h1>Feedback</h1>
			</div>
			<div class="head-desc">
				<p>
					By providing feedback, you contribute in the improvement and enhancement our services which in-turn benefits you and other users in terms of user experience and helps us serve you better. We request you to provide honest feedback as it is crutial for use to know how we need to improve.
				</p>
			</div>
		</div>
		<div class="colt-body-low feed-bl">
			<div class="colt-content">
				<div class="mini-head">
					<h3>Provide Feedback</h3>
				</div>
			</div>
			<table class="table table-responsive feed-table" cellspacing="50">
				<col width="30">
				<col width="250">
				<col width="140">
				<col width="120">
				<col width="120">
				<col width="120">
				<col width="140">
				<thead>
					<th>#</th>
					<th>Questions</th>
					<th colspan="5">Remarks</th>
				</thead>
				<tbody>
					<tr class="active">
						<td>1</td>
						<td id="keep-left">Did you like using Endless Miles?</td>
						<td><input type="radio" name="one">Absolutely Not</td>
						<td><input type="radio" name="one">Somewhat</td>
						<td><input type="radio" name="one">50-50</td>
						<td><input type="radio" name="one">Alot</td>
						<td><input type="radio" name="one">Super Yes</td>
					</tr>
					<tr class="">
						<td>2</td>
						<td id="keep-left">How much did Endless Miles assist you?</td>
						<td><input type="radio" name="two">Absolutely Not</td>
						<td><input type="radio" name="two">Somewhat</td>
						<td><input type="radio" name="two">50-50</td>
						<td><input type="radio" name="two">Alot</td>
						<td><input type="radio" name="two">Super Yes</td>
					</tr>
					<tr class="active">
						<td>3</td>
						<td id="keep-left">Will you recommend a friend<?/td>
						<td><input type="radio" name="one">Absolutely Not</td>
						<td><input type="radio" name="one">Somewhat</td>
						<td><input type="radio" name="one">50-50</td>
						<td><input type="radio" name="one">Alot</td>
						<td><input type="radio" name="one">Super Yes</td>
					</tr>
					<tr>
						<div class="input-group">
						<td>4</td>
						<td id="keep-left">What did you liked most?</td>
						<td><input type="checkbox"  class="" name="one">Look and Feel</td>
						<td><input type="checkbox" name="two">Concept</td>
						<td><input type="checkbox" name="three">Usablity</td>
						<td><input type="checkbox" name="four">Performance</td>
						</div>
						<td><input type="checkbox" name="five">Everything</td>
					</tr>
					<tr class="active">
						<div class="input-group">
						<td>5</td>
						<td id="keep-left">What needs improvement?</td>
						<td><input type="checkbox"  class="" name="one">Look and Feel</td>
						<td><input type="checkbox" name="two">Concept</td>
						<td><input type="checkbox" name="three">Performance</td>
						<td><input type="checkbox" name="four">Everything</td>
						<td><input type="checkbox" class="other-check" name="five" onchange="showOther()">Other</td>
						</div>
					</tr>
					<tr>
						<td>7</td>
						<td id="keep-left">Will you use it again?</td>
						<td><input type="radio" name="two">Never</td>
						<td><input type="radio" name="two">Maybe</td>
						<td><input type="radio" name="two">Sometimes</td>
						<td><input type="radio" name="two">Frequent</td>
						<td><input type="radio" name="two">Very Frequent</td>
					</tr>
					<tr class="active">
						<td>6</td>
						<td id="keep-left">Over-all Experience</td>
						<td><input type="radio" name="two">Amazing</td>
						<td><input type="radio" name="two">Good</td>
						<td><input type="radio" name="two">Okay-Okay</td>
						<td><input type="radio" name="two">Poor</td>
						<td><input type="radio" name="two">Very Poor</td>
					</tr>
					
				</tbody>
			</table>
			<div class="feed-text">
				<label>Write what you feel..</label>
				<textarea>
					
				</textarea>
			</div>
			<div class="feed-submit">
				<button class="btn btn-success"> Submit</button>
			</div>
		</div>
	{% endblock content %}


	{% block custom_scripts %}{% endblock custom_scripts %}