{% extends 'profile.html' %}
{% load staticfiles %}

	{% block title %}Profile-Friends{% endblock title %}

	{% block sub_sf %}
  	<link rel="stylesheet" type="text/css" href="{% static "css/custom/friends.css" %}">
  	{% endblock sub_sf %}
	
	{% block page_name %}Profile{% endblock page_name %}
	
	{% block boot %}
	  <div class="boot">
	    <div class="friend-options">
	      <div class="friend-options-holder">
	        <div class="friend-owner friend-holder-op">
	          <label class="label-dark">Willo Walker's Friends</label>
	          <a href="#"><label class="label-dark friend-count">(04)</label></a>
	        </div>
	        <div class="friend-search">
	          <label id="friend-search-label">
	          	<input type="text" name="search-input" placeholder="Search Friends...">
	          	<span class="btn btn-default glyphicon glyphicon-search"></span>
	          </label>
	        </div>
	      </div>
	    </div>
	    <div class="friend-container">
	      <div class="friends">
	        <div class="friend-card">
	          <div class="friend-card-contents">
	            <div class="friend-card-cover">
	              <a href="#!" id="friend-select"><img src="{% static "img/friend-cover-1.jpg" %}"></a>
	            </div>
	            <div class="friend-card-info">
	            	<div class="friend-info">
	            		<div class="friend-face">
	            			<img src="{% static "img/ppic-2.jpg" %}">
	            		</div>
	            		<div class="friend-name">
	            			<label class="label-dark">Smoker Jones</label>
	            		</div>
	            		<div class="friend-location">
	            			<label class="label-light">Daman, India</label>
	            		</div>
	            		<div class="friend-info-options">
	            			<button class="dropdown-toggle cap-edit-button" id="friend-edit" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span></button>
	    							<ul id="root-content-set" class="dropdown-menu" aria-labelledby="friend-edit">
	            				<li><a href="#">Unfriend</a></li>
	            				<li><a href="#">Block</a></li>
	            				<li><a href="#">Report</a></li>
	          				</ul>
	            		</div>
	            	</div>
	            	<div class="friend-card-info-low">
	            		<div class="friend-info-slider">
	            			<div id="car" class="carousel slide caro caro-1" data-ride="carousel" data-interval="false">
	            					
	                  <!-- Wrapper for slides -->
		                 	<div id="car-in" class="carousel-inner">
		                    <div class="item active">
		                    	<div class="friend-popular ff">
		                    		<div class="friend-popular-case">
			            						<div class="friend-popular-score">
			            							<span>25</span>
			            						</div>
						            			<div class="friend-popular-title">
						            				<label class="label-dark">Travels</label>
						            			</div>
			            					</div>
			            					<div class="friend-popular-case">
			            						<div class="friend-popular-score">
			            							<span>20</span>
			            						</div>
						            			<div class="friend-popular-title">
						            				<label class="label-dark">Events</label>
						            			</div>
			            					</div>
			            					<div class="friend-popular-case">
			            						<div class="friend-popular-score">
			            							<span>250</span>
			            						</div>
						            			<div class="friend-popular-title">
						            				<label class="label-dark">Photos</label>
						            			</div>
			            					</div>
		                    	</div>
		                    	<div class="friend-msg ff">
		                    		<span class="glyphicon glyphicon-comment"></span>		
		                  	  </div>
		                    </div>
		                    <div class="item">
		                    	<div class="friend-bio ff">
		                    		<p>I like to smoke so much that i change my name from Adil Shaikh to Smoker Jones. I can smoke more than anyone in the world, galaxy, universe, multiverse.!!!</p>
		                    	</div>
		                    	<div class="friend-ago ff">
		                    		<div class="friend-ago-title">
		                    			<label class="label-light">Friends Since</label>
		                    		</div>
		                    		<div class="friend-date">
		                    			<label class="label-dark">November 2017</label>
		                    		</div>
		                    	</div>
		                    </div>
		                 	</div>
		                 	<ol id="bas" class="carousel-indicators">
	      								<li data-target=".caro-1" data-slide-to="0" class="active"></li>
									      <li data-target=".caro-1" data-slide-to="1"></li>
	    								</ol>	
	              		</div> 
	            		</div>	
	            	</div>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="friends">
	        <div class="friend-card">
	          <div class="friend-card-contents">
	            <div class="friend-card-cover">
	              <a href="#!" id="friend-select"><img src="{% static "img/friend-cover-1.jpg" %}"></a>
	            </div>
	            <div class="friend-card-info">
	            	<div class="friend-info">
	            		<div class="friend-face">
	            			<img src="{% static "img/ppic-2.jpg" %}">
	            		</div>
	            		<div class="friend-name">
	            			<label class="label-dark">Smoker Jones</label>
	            		</div>
	            		<div class="friend-location">
	            			<label class="label-light">Daman, India</label>
	            		</div>
	            		<div class="friend-info-options">
	            			<button class="dropdown-toggle cap-edit-button" id="friend-edit" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span></button>
	    							<ul id="root-content-set" class="dropdown-menu" aria-labelledby="friend-edit">
	            				<li><a href="#">Unfriend</a></li>
	            				<li><a href="#">Block</a></li>
	            				<li><a href="#">Report</a></li>
	          				</ul>
	            		</div>
	            	</div>
	            	<div class="friend-card-info-low">
	            		<div class="friend-info-slider">
	            			<div id="car" class="carousel slide caro caro-1" data-ride="carousel" data-interval="false">
	            					
	                  <!-- Wrapper for slides -->
		                 	<div id="car-in" class="carousel-inner">
		                    <div class="item active">
		                    	<div class="friend-popular ff">
		                    		<div class="friend-popular-case">
			            						<div class="friend-popular-score">
			            							<span>25</span>
			            						</div>
						            			<div class="friend-popular-title">
						            				<label class="label-dark">Travels</label>
						            			</div>
			            					</div>
			            					<div class="friend-popular-case">
			            						<div class="friend-popular-score">
			            							<span>20</span>
			            						</div>
						            			<div class="friend-popular-title">
						            				<label class="label-dark">Events</label>
						            			</div>
			            					</div>
			            					<div class="friend-popular-case">
			            						<div class="friend-popular-score">
			            							<span>250</span>
			            						</div>
						            			<div class="friend-popular-title">
						            				<label class="label-dark">Photos</label>
						            			</div>
			            					</div>
		                    	</div>
		                    	<div class="friend-msg ff">
		                    		<span class="glyphicon glyphicon-comment"></span>		
		                  	  </div>
		                    </div>
		                    <div class="item">
		                    	<div class="friend-bio ff">
		                    		<p>I like to smoke so much that i change my name from Adil Shaikh to Smoker Jones. I can smoke more than anyone in the world, galaxy, universe, multiverse.!!!</p>
		                    	</div>
		                    	<div class="friend-ago ff">
		                    		<div class="friend-ago-title">
		                    			<label class="label-light">Friends Since</label>
		                    		</div>
		                    		<div class="friend-date">
		                    			<label class="label-dark">November 2017</label>
		                    		</div>
		                    	</div>
		                    </div>
		                 	</div>
		                 	<ol id="bas" class="carousel-indicators">
	      								<li data-target=".caro-1" data-slide-to="0" class="active"></li>
									      <li data-target=".caro-1" data-slide-to="1"></li>
	    								</ol>	
	              		</div> 
	            		</div>	
	            	</div>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="friends">
	        <div class="friend-card">
	          <div class="friend-card-contents">
	            <div class="friend-card-cover">
	              <a href="#!" id="friend-select"><img src="{% static "img/friend-cover-1.jpg" %}"></a>
	            </div>
	            <div class="friend-card-info">
	            	<div class="friend-info">
	            		<div class="friend-face">
	            			<img src="{% static "img/ppic-2.jpg" %}">
	            		</div>
	            		<div class="friend-name">
	            			<label class="label-dark">Smoker Jones</label>
	            		</div>
	            		<div class="friend-location">
	            			<label class="label-light">Daman, India</label>
	            		</div>
	            		<div class="friend-info-options">
	            			<button class="dropdown-toggle cap-edit-button" id="friend-edit" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span></button>
	    							<ul id="root-content-set" class="dropdown-menu" aria-labelledby="friend-edit">
	            				<li><a href="#">Unfriend</a></li>
	            				<li><a href="#">Block</a></li>
	            				<li><a href="#">Report</a></li>
	          				</ul>
	            		</div>
	            	</div>
	            	<div class="friend-card-info-low">
	            		<div class="friend-info-slider">
	            			<div id="car" class="carousel slide caro caro-1" data-ride="carousel" data-interval="false">
	            					
	                  <!-- Wrapper for slides -->
		                 	<div id="car-in" class="carousel-inner">
		                    <div class="item active">
		                    	<div class="friend-popular ff">
		                    		<div class="friend-popular-case">
			            						<div class="friend-popular-score">
			            							<span>25</span>
			            						</div>
						            			<div class="friend-popular-title">
						            				<label class="label-dark">Travels</label>
						            			</div>
			            					</div>
			            					<div class="friend-popular-case">
			            						<div class="friend-popular-score">
			            							<span>20</span>
			            						</div>
						            			<div class="friend-popular-title">
						            				<label class="label-dark">Events</label>
						            			</div>
			            					</div>
			            					<div class="friend-popular-case">
			            						<div class="friend-popular-score">
			            							<span>250</span>
			            						</div>
						            			<div class="friend-popular-title">
						            				<label class="label-dark">Photos</label>
						            			</div>
			            					</div>
		                    	</div>
		                    	<div class="friend-msg ff">
		                    		<span class="glyphicon glyphicon-comment"></span>		
		                  	  </div>
		                    </div>
		                    <div class="item">
		                    	<div class="friend-bio ff">
		                    		<p>I like to smoke so much that i change my name from Adil Shaikh to Smoker Jones. I can smoke more than anyone in the world, galaxy, universe, multiverse.!!!</p>
		                    	</div>
		                    	<div class="friend-ago ff">
		                    		<div class="friend-ago-title">
		                    			<label class="label-light">Friends Since</label>
		                    		</div>
		                    		<div class="friend-date">
		                    			<label class="label-dark">November 2017</label>
		                    		</div>
		                    	</div>
		                    </div>
		                 	</div>
		                 	<ol id="bas" class="carousel-indicators">
	      								<li data-target=".caro-1" data-slide-to="0" class="active"></li>
									      <li data-target=".caro-1" data-slide-to="1"></li>
	    								</ol>	
	              		</div> 
	            		</div>	
	            	</div>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="friends">
	        <div class="friend-card">
	          <div class="friend-card-contents">
	            <div class="friend-card-cover">
	              <a href="#!" id="friend-select"><img src="{% static "img/friend-cover-1.jpg" %}"></a>
	            </div>
	            <div class="friend-card-info">
	            	<div class="friend-info">
	            		<div class="friend-face">
	            			<img src="{% static "img/ppic-2.jpg" %}">
	            		</div>
	            		<div class="friend-name">
	            			<label class="label-dark">Smoker Jones</label>
	            		</div>
	            		<div class="friend-location">
	            			<label class="label-light">Daman, India</label>
	            		</div>
	            		<div class="friend-info-options">
	            			<button class="dropdown-toggle cap-edit-button" id="friend-edit" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span></button>
	    							<ul id="root-content-set" class="dropdown-menu" aria-labelledby="friend-edit">
	            				<li><a href="#">Unfriend</a></li>
	            				<li><a href="#">Block</a></li>
	            				<li><a href="#">Report</a></li>
	          				</ul>
	            		</div>
	            	</div>
	            	<div class="friend-card-info-low">
	            		<div class="friend-info-slider">
	            			<div id="car" class="carousel slide caro caro-1" data-ride="carousel" data-interval="false">
	            					
	                  <!-- Wrapper for slides -->
		                 	<div id="car-in" class="carousel-inner">
		                    <div class="item active">
		                    	<div class="friend-popular ff">
		                    		<div class="friend-popular-case">
			            						<div class="friend-popular-score">
			            							<span>25</span>
			            						</div>
						            			<div class="friend-popular-title">
						            				<label class="label-dark">Travels</label>
						            			</div>
			            					</div>
			            					<div class="friend-popular-case">
			            						<div class="friend-popular-score">
			            							<span>20</span>
			            						</div>
						            			<div class="friend-popular-title">
						            				<label class="label-dark">Events</label>
						            			</div>
			            					</div>
			            					<div class="friend-popular-case">
			            						<div class="friend-popular-score">
			            							<span>250</span>
			            						</div>
						            			<div class="friend-popular-title">
						            				<label class="label-dark">Photos</label>
						            			</div>
			            					</div>
		                    	</div>
		                    	<div class="friend-msg ff">
		                    		<span class="glyphicon glyphicon-comment"></span>		
		                  	  </div>
		                    </div>
		                    <div class="item">
		                    	<div class="friend-bio ff">
		                    		<p>I like to smoke so much that i change my name from Adil Shaikh to Smoker Jones. I can smoke more than anyone in the world, galaxy, universe, multiverse.!!!</p>
		                    	</div>
		                    	<div class="friend-ago ff">
		                    		<div class="friend-ago-title">
		                    			<label class="label-light">Friends Since</label>
		                    		</div>
		                    		<div class="friend-date">
		                    			<label class="label-dark">November 2017</label>
		                    		</div>
		                    	</div>
		                    </div>
		                 	</div>
		                 	<ol id="bas" class="carousel-indicators">
	      								<li data-target=".caro-1" data-slide-to="0" class="active"></li>
									      <li data-target=".caro-1" data-slide-to="1"></li>
	    								</ol>	
	              		</div> 
	            		</div>	
	            	</div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	{% endblock boot %}

	{% block custom_scripts %}{% endblock custom_scripts %}