<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bs/bootstrap.css' %}">



	<title>First App</title>
</head>
<body>
	<div class="main container">
		<div class="login-card">
			<div class="login-head">
				<h2>Login</h2>
			</div>
			<div class="login-cred">
				<div class="username-cred">
					<label>Username <input type="text" name="username" value="" placeholder="Eg. Harry"></label>
					<label>Password <input type="password" name="password" value="" placeholder="*****"></label>
				</div>
			</div>
			<div class="login-button">
				<a href="{"></a>
			</div>
		</div>
	</div>
</body>
</html>