{% extends 'event.html' %}
{% load staticfiles %}
  
  {% block title %}Myevent{% endblock title %}
  {% block static_files %}
    <link rel="stylesheet" type="text/css" href="{% static "css/custom/myevent-style.css" %}">
  {% endblock static_files %}
  {% block page_name %}Myevent{% endblock page_name %}
        
  {% block class_main %} col-lg-offset-1 col-lg-10 {% endblock class_main %}
  
  {% block content %}
    <div id="left-panel" class="left-panel col-lg-3">
      <div class="left-panel-body">
        <div class="left-panel-body-top">
          <h3>
            Refine Results
          </h3>
          <hr>
        </div>
        <div class="left-panel-body-low">
          <ul style="list-style: none;">
            <li><h4><b>Type</b></h4></li>
            <li><input type="checkbox" name="type-created" value="created"><span>Created</span></li>
            <li><input type="checkbox" name="type-joined" value="joined"><span>Joined</span></li>
            <hr>
            <li><h4><b>Status</b></h4></li>
            <li><input type="checkbox" name="status-starting-soon" value="starting-soon"><span>Starting Soon</span></li>
            <li><input type="checkbox" name="status-on-going" value="on-going"><span>On-Going</span></li>
            <li><input type="checkbox" name="status-completed" value="Completed"><span>Completed</span></li>
            <li><hr></li>
            <li><h4><b>Others</b></h4></li>
            <li><input type="checkbox" name="others-favorites" value="favorites"><span>Favorites</span></li>
            <li><input type="checkbox" name="others-drafts" value="drafts"><span>Drafts</span></li>
            <li><input type="checkbox" name="others-cancelled" value="cancelled"><span>Cancelled</span></li>
            <li><hr></li>
            <li><h4><b>Tickets</b></h4></li>
            <li><input type="checkbox" name="others-favorites" value="favorites"><span>Show All</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="right-panel col-lg-offset-1 col-lg-8">
      <div class="right-panel-main">
        <div class="right-panel-head">
          <div class="right-panel-title">
            <h3>
              Results
            </h3>
            <hr>
          </div>
        </div>
        <div class="right-panel-body">
          <div class="section">
            <div id="box" class="box col-lg-8">
              <div id="tbl1" class="box-layer-1 col-lg-12 layers">
                <div id="tbl1l" class="box-l1-left col-lg-7">
                  <div class="tbl1l-title">
                      <span><i>Around the state in 20 days</i></span>
                  </div>
                </div>
                <div id="tbl1r" class="box-l1-right col-lg-5">
                  <div id="tc" class="creator col-lg-12">
                    <span>Created By:</span>
                    <div class="creator-club">
                      <div class="creator-img">
                        <img src="{% static "img/user-black.png" %}">
                      </div>
                      <div class="creator-name">
                        Willo Walker
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="box-img" class="box-layer col-lg-12 layers box-img">
                <div class="sub-layer logo">
                  <img src="{% static "img/ny.jpg" %}">
                </div>
                <div class="sub-layer cover">
                  <img src="{% static "img/adventure.jpg" %}">
                </div>
              </div>
              <div class="box-layer-2 col-lg-12 layers">
                <div class="src-dest sub-layer">
                  <div class="src sub-layer-1">
                    <span><b>Type:</b></span>&nbsp <span>Venue</span>
                  </div>
                  <div class="dest sub-layer-2">
                    <span><b>Place:</b></span>&nbsp <span>Pune, Maharashtra</span>
                  </div>
                </div>
              </div>
              <div class="box-layer col-lg-12 layers">
                <div class="sub-layer">
                  <span><b>Activity:</b></span>&nbsp <span>Backpacking, Mountain Sports, Adventure</span>
                </div>
              </div>
              <div class="box-layer col-lg-12 layers">
                <div class="mode-type-veh sub-layer">
                  <div class="mode sub-layer-1">
                    <span><b>Start Date:</b></span>&nbsp <span>28-02-2018</span>
                  </div>
                  <div class="type sub-layer-2">
                    <span><b>Start Time:</b></span>&nbsp <span>10:00 am</span>
                  </div>
                </div>
              </div>
              <div class="box-layer col-lg-12 layers">
                <div class="mode-type-veh sub-layer">
                  <div class="mode sub-layer-1">
                    <span><b>End Date:</b></span>&nbsp <span>01-03-2018</span>
                  </div>
                  <div class="type sub-layer-2">
                    <span><b>End Time:</b></span>&nbsp <span>11:00 pm</span>
                  </div>
                </div>
              </div>
              <div class="box-layer col-lg-12 layers">
                <div class="date-time sub-layer">
                  <div class="date sub-layer-1">
                    <span><b>Gender:</b></span>&nbsp <span>Any</span>
                  </div>
                  <div class="time sub-layer-2">
                    <span><b>Age Group:</b></span>&nbsp <span>18-35</span>
                  </div>
                </div>
              </div>
              <div class="box-layer-4 col-lg-12 layers">
                <div class="nop-vac sub-layer">
                  <div class="nop sub-layer-1">
                    <span><b>Participation Deadline:</b></span>&nbsp <span>27-02-2018 12:00 pm</span>
                  </div>
                </div>
              </div>
              <div class="box-layer-4 col-lg-12 layers">
                <div class="nop-vac sub-layer">
                  <div class="nop sub-layer-1">
                    <span><b>People Travelling:</b></span>&nbsp <span>28&nbsp<a href="#">(View)</a></span>
                  </div>
                  <div class="vac sub-layer-2">
                    <span><b>Vacancy:</b></span>&nbsp <span>7</span>
                  </div>
                </div>
              </div>
              
              <div id="tbl5" class="box-layer-5 col-lg-12 layers">
                <div class="sub-layer">
                  <div class="sub-layer-1">
                    <span><b>Description:</b></span>&nbsp <span>Tour the beautiful streets of Daman to find some memarizing momuments and sculptures of the Portuguese era. Tour the beautiful streets of Daman to find some memarizing momuments and sculptures of the Portuguese era.</span>
                  </div>
                  
                </div>
              </div>
            </div>
            <div id="sb" class="side-box col-lg-offset-1 col-lg-3">
              <div class="side-box-body">
                <div class="sb-edit-btn sb">
                  <button class="btn btn-primary" onclick="redirect('plan-event.html')">Edit</button>
                </div>
                <div class="sb-discussion-btn sb">
                  <button class="btn btn-success">Discussion</button>
                </div>
                <div class="sb-cancel-btn sb">
                  <button class="btn btn-danger">Cancel</button>
                </div>
              </div>
            </div>
          </div>      
        </div>
      </div>
    </div>
  {% endblock content %}