{% extends 'trip.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

  {% block title %}My Trip{% endblock title %}
  {% block static_files %}
  <link rel="stylesheet" type="text/css" href="{% static "css/custom/mytrip-style.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/custom/search-trip.css" %}">
  {% endblock static_files %}
  {% block page_name %}My Trip{% endblock page_name %}
        
  {% block class_main %} col-lg-offset-1 col-lg-10 {% endblock class_main %}
  {% block content %}
  <form method="GET">
    <div class="left-panel col-lg-3">
      <div class="left-panel-body">
        <div class="left-panel-body-top">
          <h3>
            Refine Results
          </h3>
          <hr>
        </div>
        <div class="left-panel-body-low">
          <ul style="list-style: none;">
            <li><h4><b>Ownership</b></h4></li>
            <li><input type="radio" name="ownership" value="created"><span>Created</span></li>
            <li><input type="radio" name="ownership" value="joined"><span>Joined</span></li>
            <hr>
            <li><h4><b>Status</b></h4></li>
            <li><input type="checkbox" name="status-starting-soon" value="starting-soon"><span>Starting Soon</span></li>
            <li><input type="checkbox" name="status-on-going" value="on-going"><span>On-Going</span></li>
            <li><input type="checkbox" name="status-completed" value="Completed"><span>Completed</span></li>
            <li><hr></li>
            <li><h4><b>Others</b></h4></li>
            <li><input type="checkbox" name="others-favorites" value="favorites"><span>Favorites</span></li>
            <li><input type="checkbox" name="others-drafts" value="drafts"><span>Drafts</span></li>
            <li><input type="checkbox" name="others-cancelled" value="cancelled"><span>Cancelled</span></li>
          </ul>
          <div id="refine_button">
            <button type="submit" class="btn btn-primary">Refine</button>
          </div> 

        </div>
      </div>
    </div>
    </form>
    <div class="right-panel col-lg-offset-1 col-lg-8">
      <div class="right-panel-main">
        <div class="right-panel-head">
          <div class="right-panel-title">
            <h3>
              Results
            </h3>
            <hr>
          </div>
        </div>
        <div class="right-panel-body">
          {% for record in trip_contents_list %}
            <input id="{{ record.trip_id }}" type="hidden">
            <div class='trip-section'>
            <div id='' class='trip-box col-lg-8'>
              <div id='' class='trip-box-layer-1 col-lg-12 layers tbl1' style="flex: 10">
                <div id='' class='trip-box-l1-left col-lg-7 tbl1l'>
                  <div class='tbl1l-title'>
                      <span id='title'><i>{{record.title}}</i></span>
                  </div>
                </div>
                <div id='' class='trip-box-l1-right tbl1r'>
                  <div id='' class='trip-creator col-lg-12 tc'>
                    <div class='creator-club'>
                      <div class='trip-creator-img'>
                        <img src='{{ MEDIA_URL }}{{ userpic }}'>
                      </div>
                      <div class='trip-creator-name'>
                        {{ record.username }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='trip-box-layer-2 col-lg-12 layers' style="flex: 3">
                <div class='trip-src-dest sub-layer'>
                  <div class='trip-src sub-layer-1'>
                    <span><b>Source:</b></span>&nbsp <span> {{record.source}} </span>
                  </div>
                </div>
              </div>
              <div class='trip-box-layer-2 col-lg-12 layers'>
                <div class='trip-src-dest sub-layer'>
                  <div class='trip-dest sub-layer-2'>
                    <span><b>Destination:</b></span>&nbsp <span> {{record.destination}} </span>
                  </div>
                </div>
              </div>
              <div class='trip-box-layer-4 col-lg-12 layers'>
                <div class='trip-mode-type-veh sub-layer'>
                  <div class='trip-type sub-layer-2'>
                    <span><b>Mode:</b></span>&nbsp <span>{{record.mode}}</span>
                  </div>
                </div>
              </div>
              <div class='trip-box-layer-3 col-lg-12 layers'>
                <div class='trip-date-time sub-layer'>
                  <div class='trip-date sub-layer-1'>
                    <span class="timedate"><b>Starts Date and Time:</b></span>&nbsp <span class="timedate">{{ record.start_date|date:"d M Y" }}</span>
                  </div>
                </div>
              </div>          
              <div id='' class='trip-box-layer-5 col-lg-12 layers tbl5'>
                <div class='trip-route-join sub-layer'>
                  <div class='trip-route sub-layer-1'>
                    <span><b>Detailed-Info:</b></span>&nbsp <span><a id="{{ record.trip_id }}" class="dlink" style="cursor: pointer;">Click to View</a></span>
                  </div>
                </div>
              </div>
            </div>
            <div id='' class='side-box col-lg-offset-1 col-lg-3 sb'>
              <div class='side-box-body'>
                <div class='sb-edit-btn sb'>
                  <button class='btn btn-primary'>Edit</button>
                </div>
                <div class='sb-discussion-btn sb'>
                  <button class='btn btn-success'>Discussion</button>
                </div>
                <div class='sb-cancel-btn sb'>
                  <button class='btn btn-danger'>Cancel</button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="main_TD">
      {% for record in trip_contents_list  %}
        <div id="{{ record.trip_id }}" class="trip-details TD" hidden="hidden">
            <div class="trip-box-big"> 
              <div class="tbb-layer tbb-zero">
                <div class="tbb-op tbb-title">
                  <h3><i>{{ record.title }}</i></h3>
                </div>
              </div>
              <div class="tbb-layer tbb-bck-main">
                <div class="tbb-bck">
                  <img src="{% static "img/"|add:record.moto|add:".jpg" %}">
                </div>
              </div>
              <div class="tbb-layer">
                
                <div class="tbb-op creator">
                  <label style="color: black">Created By</label>
                  <img src="{% static "img/user-black.png" %}">
                </div>
              </div>
              <div class="tbb-layer">
                <div class="part">
                  <label style="color: black">Participants:</label>
                  <div class="tbb-subop">
                    {% for user in record.plist %}
                      <img src="{{ MEDIA_URL }}{{ user.profilepic }}" width="30" height="30">
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="tbb-layer">
                <div class="tbb-op" style="text-align: center; margin-bottom: 20px;">
                  <span style="z-index:1047"><a style="cursor: pointer" class="view_part">View Participants</a></span>
                </div>
              </div>
              <div class="tbb-low">
                <div class="tbb-layer lw">
                  <div class="tbb-op">
                    <label>Source:</label>
                    <span>{{ record.source }}</span>
                  </div>
                </div>
                <div class="tbb-layer lw">
                  <div class="tbb-op">
                    <label>Destination:</label>
                    <span>{{ record.destination }}</span>
                  </div>
                </div>
                <div class="tbb-layer lw">
                  <div class="tbb-op">
                    <label>Travel Moto:</label>
                    <span>{{ record.moto }}</span>
                  </div>
                </div>
                <div class="tbb-layer lw">
                  <div class="tbb-op">
                    <label>Travelling Mode:</label>
                    <span>{{ record.mode }}</span>
                  </div>
                </div>
                <div class="tbb-layer lw">
                  <div class="tbb-op">
                    <label>Start Date & Time:</label>
                    <span>{{ record.start_date|date:"d M Y" }}</span>
                  </div>
                </div>
                <div class="tbb-layer lw">
                  <div class="tbb-op">
                    <label>Gender:</label>
                    <span>{{ record.gender|title }}</span>
                  </div>
                </div>
                <div class="tbb-layer lw">
                  <div class="tbb-op">
                    <label>Age Group:</label>
                    <span>{{ record.age_group }}</span>
                  </div>
                </div>
                <div class="tbb-layer lw">
                  <div class="tbb-op">
                    <label>Description:</label>
                    <span>{{ record.description }}</span>
                  </div>
                </div>
                <div class="tbb-layer lw" style="border: 0;">
                  <div class="tbb-op tbb-route">
                    <label>Route Info: <a href="#!">Click to View</a></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="trip-details UL" hidden="hidden">
                <ul class="part_ul" type="none">
                  <div class="part_title"><h3><i>Participants List</i></h3></div>
                  
                  {% for user in record.plist  %}
                  <hr class="nomarg">
                  <li class="part_li">
                    <img class="part_li_img" src="{{ MEDIA_URL }}{{ user.profilepic }}" width='30' height="30">
                    <span class="part_li_username">{{ user.username|title }}</span>
                    <div class="gap"></div>              
                  </li>
                  {% endfor %}
                    <hr class="nomarg">
                  
                </ul>
            </div>
        </div>
      {% endfor %}
    </div>
    
  {% endblock content %}

  {% block overlay %}
  
    <div id="olay" class="overlay" hidden="hidden">
      
      <div class="route-details">
        
      </div>
    </div>
   
  {% endblock overlay %}

  {% block custom_scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static "js/custom.js" %}"></script>
    <script type="text/javascript">
          var overlay = $( '#olay' )[0];
          var TD = $("#main_TD")
          var id_toFind = ''


          $(".dlink" ).on( 'click', function ( e ) {
              
              link = $(this).attr('id')
              //alert(link)
              id_toFind = "#"+link
              //alert(id_toShow)
              $("#main_TD").find(id_toFind).show()

              $( overlay ).show();
              e.stopPropagation();
              
              
          });

          $( document ).on( 'click', function ( e ) {
              if ( $( e.target ).closest( TD ).length === 0 ) {
                  $( overlay ).hide();
                  $("#main_TD").find(id_toFind).hide()
                  $("#main_TD").find('.UL').hide()
              }
          });
                          
          $( document ).on( 'keydown', function ( e ) {
            if($('.UL').css('display') == 'block'){
              if ( e.keyCode === 27 ) {
                 
                  $("#main_TD").find(".UL").hide()
              }
            }

            else {
              if ( e.keyCode === 27 ) {
                  $( overlay ).hide();
                  $("#main_TD").find(id_toFind).hide()
              }
            }
            
            
          });

          $(".view_part").click(function(){
            $(this).parent().parent().parent().parent().parent().find(".UL").show()

          })
    </script>
  {% endblock custom_scripts %}

