<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Traveller - Suggestions</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static "css/custom/page-style.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/custom/plan-style.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/custom/plan-event.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/fontawesome/fontawesome-all.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static "css/jquery/jquery.qtip.min.css" %}"> 
</head>
<body >
	 <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img class="img-responsive pull-left" src="{% static 'img/emLogo-1.png' %}" alt="..."></a>
        <div class="page-title col-lg-1"><h1><i>Profile</i></h1></div>
        <div class="input-group input-group-md col-lg-offset-2 col-lg-3" id="nav-search">
          <input type="text" name="search" class="form-control search-input-top" placeholder="Search places or events">
          <span class="input-group-btn">
            <button class="btn btn-danger search-button-top"><span class="glyphicon glyphicon-search"></span></button>
          </span>
      </div>
      </div>
      <div id="user-info-nav" class="user-info-nav col-lg-offset-6">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <a href="{% url 'timeline' %}">
            <span style="font-size: 13px;">
              <img src="{% static 'img/user-white.png' %}" style="width: 30px">
            </span>
            <span style="margin-left: 8px;">
              Willo Walker</a>
            </span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
                    <li><a href="{% url "timeline" %}">Profile</a></li>
          <li><a href="{% url "setting" %}">Settings</a></li>
          <li><a href="#">Help</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
      
      <div class="col-lg-offset-7 nav-fmn" >
        <ul class="nav navbar-nav navbar-right" id="navMenu">
          <li><a class="text-center" href="#">Friend Requests</a></li>
          <li><a class="text-center" href="#">Messages</a></li>
          <li><a class="text-center" href="#">Notifications</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="leftSidenav" class="left-sidenav">
      <a href="javascript:void(0)" class="left-closebtn" onclick="leftCloseNav()">&times;</a>
    <ul class="leftSidenav-content-ul-open sidenav-content-ul-open">
      <li><h1><u> Main Options</u></h1></li>
        <li><a href="{% url "story" %}"><span class="glyphicon glyphicon-th" style="font-size: 25px">&nbsp</span>Story</a></li>
      <li><a href="{% url "timeline" %}"><span class="glyphicon glyphicon-sunglasses">&nbsp</span>Profile</a></li>
      <li><a href="{% url "traveller_main" %}"><span class="glyphicon glyphicon-road">&nbsp</span>Traveller</a></li>
      <li><a href="{% url "event_main" %}"><span class="glyphicon glyphicon-pushpin">&nbsp</span>Organizer</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-list-alt">&nbsp</span>Estimator</a></li>
      <li><a href="{% url "emergency" %}"><span class="glyphicon glyphicon-warning-sign">&nbsp</span>Emergency</a></li>
    </ul>
  </div>
  <div class="leftSidenav-content">
    <ul class="leftSidenav-content-ul">
      <li id="t-ham"><span  data-toggle="tooltip" data-placement="right" data-original-title="Menu"  class="glyphicon glyphicon-menu-hamburger ham" style=";cursor:pointer;"   onclick="leftOpenNav()"></span></li>
      <li><a href="{% url "story" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Story" class="glyphicon glyphicon-th" style=""></span></a></li>
      <li><a href="{% url "timeline" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Profile" class="glyphicon glyphicon-sunglasses" style=""></span></a></li>
      <li><a href="{% url "traveller_main" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Traveller" class="glyphicon glyphicon-road" style=""></span></a></li>
      <li><a href="{% url "event_main" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Organizer" class="glyphicon glyphicon-pushpin" style=""></span></a></li>
      <li><a href="#"><span data-toggle="tooltip" data-placement="right" data-original-title="Estimator" class="glyphicon glyphicon-list-alt" style="
      "></span></a></li>
      <li><a href="{% url "emergency" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Emergency" class="glyphicon glyphicon-warning-sign" style="font-size: 35p"></span></a></li>   

    </ul>
  </div>

  <div id="rightSidenav" class="right-sidenav">
      <a href="javascript:void(0)" class="right-closebtn" onclick="rightCloseNav()">&times;</a>
      <ul class="rightSidenav-content-ul-open sidenav-content-ul-open" style="list-style: none;">
        <li style="color: #ef0707"><h1><u> Page Options</u></h1></li>
        <li><a href="{% url "event_main" %}"><span class="glyphicon glyphicon-th-list">&nbsp</span>Guide</a></li>
        <li><a href="{% url "myevent" %}"><span><i class="fa fa-suitcase fai" aria-hidden="true" style="color: #ef0707"></i></span>My Trips</a></li>
        <li><a href="{% url "plan_event" %}"><span class="glyphicon glyphicon-pencil">&nbsp</span>Plan a Trip</a></li>
        <li><a href="{% url "search_event" %}"><span class="glyphicon glyphicon-plus" >&nbsp</span>Join a Trip</a></li>
      </ul>
  </div>

  <div class="rightSidenav-content ">
    <ul class="rightSidenav-content-ul">
      <li id="t-ham"><span data-toggle="tooltip" data-placement="top" data-original-title="Menu" class="glyphicon glyphicon-menu-hamburger" onclick="rightOpenNav()"></span></li>
      <li><a href="{% url "event_main" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Suggestions" class="glyphicon glyphicon-th-list"></span></a></li>
      <li style="margin-top: 20px"><a href="{% url "myevent" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="My Trips" ><i class="fa fa-suitcase" aria-hidden="true"></i></span></a></li>
      <li><a href="{% url "plan_event" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Plan a Trip" class="glyphicon glyphicon-pencil"></span></a></li>
      <li><a href="{% url "search_event" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Join a Trip" class="glyphicon glyphicon-plus"></span></a></li>
    </ul>
  </div>

	<div class="container main col-lg-offset-2 col-lg-9">
    <div id="one" class="plan-container col-lg-8" style="display: block;">
      <div class="plan-head">
        <div class="plan-title">
          <div class="title-top">
            <h2>Create Trip Plan</h2>
          </div>
          <div class="title-low">
            <h3>#1: Basic Details</h3>
          </div>
        </div>
      </div>
      <div class="plan-body">
        <div class="plan-layer">
          <div class="pl-op nobo">
            <div class="lI-group">
              <label class="lI-label">Event Title <span style="color: red">*</span></label>
              <input type="text" class="lI-input" style="margin-left: 0">
            </div>  
          </div>
          <div class="pl-op nobo">
            <div class="lI-group">
              <label>Event Description <span style="color: red">*</span></label>
              <textarea id="ta-desc" rows="7"></textarea>
            </div>
          </div>
          <div class="pl-op">
            <div class="td">
              <div class="td-date">
                <label>Startig Date <span style="color: red;">*</span></label>
                <div class="selects">
                  <select>
                    <option></option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                    <option>2026</option>
                    <option>2027</option>
                    <option>2028</option>
                    <option>2029</option>
                    <option>2030</option>
                  </select>
                  <select>
                    <option></option>
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>Mar</option>
                    <option>Apr</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>Aug</option>
                    <option>Sep</option>
                    <option>Oct</option>
                    <option>Nov</option>
                    <option>Dec</option>
                  </select>
                  <select>
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>21</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                  </select>
                </div>
              </div>
              <div class="td-time">
                <label>Starting Time <span style="color: red;">*</span></label>
                <div class="selects">
                  <select>
                    <option></option>
                    <option>12</option>
                    <option>11</option>
                    <option>10</option>
                    <option>9</option>
                    <option>8</option>
                    <option>7</option>
                    <option>6</option>
                    <option>5</option>
                    <option>4</option>
                    <option>3</option>
                    <option>2</option>
                    <option>1</option>
                  </select>
                  <select>
                    <option></option>
                    <option>am</option>
                    <option>pm</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="pl-op">
            <div class="td">
              <div class="td-date">
                <label>Ending Date <span style="color: red;">*</span></label>
                <div class="selects">
                  <select>
                    <option></option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                    <option>2026</option>
                    <option>2027</option>
                    <option>2028</option>
                    <option>2029</option>
                    <option>2030</option>
                  </select>
                  <select>
                    <option></option>
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>Mar</option>
                    <option>Apr</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>Aug</option>
                    <option>Sep</option>
                    <option>Oct</option>
                    <option>Nov</option>
                    <option>Dec</option>
                  </select>
                  <select>
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>21</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                  </select>
                </div>
              </div>
              <div class="td-time">
                <label>Ending Time <span style="color: red;">*</span></label>
                <div class="selects">
                  <select>
                    <option></option>
                    <option>12</option>
                    <option>11</option>
                    <option>10</option>
                    <option>9</option>
                    <option>8</option>
                    <option>7</option>
                    <option>6</option>
                    <option>5</option>
                    <option>4</option>
                    <option>3</option>
                    <option>2</option>
                    <option>1</option>
                  </select>
                  <select>
                    <option></option>
                    <option>am</option>
                    <option>pm</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="pl-op">
            <label>Deadline <span class="help glyphicon glyphicon-question-sign" title="Participation Deadline"></span></label>
            <div class="rad-club">
              <div class="rads" style="flex: 4;">
                <input type="radio" name="dj" value="dj-no" style="margin-right: 10px;" checked>
                <label style="font-weight: 400">Anytime</label>
              </div>
              <div class="rads" style="flex: 4;">
                <input type="radio" name="dj" value="dj-yes" style="margin-right: 10px;">
                <label style="font-weight: 400">Limit</label>
              </div>
            </div>
            <div class="dead-join" style="display: none;">
              <div class="td">
              <div class="td-date">
                <label>Deadline Date<span style="color: red;">*</span></label>
                <div class="selects">
                  <select>
                    <option></option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                    <option>2026</option>
                    <option>2027</option>
                    <option>2028</option>
                    <option>2029</option>
                    <option>2030</option>
                  </select>
                  <select>
                    <option></option>
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>Mar</option>
                    <option>Apr</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>Aug</option>
                    <option>Sep</option>
                    <option>Oct</option>
                    <option>Nov</option>
                    <option>Dec</option>
                  </select>
                  <select>
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>21</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                  </select>
                </div>
              </div>
              <div class="td-time">
                <label>Deadline Time <span style="color: red;">*</span></label>
                <div class="selects">
                  <select>
                    <option></option>
                    <option>12</option>
                    <option>11</option>
                    <option>10</option>
                    <option>9</option>
                    <option>8</option>
                    <option>7</option>
                    <option>6</option>
                    <option>5</option>
                    <option>4</option>
                    <option>3</option>
                    <option>2</option>
                    <option>1</option>
                  </select>
                  <select>
                    <option></option>
                    <option>am</option>
                    <option>pm</option>
                  </select>
                </div>
              </div>
            </div>
            </div>
          </div>

          <div class="pl-op">
            <label>Event Privacy <span style="color: red;">*</span></label>
            <div class="rad-club">
              <div class="rads" style="flex: 4;">
                <input type="radio" name="priv" style="margin-right: 10px;" checked="checked">
                <label style="font-weight: 400">Public</label>
              </div>
              <div class="priv-rad" style="flex: 4;">
                <input type="radio" name="priv" style="margin-right: 10px;">
                <label style="font-weight: 400">Private</label>
              </div>
            </div>
          </div>
        </div>
        <div class="navigante">
          <div id="btn-cancel" class="btn-cancel">
            <button class="btn btn-danger" onclick="abort()"><a href="mytrip.html">x</a></button>
          </div>
          <div id="btn-save" class="btn-save">
            <button class="btn btn-success glyphicon glyphicon-floppy-disk" onclick="save()"><a href="mytrip.html"></a></button>
          </div>
          <div id=btn-prev class="btn-prev" style="visibility: hidden;">
            <button class="btn btn-primary">Prev</button>
          </div>
          <div id="btn-next" class="btn-next">
            <button class="btn btn-primary" onclick="navigante('two','one','three','four')">Next</button>
          </div>
        </div>
      </div>
    </div>
    <div id="two" class="plan-container col-lg-8" style="display: none;">
      <div class="plan-head">
        <div class="plan-title">
          <div class="title-top">
            <h2>Create Event</h2>
          </div>
          <div class="title-low">
            <h3>#2: Location Details</h3>
          </div>
        </div>
      </div>
      <div id="venue" class="plan-body">
        <div class="plan-layer">
          <div class="pl-op">
            <label>Event Location <span style="color: red;">*</span></label>
            <div class="rad-club">
              <div class="rads" style="flex: 4;">
                <input type="radio" name="loc" value="venue" style="margin-right: 10px;" checked="checked">
                <label style="font-weight: 400">Venue</label>
              </div>
              <div class="priv-rad" style="flex: 4;">
                <input type="radio" name="loc" value="online" style="margin-right: 10px;">
                <label style="font-weight: 400">Online</label>
              </div>
            </div>
          </div>
          <div class="pl-op nobo" style="margin: 0;">
            <img src="{% static "img/maps.png" %}" style="width: 100%;">
          </div>
          <div class="divide nobo">
            <label class="divide-top" style="text-align: right;"><u>Choose a location on Maps</u></label>
            <label class="divide-mid" style="text-align: center; border-bottom: 1px solid lightgrey; border-top: 1px solid lightgrey; padding: 5px; ">OR</label>
            <label class="divide-low"><u>Enter Manually</u></label>
          </div>
          <div class="pl-op nobo">
            <div class="lI-group">
              <label class="lI-label">Venue Name<span style="color: red">*</span></label>
              <input type="text" class="lI-input" style="margin-left: 0">
            </div>
          </div>
          <div class="pl-op nobo">
            <div class="lI-group">
              <label class="lI-label">Street Address<span style="color: red">*</span></label>
              <input type="text" class="lI-input" style="margin-left: 0">
            </div>
          </div>
          <div class="pl-op nobo">
            <div class="lI-group">
              <label class="lI-label">City<span style="color: red">*</span></label>
              <input type="text" class="lI-input" style="margin-left: 0">
            </div>
          </div>
          <div class="pl-op nobo">
            <div class="lI-group">
              <label class="lI-label">State<span style="color: red">*</span></label>
              <input type="text" class="lI-input" style="margin-left: 0">
            </div>
          </div>
          <div class="pl-op nobo">
            <div class="lI-group">
              <label class="lI-label">Country<span style="color: red">*</span></label>
              <input type="text" class="lI-input" style="margin-left: 0">
            </div>
          </div>
          <div class="pl-op nobo">
            <div class="lI-group">
              <label class="lI-label">Pincode<span style="color: red">*</span></label>
              <input type="text" class="lI-input" style="margin-left: 0">
            </div>
          </div>
        </div>
        <div class="navigante">
          <div id="btn-cancel" class="btn-cancel">
            <button class="btn btn-danger" onclick="abort()"><a href="mytrip.html">x</a></button>
          </div>
          <div id="btn-save" class="btn-save">
            <button class="btn btn-success glyphicon glyphicon-floppy-disk" onclick="save()"><a href="mytrip.html"></a></button>
          </div>
          <div id=btn-prev class="btn-prev">
            <button class="btn btn-primary" onclick="navigante('one','two','three','four')">Prev</button>
          </div>
          <div id="btn-next" class="btn-next">
            <button class="btn btn-primary" onclick="navigante('three','one','two','four')">Next</button>
          </div>
        </div>
      </div>
    </div>
    <div id="three" class="plan-container col-lg-8" style="display: none;">
      <div class="plan-head">
        <div class="plan-title">
          <div class="title-top">
            <h2>Create Event</h2>
          </div>
          <div class="title-low">
            <h3>#3: Misc Details</h3>
          </div>
        </div>
      </div>
      <div class="plan-body">
        <div class="plan-layer">
          <div class="pl-op nobo">
            <div class="cat-main">
              <div class="search-cat cat-1 ">
                <div class="lI-group">
                  <label class="lI-label" >Event Segment <span style="color: red">*</span></label>
                  <input class="lI-input" type="text" placeholder="Search..." list="cat" id="search" data-list-focus="true" style="margin-left: 0" autocomplete="off">Eg. Adventure or Business
                    <datalist id="cat">
                        <select>
                            <option value="Talks"></option>
                            <option value="Entertainment"></option>
                            <option value="Adventure & Sports"></option>
                            <option value="Business & Tech"></option>
                            <option value="Society & Charity"></option>
                            <option value="Interests"></option>
                        </select>
                    </datalist>
                </div>
              </div>
              <div class="search-cat cat-2">
                <div class="lI-group">
                  <label class="lI-label">Event Category <span style="color: red">*</span></label>
                  <input class="lI-input" type="text" placeholder="Search..." list="cat" id="search" data-list-focus="true" style="margin-left: 0" autocomplete="off">Eg. Air sports or Mountain Sports
                    <datalist id="cat">
                        <select>
                            <option value="Talks"></option>
                            <option value="Entertainment"></option>
                            <option value="Adventure & Sports"></option>
                            <option value="Business & Tech"></option>
                            <option value="Society & Charity"></option>
                            <option value="Interests"></option>
                        </select>
                    </datalist>
                </div>
              </div>
              <div class="search-cat cat-3">
                <div class="lI-group">
                  <label class="lI-label">Event Activity <span style="color: red">*</span></label>
                  <input class="lI-input" type="text" placeholder="Search..." list="cat" id="search" data-list-focus="true" style="margin-left: 0" autocomplete="off">Eg. Parasailing or Backpacking
                    <datalist id="cat">
                        <select>
                            <option value="Talks"></option>
                            <option value="Entertainment"></option>
                            <option value="Adventure & Sports"></option>
                            <option value="Business & Tech"></option>
                            <option value="Society & Charity"></option>
                            <option value="Interests"></option>
                        </select>
                    </datalist>
                </div>
              </div>
            </div>
          </div>
          <div class="pl-op tupac">
            <div class="sub-pl-op">
              <label>Gender</label>
              <select>
                  <option></option>
                  <option>Male</option>
                  <option>Female</option>
                  <option>Others</option>
                  <option selected>Any</option>
               </select>
            </div>
            <div class="sub-pl-op">
              <label>Age Group:</label>
              <div class="sub2-pl-op">
                <select>
                  <option disabled selected>From</option>
                  <option>Under 18</option>
                  <option>18-30</option>
                  <option>30-50</option>
                  <option>Above 50</option>
                </select>
                <select>
                  <option disabled selected>To</option>
                  <option>Under 18</option>
                  <option>18-30</option>
                  <option>30-50</option>
                  <option>Above 50</option>
                </select>
              </div> 
            </div>
          </div>
          <div class="pl-op">
            <label>Limit Participants</label>
            <div class="rad-club">
              <div class="rads" style="flex: 4;">
                <input type="radio" name="limit" value="limit-yes" style="margin-right: 10px;" checked="checked">
                <label style="font-weight: 400">Yes</label>
              </div>
              <div class="rads" style="flex: 4;">
                <input type="radio" name="limit" value="limit-no" style="margin-right: 10px;" checked>
                <label style="font-weight: 400">No</label>
              </div>
            </div>
            <div class="limit-part" style="display: none;">
              <div class="lI-group">
                  <label class="lI-label">Enter Limit <span style="color: red">*</span></label>
                  <input class="lI-input" type="text" placeholder="Eg. 10 or 50" id="search" style="margin-left: 0" autocomplete="off">
                </div>
            </div>
          </div>
          <div class="pl-op">
            <label>Entry Fees</label>
            <div class="rad-club">
              <div class="rads" style="flex: 4;">
                <input type="radio" name="charge" value="charge-no" style="margin-right: 10px;" checked>
                <label style="font-weight: 400">Free</label>
              </div>
              <div class="rads" style="flex: 4;">
                <input type="radio" name="charge" value="charge-yes" style="margin-right: 10px;">
                <label style="font-weight: 400">Payable</label>
              </div>
            </div>
            <div class="charge" style="display: none;">
              <div class="lI-group">
                  <label class="lI-label">Enter amount (INR)<span style="color: red">*</span></label>
                  <input class="lI-input" type="text" placeholder="Eg. 1000" id="search" style="margin-left: 0" autocomplete="off">
                </div>
            </div>
          </div>
        </div>
        <div class="navigante">
          <div id="btn-cancel" class="btn-cancel">
            <button class="btn btn-danger" onclick="abort()"><a href="mytrip.html">x</a></button>
          </div>
          <div id="btn-save" class="btn-save">
            <button class="btn btn-success glyphicon glyphicon-floppy-disk" onclick="save()"><a href="mytrip.html"></a></button>
          </div>
          <div id=btn-prev class="btn-prev">
            <button class="btn btn-primary" onclick="navigante('two','one','three','four')">Prev</button>
          </div>
          <div id="btn-next" class="btn-next">
            <button class="btn btn-primary" onclick="navigante('four','one','two','three')">Next</button>
          </div>
        </div>
      </div>
    </div>
    <div id="four" class="plan-container col-lg-8" style="display: none;">
      <div class="plan-head">
        <div class="plan-title">
          <div class="title-top">
            <h2>Create Event</h2>
          </div>
          <div class="title-low">
            <h3>#4: Photo Uploads</h3>
          </div>
        </div>
      </div>
      <div class="plan-body">
        <div class="plan-layer">
          <div class="pl-op">
            <label>Upload a Logo</label>
            <div class="logo-up">

              <input class="file-upload-input" id="logo-up-inp" type="file" id="logoImage" accept="image/*" style="display: none;">
              <label for="logo-up-inp"><img src="{% static "img/stamp.png" %}" style="width: 40px; margin-right: 13px;">Choose a file</label>  
            </div>
            <p>
              NOTE : This image will be displayed on invoice and ticket. The ideal dimension is 150x150 pixels and the maximum image size is 900KB
            </p>
          </div>
          <div class="pl-op">
            <label>Cover Photo <span style="color: red;">*</span></label>
            <div class="cover-up" >
              <input class="file-upload-input" id="cover-up-inp" type="file" id="coverImage" accept="image/*" style="display: none;">
              <label for="logo-up-inp"><img src="{% static "img/cover.png" %}" style="width: 80px; margin-right: 13px;">Choose a file</label>
            </div>
            <p>
              NOTE : Minimum size should be 850x550 pixels. Maximum file size is 900KB
            </p>
          </div>
        </div>
        <div class="navigante">
          <div id="btn-cancel" class="btn-cancel">
            <button class="btn btn-danger" onclick="abort()"><a href="mytrip.html">x</a></button>
          </div>
          <div id="btn-save" class="btn-save">
            <button class="btn btn-success glyphicon glyphicon-floppy-disk" onclick="save()"><a href="mytrip.html"></a></button>
          </div>
          <div id=btn-prev class="btn-prev">
            <button class="btn btn-primary" onclick="navigante('three','one','two','four')">Prev</button>
          </div>
          <div id="btn-next" class="btn-next">
            <button class="btn btn-primary" onclick="">Publish</button>
          </div>
        </div>
      </div>
    </div>
    <div id="progress-container" class="progress-container col-lg-offset-1 col-lg-3">
  		<div class="progress-main">
        <div class="prog-head">
          <div class="prog-title">
            <h2>Progress Bar</h2>
          </div>
        </div>
        <div class="prog-body">
          <div class="club">
            <div class="prog-layer" style="margin-top: 10px;">
              <div class="hash first" onclick="navigante('one','two','three','four')">
                <div class="sub-hash p-heads">
                  <h4><b>#1 Basic Details</b></h4>
                </div>
                <div class="sub-hash p-bot">
                  <div class="s-sh">
                    <span class="hash-content-left"><b>Ev. Title:</b></span>
                    <span class="hash-content-right">A Travel</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left"><b>Ev. Desc:</b></span>
                    <span class="hash-content-right help" title="Tour the beautiful streets of Daman to find some memarizing momuments and sculptures of the Portuguese era">Tour the beautiful streets of Daman to find some memarizing momuments and sculptures of the Portuguese era</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left">Start Date:</span>
                    <span class="hash-content-right">28/02/18</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left">Start Time:</span>
                    <span class="hash-content-right">10:00 am</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left">End Date:</span>
                    <span class="hash-content-right">30/02/18</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left">End Time:</span>
                    <span class="hash-content-right">11:00 pm</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left">Deadline:</span>
                    <span class="hash-content-right">Anytime</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left">Privacy:</span>
                    <span class="hash-content-right">Public</span>
                  </div>
                </div>  
              </div>
            </div>
            <div class="prog-layer">
              <div class="hash" onclick="navigante('two','one','three','four')">
                <div class="sub-hash p-heads">
                  <h4><b>#2 Location Details</b></h4>
                </div>
                <div class="sub-hash p-bot">
                  <div class="s-sh">
                    <span class="hash-content-left">Ev. Loc.:</span>
                    <span class="hash-content-right">Venue</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left">Venue Name:</span>
                    <span class="hash-content-right">The Lounge</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left">Street Addr.:</span>
                    <span class="hash-content-right">KK Marg</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left">City:</span>
                    <span class="hash-content-right">Daman</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left">State:</span>
                    <span class="hash-content-right">D&D</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left">Country:</span>
                    <span class="hash-content-right">India</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left">Pincode:</span>
                    <span class="hash-content-right">396210</span>
                  </div>
                </div>   
              </div>
            </div>
          </div>
          <div class="club">
            <div class="prog-layer">
              <div class="hash" onclick="navigante('three','two','one','four')">
                <div class="sub-hash p-heads">
                  <h4><b>#3 Misc Details</b></h4>
                </div>
                <div class="sub-hash p-bot">
                  <div class="s-sh">
                    <span class="hash-content-left">Ev. Segment:</span>
                    <span class="hash-content-right">Adventure</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left help" title="Event Category">Ev. Categ.:</span>
                    <span class="help hash-content-right" title="Mountain Sports">Mountain Sport</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left help" title="Event Category">Ev. Activity.:</span>
                    <span class="hash-content-right">Backpacking</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left"><b>Gender:</b></span>
                    <span class="hash-content-right">Men Only</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left"><b>Age Group:</b></span>
                    <span class="hash-content-right">U-18, 18-30</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left"><b>Limit:</b></span>
                    <span class="hash-content-right">Any</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left"><b>Entry Fee</b></span>
                    <span class="hash-content-right">Any</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="prog-layer">
            <div class="hash" onclick="navigante('four','two','three','one')">
              <div class="sub-hash p-heads">
                <h4><b>#4 Photo Upload</b></h4>
              </div>
              <div class="sub-hash p-bot">
                <div class="s-sh">
                  <span class="hash-content-left"><b>Logo:</b></span>
                  <span class="hash-content-right">Yes</span>
                </div>
                <div class="s-sh">
                  <span class="hash-content-left"><b>Cover Photo:</b></span>
                  <span class="hash-content-right">Yes</span>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src='{% static "js/jquery-ui.min.js" %}'></script>
  <script type="text/javascript" src="{% static "js/jquery.qtip.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/custom.js" %}"></script>
  <script type="text/javascript" name="hide-show">
    $('input').focus(function(){
     $(this).parents('.lI-group').addClass('focused');
    });
    $('textarea').focus(function(){
     $(this).parents('.lI-group').addClass('focused');
    });

    $('input').blur(function(){
      var inputValue = $(this).val();
      if ( inputValue == "" ) {
        $(this).removeClass('filled');
        $(this).parents('.lI-group').removeClass('focused');  
      } else {
        $(this).addClass('filled');
      }
    })  
    $('textarea').blur(function(){
      var inputValue = $(this).val();
      if ( inputValue == "" ) {
        $(this).removeClass('filled');
        $(this).parents('.lI-group').removeClass('focused');  
      } else {
        $(this).addClass('filled');
      }
    })  
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('input[type=radio][name=loc]').change(function() {
          if (this.value == 'venue') {
              $(".nobo").show();
          }
          else if (this.value == 'online') {
              $(".nobo").hide();
          }
      });
   });

    $(document).ready(function() {
      $('input[type=radio][name=limit]').change(function() {
          if (this.value == 'limit-yes') {
              $(".limit-part").show();
          }
          else if (this.value == 'limit-no') {
              $(".limit-part").hide();
          }
      });
    });
    $(document).ready(function() {
      $('input[type=radio][name=charge]').change(function() {
          if (this.value == 'charge-yes') {
              $(".charge").show();
          }
          else if (this.value == 'charge-no') {
              $(".charge").hide();
          }
      });
    });
    $(document).ready(function() {
      $('input[type=radio][name=dj]').change(function() {
          if (this.value == 'dj-yes') {
              $(".dead-join").show();
          }
          else if (this.value == 'dj-no') {
              $(".dead-join").hide();
          }
      });
    });
  </script>
  <script type="text/javascript" name="qtip">
       $('.help').qtip({
          show: {
              effect: function() {
                  $(this).show('slide', 500);
              }
          },
          hide: {
              effect: function() {
                  $(this).hide('slide', 500);
              }
          }
       });
  </script>
  <script type="text/javascript">
    var addclass = 'prog-focus';
    var initremove = 'first';
    var $cols = $('.hash').click(function(e) {
      $cols.removeClass(addclass);
      $cols.removeClass(initremove);
      $(this).addClass(addclass);
    });
  </script>
</body>
</html>
