{% extends 'trip.html' %}
{% load staticfiles %}
  
  {% block title %}Plan Trip{% endblock title %}

  {% block static_files %}
  <link rel="stylesheet" type="text/css" href="{% static "css/custom/plan-style.css" %}">
  {% endblock static_files %}
  
  {% block page_name %}Plan Trip{% endblock page_name %}
  
  {% block class_main %} col-lg-offset-2 col-lg-9 {% endblock class_main %}
  
  {% block content %}
  <div id="iframe_block">
      <iframe id="cost_frame" class="cost_frame" src="#" frameborder="0" allowfullscreen></iframe>
      <button id="hideframe" class="btn btn-success">Done</button>
  </div>
    <div id="one" class="plan-container col-lg-8" style="display: block;">
  			<div class="plan-head">
  				<div class="plan-title">
  					<div class="title-top">
  						<h2>Create Trip Plan</h2>
  					</div>
  					<div class="title-low">
  						<h3>#1: Type</h3>
  					</div>
  				</div>
  			</div>
  			<div class="plan-body">
  				<div class="layer-1">
  					<div class="l1-head">
  						<div class="l1-title">
  							<h4><b>Company:</b></h4>
  						</div>
  					</div>
  					<div class="l1-options">
  						<div id="solo" class="option-solo op-ty" onclick="get_company(this.id)">
  							<img src="{% static "img/solo-traveller.jpg" %}">
  							<span><h3>SOLO</h3></span>
  						</div>
  							
  						<div id="group" class="option-group op-ty" onclick="get_company(this.id)">
  							<img src="{% static "img/group-traveller.jpg" %}">
  							<span><h3>GROUP</h3></span>
  						</div>
  					</div>

  				</div>
  				<div class="layer-2">
  					<div class="l2-head">
  						<div class="l2-title">
  							<h4>Travel Moto:</h4>
  						</div>
  					</div>
  					<div class="l2-options">
  						<div class="sub-layer-1 sl">
  							<div class="sl1 op">
  								<div id="adventure" class="sl1-op1 sop" onclick="get_moto(this.id)">
  									<img src="{% static "img/adventure.jpg" %}">
  									<span><h3>Adventure</h3></span>
  								</div>
  							
  								<div id="exploring" class="sl1-op2 sop" onclick="get_moto(this.id)">
		  							<img src="{% static "img/explore.jpg" %}">
		  							<span><h3>Exploring</h3></span>
  								</div>
  							</div>
  							<div class="sl2 op">
  								<div id="photography" class="sl2-op1 sop" onclick="get_moto(this.id)">
  									<img src="{% static "img/photography.jpg" %}">
  									<span><h3>Photography</h3></span>
  								</div>
  							
  								<div id="sports" class="sl2-op2 sop" onclick="get_moto(this.id)">
		  							<img src="{% static "img/sports.jpg" %}">
		  							<span><h3>Sport Event</h3></span>
  								</div>
  							</div>
  							<div class="sl3 op">
  								<div id="food" class="sl3-op1 sop" onclick="get_moto(this.id)">
  									<img src="{% static "img/food.jpg" %}">
  									<span><h3>Food & Cuisine</h3></span>
  								</div>
  							
  								<div id="fitness" class="sl3-op2 sop" onclick="get_moto(this.id)">
		  							<img src="{% static "img/exercise.jpg" %}">
		  							<span><h3>Fitness</h3></span>
  								</div>
  							</div>
  							<div class="sl4 op">
  								<div id="shopping" class="sl4-op1 sop" onclick="get_moto(this.id)">
  									<img src="{% static "img/shopping.jpg" %}" >
  									<span><h3>Shopping</h3></span>
  								</div>
  							
  								<div id="travel" class="sl4-op2 sop" onclick="get_moto(this.id)">
		  							<img src="{% static "img/travel-blog.jpg" %}">
		  							<span><h3>Travel Blogging</span>
  								</div>
  							</div>
  							<div class="sl5 op">
  								<div id="partying" class="sl5-op1 sop" onclick="get_moto(this.id)">
  									<img src="{% static "img/party.jpg" %}">
  									<span><h3>Partying</h3></span>
  								</div>
  							
  								<div id="backtracking" class="sl5-op2 sop" onclick="get_moto(this.id)">
		  							<img src="{% static "img/backpacking.jpg" %}">
		  							<span><h3>Backtracking</h3></span>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  				<div class="layer-3"><!--First Layer corner options-->
  					<div class="navigante">
  						<div id="btn-cancel" class="btn-cancel">
  							<button class="btn btn-danger" onclick="abort()"><a href="{% url 'mytrip' %}">x</a></button>
  						</div>
  						<div id="btn-save" class="btn-save">
  							<button class="btn btn-success glyphicon glyphicon-floppy-disk" onclick="save()"><a href="{% url 'mytrip' %}"></a></button>
  						</div>
  						<div id=btn-prev class="btn-prev" style="visibility: hidden;">
  							<button class="btn btn-primary" onclick="focus_click('two','one')">Prev</button>
  						</div>
  						<div id="btn-next" class="btn-next">
  							<button class="btn btn-primary" onclick="next_click1('two','one','three','four', 'two', 'one')">Next</button>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
      <div id="two" class="plan-container col-lg-8">
        <div class="plan-head">
          <div class="plan-title">
            <div class="title-top">
              <h2>Create Trip Plan</h2>
            </div>
            <div class="title-low">
              <h3>#2: Route Info</h3>   
            </div>
          </div>
        </div>
        <div class="plan-body">
          <div class="p2-layer-1 col-lg-10 col-lg-offset-1">
            <div class="p2-l1-options col-lg-12">
              <div id="p2-l1-op" class="source l1-op col-lg-10 col-lg-offset-1">
                <label><span>Source:</span><input id="frominp" class="p3-vs" type="text" name="source"></label>
              </div>
                
              <div id="p2-l1-op" class="dest l1-op col-lg-10 col-lg-offset-1">
                <label><span>Destination:</span><input id="toinp" class="p3-vs" type="text" name="dest" style="flex: 9;"></label>
              </div>
              <br>
              
            </div>
            <div class="vehicle l1-op col-lg-7 col-lg-offset-4">
              <div class="veh-club">
                <span>Mode:</span>
                <select id="mode" class="vehicle-select p2-vs">
                <option value="">-----</option>
                <option value="car">Car</option>
                <option value="motorbike">Motorbike</option>
                <option value="cycle">Cycling</option>
                <option value="onfoot">On-Foot</option>
              </select>
              </div>
            </div>
          </div>
          <div class="map-container col-lg-offset-1 col-lg-10">
            <div class="map col-lg-12" style="padding: 0;">
              <img src="{% static "img/maps.png" %}" >
            </div>
            
          </div>
          <div class="p2-layer-2 col-lg-offset-1 col-lg-10">
          <div class="p2-sub-layer-1">
            <div class="add-stop">
              <button class="btn btn-success"><span>+</span>AddStop</button>
            </div>
          </div>
          <div class="p2-sub-layer-2">
            <div class="pits-handler">
              <div class="pitstops pb">
                <div class="pitstops-club">
                  <span class="s1">Pitstops:</span>
                  <select id="selectpit" class="select-pitstops p2-vs">
                    <option value="">--------</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="custom">custom</option>
                  </select>
                  <span class="s2"><input id="custpit" class="p3-vs" type="text" name="custom-pitstop" style="display: none"></span>
                  <span class="s3"><button id="checkpits" class="edit-pitstop btnt">Check</button></span>
                </div>
              </div>
              <div class="time-per-pitstop pb">
                <div class="pitstime-club">
                  <span>Time Per Pitstop:</span>
                  <select id="tppsel" class="select-pitstime p2-vs" style="margin-left: 14px;">
                    <option value="">--------</option>
                    <option value="5">5 min</option>
                    <option value="10">10 min</option>
                    <option value="15">15 min</option>
                    <option value="30">30 min</option>
                    <option value="60">1 hour</option>
                    <option value="custom">custom</option>
                  </select> 
                  <span style="display: flex; flex: 1;">
                    <input id="tppinp" class="p3-vs" type="text" name="custom-time" style="display: none">
                    <select id="tppisel" class="custom-time-unit p2-vs" style="display: none">
                      <option value="mins">mins</option>
                      <option value="hours">hours</option>
                      <option value="days">days</option>
                    </select>
                  </span>
                  <button id="calctime" class="edit-pitstime btnt">Check</button>
                </div>
              </div>
            </div>
            <div class="p2-time-distance pb">
              <div class="p2-distance">
                  <span>Distance:</span>
                  <span>300 km</span>
              </div>
              <div class="p2-time">
                  <span>Travel Time:</span>
                  <span>8 hours 15 min</span>
              </div>
            </div>
            <div class="p2-total-time-distance pb">
              <div class="p2-total-time">
                <span style="display: flex; flex: 1;">Total Journey Time:</span>
                <span id="trip_duration">9 hours 20 min</span>
              </div>
              <div class="p2-total-distance">
                <span style="display: flex; flex: 1;">Total Distance:</span>
                <span>310 km</span>
              </div>
            </div>
          </div>
          
          <div class="details-click">
                    <h4>
                      <a href="#subtrip-coll" data-toggle="collapse">View Journey Details</a>
                    </h4> 
                </div>
                <div id="subtrip-coll" class="collapse">
                  <div class="subtrip-layers">
                    <div class="subtrip-layer-top">
                        <div class="coll-trip-header">
                          <h3><u>Trip: 1</u></h3>
                        </div>
                    </div><br>
                    <div class="subtrip-layer-bottom">
                      <div class="bottom-sublayer col-lg-11 sts">
                          <div class="subtrip-src st">
                            <b>Source: </b>
                            <span>Pune</span>
                          </div>
                          <div class="subtrip-dest st">
                            <b>Destination: </b>
                            <span>Goa</span>
                          </div>
                          <div class="subtrip-route-info st">
                            <b>Route Info: </b>
                            <span><a href="#"><u>Click Here</u></a></span>
                          </div>
                      </div>
                      <div class="bottom-sublayer col-lg-11 sts">
                          <div class="subtrip-pitstop st">
                            <b>Pitstop: </b>
                            <span>4</span>
                          </div>
                          <div class="subtrip-pitstime st">
                            <b>Time/Pitstop:</b>
                            <span>15 min</span>
                          </div>
                      </div>
                      <div class="bottom-sublayer col-lg-11 sts">
                          <div class="subtrip-ttime st">
                            <b>Trip Distance: </b>
                            <span>300 km</span>
                          </div>
                          <div class="subtrip-tdist st">
                            <b>Trip Time:</b>
                            <span>6 hour 20 min</span>
                          </div>
                      </div>
                      <div class="subtrip-edit">
                        <button class="st-btn-edit btnt">Edit</button>
                      </div>
                    </div>
                  </div>
                  <div class="subtrip-layers">
                    <div class="subtrip-layer-top">
                        <div class="coll-trip-header">
                          <h3><u>Trip: 2</u></h3>
                        </div>
                    </div><br>
                    <div class="subtrip-layer-bottom">
                      <div class="bottom-sublayer col-lg-11 sts">
                          <div class="subtrip-src st">
                            <b>Source: </b>
                            <span>Goa</span>
                          </div>
                          <div class="subtrip-dest st">
                            <b>Destination: </b>
                            <span>Mangalore</span>
                          </div>
                          <div class="subtrip-route-info st">
                            <b>Route Info: </b>
                            <span><a href="#"><u>Click Here</u></a></span>
                          </div>
                      </div>
                      <div class="bottom-sublayer col-lg-11 sts">
                          <div class="subtrip-pitstop st">
                            <b>Pitstop: </b>
                            <span>3</span>
                          </div>
                          <div class="subtrip-pitstime st">
                            <b>Time/Pitstop:</b>
                            <span>5 min</span>
                          </div>
                      </div>
                      <div class="bottom-sublayer col-lg-11 sts">
                          <div class="subtrip-ttime st">
                            <b>Trip Distance: </b>
                            <span>180 km</span>
                          </div>
                          <div class="subtrip-tdist st">
                            <b>Trip Time:</b>
                            <span>3 hour</span>
                          </div>
                      </div>
                      <div class="subtrip-edit">
                        <button class="st-btn-edit btnt">Edit</button>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
          <div class="p2-layer-3"><!--Second Layer corner options-->
            <div class="navigante">
              <div id="btn-cancel" class="btn-cancel">
                <button class="btn btn-danger" onclick="abort()"><a href="{% url 'mytrip' %}">x</a></button>
              </div>
              <div id="btn-save" class="btn-save">
                <button class="btn btn-success glyphicon glyphicon-floppy-disk" onclick="save()"><a href="{% url 'mytrip' %}"></a></button>
              </div>
              <div id=btn-prev class="btn-prev">
                <button class="btn btn-primary" onclick="navigante('one','two','three','four'); focus_click('one','two')">Prev</button>
              </div>
              <div id=btn-next class="btn-next">
                <button id="next_click2" class="btn btn-primary">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="three" class="plan-container col-lg-8">
        <div class="plan-head">
          <div class="plan-title">
            <div class="title-top">
              <h2>Create Trip Plan</h2>
            </div>
            <div class="title-low">
              <h3>#3: Date and Other Info</h3>   
            </div>
          </div>
        </div>
        <div class="plan-body">
          <div class="p3-layer-1 col-lg-10 col-lg-offset-1">
            <div class="p3-l1-options col-lg-12">
              <div id="p3-l1-op" class="sl1-op col-lg-10 col-lg-offset-1">
                <span style="display: lex; flex: 1;">Starting Date:</span>
                <div class="date-select slt-div">
                  <select id="year_list" class="year slt p3-vs">
                    <option>Year</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                  </select>
                  <select id="month_list" class="month slt p3-vs">
                    <option>Month</option>
                    <option value="01">Jan</option>
                    <option value="02">Feb</option>
                    <option value="03">Mar</option>
                    <option value="04">Apr</option>
                    <option value="05">May</option>
                    <option value="06">Jun</option>
                    <option value="07">Jul</option>
                    <option value="08">Aug</option>
                    <option value="09">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                  </select>
                  <select id="day_list" class="date slt p3-vs">
                    <option>Day</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>21</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                  </select>
                </div>
              </div>
                
              <div id="p3-l1-op" class="l1-op col-lg-10 col-lg-offset-1">
                <span style="display: flex;flex: 1;">Starting Time:</span>
                <div class="time-select slt-div">
                  <select id="time_list" class="hour slt p3-vs">
                    <option>----------</option>
                    <option>12</option>
                    <option>11</option>
                    <option>10</option>
                    <option>9</option>
                    <option>8</option>
                    <option>7</option>
                    <option>6</option>
                    <option>5</option>
                    <option>4</option>
                    <option>3</option>
                    <option>2</option>
                    <option>1</option>
                  </select>
                  <select id="meridiem" class="meridiem slt p3-vs">
                    <option>----------</option>
                    <option>am</option>
                    <option>pm</option>
                  </select>
                </div>
              </div>
              <div id="p3-l1-op" class="l1-op col-lg-10 col-lg-offset-1">
                <span style="flex: 1;">Gender:</span>
                <div class="gender-select slt-div" style="display:flex;flex: 3;">
                  <select id="gender_list" class="gender slt p3-vs">
                    <option>----------------</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">Others</option>
                    <option value="any">Any</option>
                  </select>
                  
                </div>
              </div>
              <div id="p3-l1-op" class="l1-op col-lg-11 col-lg-offset-1 age-group">
                <span class="ag" style="flex: 2 30px;">Age Group:</span>
                <div id="age_select" class="age-select ag slt-div">
                  <select id="age_group1" class="age slt p3-vs">
                    <option>-------------------</option>
                    <option value="u18">Under 18</option>
                    <option value="18-30">18-30</option>
                    <option value="30-50">30-50</option>
                    <option value="50u">Above 50</option>
                    <option>Any</option>
                  </select>
                </div>
                <div class="p3-button-group">
                  <div class="age-add ag">
                    <button id="add_age_group" class="btn btn-success"><span class="intbtn">+</span></button>
                  </div>
                  <div id="remove_age_group" class="age-remove ag">
                    <button class="btn btn-danger"><span class="intbtn">-</span></button>
                  </div>
                </div>
              </div>
              <div id="p3-l1-op" class="l1-op col-lg-11 col-lg-offset-1">
                <div class="nop">
                  <div class="nop-radio">

                    <label><span style="margin-right: 10px;">Limit Participants:</span><input id="limit_yes" type="radio" name="nop" value='yes'>Yes</label>
                    <label><input id="limit_no" type="radio" name="nop" checked="checked" value="no">No</label>
                  </div>
                  <label><input id="limit_inp" type="text" name="limit" placeholder="Eg. 10" style="border: 0; border-radius: 5px; font-weight: 400; padding: 5px; display: none"></label>
                  <br>
                </div>
                <button class="btn btn-success"><span class="intbtn">+</span></button>
              </div>
              <div id="p3-l1-op" class="l1-op col-lg-10 col-lg-offset-1">
                <label>Title:</label>
                <input id="trip_title" type="text" name="trip-title" placeholder="Eg. Around the state in 7 days" maxlength="30" style="border: 0; border-radius: 5px; width: 400px; padding: 5px;">
              </div>
              <div id="p3-l1-op" class="l1-op col-lg-10 col-lg-offset-1">
                <div class="description">
                  <span><b>Tell Something About It:</b></span>
                  <textarea id="trip_desc" cols="43" rows="4" maxlength="160" placeholder="Enter a short description. Max character: 160" style="margin-top: 3px; color: #888da6; resize: none; padding: 5px;"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="p3-layer2"><!--Third Layer corner options-->
            <div class="navigante">
              <div id="btn-cancel" class="btn-cancel">
                <button class="btn btn-danger" onclick="abort()"><a href="{% url 'mytrip' %}">x</a></button>
              </div>
              <div id="btn-save" class="btn-save">
                <button class="btn btn-success glyphicon glyphicon-floppy-disk" onclick="save()"><a href="{% url 'mytrip' %}"></a></button>
              </div>
              <div>
              <div id=btn-prev class="btn-prev">
                <button class="btn btn-primary" onclick="navigante('two','one','three','four'); focus_click('two', 'three')">Prev</button>
              </div>
              <div id=btn-next class="btn-next">
                <button id="next_click3" class="btn btn-primary">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
      <div id="four" class="plan-container col-lg-8">
        <div class="plan-head">
          <div class="plan-title">
            <div class="title-top">
              <h2>Create Trip Plan</h2>
            </div>
            <div class="title-low">
              <h3>#4: Costings</h3>   
            </div>
          </div>
        </div>
        <div class="plan-body">
          <div class="p4-layer-1 col-lg-10 col-lg-offset-1">
            <div class="p4-l1-options col-lg-12">
              <div id="p4-l1-op" class=" l1-op col-lg-12  heads">
                <h3 style="margin-top: 0">Fuel</h3>
              </div>
              <div id="club" class="col-lg-offset-2 col-lg-8">
               <div id="p4-l1-op" class=" l1-op col-lg-10 col-lg-offset-1">
                  <span>Mileage:</span>
                  <span style="margin-left: 20px;"><input id="mileage" class="p4-vs" type="text" name="mileage"></span> 
                </div>
                <div id="p4-l1-op" class=" l1-op col-lg-11 col-lg-offset-1">
                  <div class="fuel">
                    <span class="tag-fuel">Price/Litre:</span>
                    <span class="inp-fuel" style="margin-left: 4px;"><input id="fuel_price" class="p4-vs" type="text" name="mileage"></span>
                  </div>
                  <div class="get-rate">
                    <span id="get_fuel_rate" class="a-rate"><a href="#">Get Rate</a></span>
                  </div>
                </div>
                <div id="p4-l1-op" class=" l1-op col-lg-10 col-lg-offset-1">
                  <span><b>Fuel Cost:</b></span>
                  <span id="" style="margin-left: 8px;"><input id="fuel_cost" class="p4-vs" type="text" name="fuel-cost"></span> 
                </div>
              </div>
            </div>
          </div>
          <div class="p4-layer-1 col-lg-10 col-lg-offset-1">
            <div class="p4-l1-options col-lg-12">
              <div id="p4-l1-op" class=" l1-op col-lg-12 heads" style="margin-top: -10px">
                <h3>Vehicel Rental</h3>
              </div>
              <div id="club" class="col-lg-offset-2 col-lg-8">
                <div id="p4-l1-op" class=" l1-op col-lg-10  col-lg-offset-1">
                  <div>
                  
                    <span><a id="get_vehicle_rate" href="#"><b>Click to Get-Estimate/Book</b></a></span>
                  </div>
                </div>
                <div id="p4-l1-op" class=" l1-op col-lg-10 col-lg-offset-1">
                  <span><b>Vehicle Cost:</b></span>
                  <span><input id="vehcost" class="p4-vs" type="text" name="fuel-cost"></span> 
                </div>
              </div>
            </div>
          </div>

          <div class="p4-layer-1 col-lg-10 col-lg-offset-1">
            <div class="p4-l1-options col-lg-12">
              <div id="p4-l1-op" class=" l1-op col-lg-12 heads" style="margin-top: -10px">
                <h3>Hotel Booking</h3>
              </div>
              <div id="club" class="col-lg-offset-2 col-lg-8">
                <div id="p4-l1-op" class=" l1-op col-lg-10  col-lg-offset-1" style="margin-top: -10px">
                  <div class="rent">
                    <span><a id="get_hotel_rate" href="#"><b>Click to Get-Estimate/Book</b></a></span>
                  </div>
                </div>
                <div id="p4-l1-op" class=" l1-op col-lg-10 col-lg-offset-1" style="margin-top: -10px">
                  <span><b>Hotel Cost:</b></span>
                  <span><input id="hotcost" class="p4-vs" type="text" name="fuel-cost"></span> 
                </div>
              </div>
            </div>
          </div>
          <div class="p4-layer-1 col-lg-10 col-lg-offset-1">
            <div class="p4-l1-options col-lg-12">
              <div id="club" class="col-lg-offset-1 col-lg-10">
                <div id="p4-l1-op" class=" l1-op col-lg-9" style="margin-top: -10px; margin-left: 50px;">
                  <h3><span>Total Cost:</span><span><input id="total_cost" class="p4-vs" type="text" name="total-cost"></span></h3>
                </div>
              </div>
            </div>
          </div>
          <div class="p4-layer-4">
            <div class="navigante">
              <div id="btn-cancel" class="btn-cancel">
                <button class="btn btn-danger" onclick="abort()"><a href="{% url 'mytrip' %}">x</a></button>
              </div>
              <div id="btn-save" class="btn-save">
                <button class="btn btn-success glyphicon glyphicon-floppy-disk" onclick="save()"><a href="{% url 'mytrip' %}"></a></button>
              </div>
              <div id=btn-prev class="btn-prev">
                <button class="btn btn-primary" onclick="navigante('three','one','two','four'); focus_click('three', 'four')">Prev</button>
              </div>
              <div id=btn-next class="btn-next">
                <button class="btn btn-primary" onclick="publishTrip()">Publish</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  		
  		<div id="progress-container" class="progress-container col-lg-offset-1 col-lg-3">
    		<div class="progress-main">
          <div class="prog-head">
            <div class="prog-title">
              <h2>Progress Bar</h2>
            </div>
          </div>
          <div class="prog-body">
            <div class="club">
              <div class="prog-layer" style="margin-top: 10px;">
                <div id="pb-one" class="hash first" onclick="navigante('one','two','three','four')">
                  <div class="sub-hash p-heads">
                    <h4><b>#1 Type</b></h4>
                  </div>
                  <div class="sub-hash p-bot">
                    <div class="s-sh">
                      <span class="hash-content-left"><b>Company:</b></span>
                      <span id="pb-company" class="hash-content-right"></span>
                    </div>
                    <div class="s-sh">
                      <span class="hash-content-left"><b> Travel Moto:</b></span>
                      <span id="pb-moto" class="hash-content-right"></span>
                    </div>
                  </div>  
                </div>
              </div>
              <div class="prog-layer">
                <div id="pb-two" class="hash" onclick="navigante('two','one','three','four')">
                  <div class="sub-hash p-heads">
                    <h4><b>#2 Route Info</b></h4>
                  </div>
                  <div class="sub-hash p-bot">
                    <div class="s-sh">
                      <span class="hash-content-left"><b>Source:</b></span>
                      <span id="pb_source" class="hash-content-right"></span>
                    </div>
                    <div class="s-sh">
                      <span class="hash-content-left"><b>Destination:</b></span>
                      <span id="pb_destination" class="hash-content-right"></span>
                    </div>
                    <div class="s-sh">
                      <span class="hash-content-left"><b>Mode:</b></span>
                      <span id='pb_mode' class="hash-content-right"></span>
                    </div>
                    <div class="s-sh">
                      <span class="hash-content-left"><b>Distance:</b></span>
                      <span id="pb_trip_distance" class="hash-content-right">550 km</span>
                    </div>
                    <div class="s-sh">
                      <span class="hash-content-left"><b>T. Time:</b></span>
                      <span id="pb_trip_duration" class="hash-content-right">9 hr 20 min</span>
                    </div>
                  </div>   
                </div>
              </div>
            </div>
            <div class="club">
              <div class="prog-layer">
                <div id="pb-three" class="hash" onclick="navigante('three','two','one','four')">
                  <div class="sub-hash p-heads">
                    <h4><b>#3 Date and Other Info</b></h4>
                  </div>
                  <div class="sub-hash p-bot">
                    <div class="s-sh">
                      <span class="hash-content-left"><b>Start Date:</b></span>
                      <span id="pb_start_date" class="hash-content-right">25 FEB 2018</span>
                    </div>
                    <div class="s-sh">
                      <span class="hash-content-left"><b>Start Time:</b></span>
                      <span id="pb_start_time" class="hash-content-right">10:00 am</span>
                    </div>
                    <div class="s-sh">
                      <span class="hash-content-left"><b>Gender:</b></span>
                      <span id="pb_gender" class="hash-content-right">Men Only</span>
                    </div>
                    <div class="s-sh">
                      <span class="hash-content-left"><b>Age Group:</b></span>
                      <span id="pb_agegroup" class="hash-content-right">U-18, 18-30</span>
                    </div>
                    <div class="s-sh">
                      <span class="hash-content-left"><b>Limit:</b></span>
                      <span id="pb_limit" class="hash-content-right">Any</span>
                    </div>
                    <div class="s-sh">
                      <span class="hash-content-left"><b>Title:</b></span>
                      <span id="pb_title" class="hash-content-right">My First Trip</span>
                    </div>
                    <div class="s-sh">
                      <span class="hash-content-left"><b>Descrip.:</b></span>
                      <span id="pb_desc" class="hash-content-right">Its such an awesome one</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="prog-layer">
              <div id="pb-four" class="hash" onclick="navigante('four','two','three','one')">
                <div class="sub-hash p-heads">
                  <h4><b>#4 Cost Info</b></h4>
                </div>
                <div class="sub-hash p-bot">
                  <div class="s-sh">
                    <span class="hash-content-left"><b>Fuel Cost:</b></span>
                    <span class="hash-content-right">2000</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left"><b>Vehicle Cost:</b></span>
                    <span class="hash-content-right">1000</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left"><b>Hotel Cost:</b></span>
                    <span class="hash-content-right">10000</span>
                  </div>
                  <div class="s-sh">
                    <span class="hash-content-left"><b>Total Cost:</b></span>
                    <span class="hash-content-right">13000</span>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
  		</div>
      
  {% endblock content %}
  {% block overlay %}
    <div class="album-overlay" id="olay" hidden="hidden">
    </div>
  {% endblock overlay %}

  {% block custom_scripts %}
    <script type="text/javascript">
      $(document).ready(function() {
          var addclass = 'company-select';
          var $cols = $('.op-ty').click(function(e) {
            $cols.removeClass(addclass);
            $(this).addClass(addclass);
          });
      })
      $(document).ready(function() {
          var addclass = 'moto-select';
          var $cols = $('.sop').click(function(e) {
            $cols.removeClass(addclass);
            $(this).addClass(addclass);
          });
      })
    </script>
    <script type="text/javascript">
      var addclass = 'prog-focus';
      var initremove = 'first';
      var $cols = $('.hash').click(function(e) {
        $cols.removeClass(addclass);
        $cols.removeClass(initremove);
        $(this).addClass(addclass);
      });
    </script>
    <script type="text/javascript">
      var moto;
      var company_dict = {'solo': 'Solo', 'group': 'Group'};
      var moto_dict = {'adventure': 'Adventure', 'exploring': 'Exploring', 'photography': 'Photography', 'sports': 'Sport Event', 'food': 'Food & Cuisine', 'fitness': 'Fitness', 'shopping': 'Shopping', 'travel': 'Travel Blogging', 'partying': 'Partying', 'backtracking': 'Backtracking'};
      var focus_dict = {'one': 'pb-one', 'two': 'pb-two', 'three': 'pb-three', 'four': 'pb-four'};
      var post_dict = {'company':'', 'moto': '', 'source': '', 'destination': '', 'mode': '', 'pitstop': '', 'timeperpit': '', 'distance': '', 'start_date': '', 'gender': '', 'age_group': '', 'participants': '', 'title': '', 'description': '', 'fuel': '', 'vehicle': '', 'hotel': '', 'total_cost': ''};
      var mode_dict = {'cycle': 'Cycle', 'motorbike': 'Motorbike', 'car': 'Car', 'onfoot': 'On Foot'}
      var time_string = '';
      var month_dict = {'01': 'Jan'}
      function pb_focus(pb_id) {
        focus = document.getElementById(pb_id);
        focus.classList.add('prog-focus');
      }
      function pb_unfocus(pb_id) {
        unfocus = document.getElementById(pb_id);
        unfocus.classList.remove('first');
        unfocus.classList.remove('prog-focus');
      }
      function focus_click(f, uf){
        pb_focus(focus_dict[f]);
        pb_unfocus(focus_dict[uf]);
      }
      function get_company(id){
        post_dict['company'] = company_dict[id];
      }
      function get_moto(id){
        post_dict['moto'] = moto_dict[id];
      }
      function next_click1(main, s1, s2, s3, f, uf){
        var pb_company = document.getElementById('pb-company')
        var pb_moto = document.getElementById('pb-moto');
        pb_company.innerHTML = "";
        pb_moto.innerHTML = "";
        //if (post_dict['company'] && post_dict['moto']){
          pb_company.innerHTML = post_dict['company'];
          pb_moto.innerHTML = post_dict['moto'];
          navigante(main, s1, s2, s3);
          focus_click(f,uf);
        //}
        //else{
          //alert('Please select Company and Travel-Moto')
        //}
      }
      function prev_click1() {
      }
    </script>
    <script type="text/javascript">
    /*For displaying custom textboxes*/
      $("#selectpit").change(function(){          
        var value = $("#selectpit option:selected").val();
        if (value === 'custom'){
          $("#custpit").show();
        }
        else{
          $("#custpit").hide();
        }
      });
      $("#selectpit").change(function(){          
        var value = $("#selectpit option:selected").val();
        if (value === 'custom'){
          $("#custpit").show();
        }
        else{
          $("#custpit").hide();
        }
      });
      $("#tppsel").change(function(){          
        var value = $("#tppsel option:selected").val();
        if (value === 'custom'){
          $("#tppinp").show();
          $("#tppisel").show()
        }
        else{
          $("#tppinp").hide();
          $("#tppisel").hide();
        }
      });
    </script>
    <script type="text/javascript">
      $("#calctime").click(function(){
        var hours = 8;
        var min = 15;
        var time_dict = {'mins': 1, 'hours': 60, 'days': 60*24}
        var initial_min = hours*60 + min;
        var pitstops = $("#selectpit option:selected").val();
        if (pitstops === "custom"){
          pitstops = $("#custpit").val();
        }
        var pits_time = $("#tppsel option:selected").val()
        if (pits_time === 'custom'){
          var tppinp_val = $("#tppinp").val();
          var tppisel_val = $("#tppisel option:selected").val();
          pits_time = tppinp_val * time_dict[tppisel_val];
        }
        var total_min = (pitstops * pits_time) + initial_min;
        var total_hours = 0;
        var temp = total_min;
        while(temp > 0){
          if (!(temp-60 < 0)){
            temp = temp - 60;
            total_hours++;
          }
          else{
            break
          }
        }
        total_min = temp;
        if (total_min == 0){
          time_string = total_hours+" hours "
        }
        else{
          time_string = total_hours+" hours "+total_min+" mins" 
        }
        $("#trip_duration").text(time_string)
        $("#pb_trip_duration").text(time_string)
        post_dict['pitstops'] = pitstops
        post_dict['timeperpit'] = pits_time 
        //alert('Hours: '+total_hours+' Mins:'+total_min);
      });
      $("#next_click2").click(function(){
        var source = $("#frominp").val()
        var destination = $("#toinp").val()
        var mode_val = $("#mode option:selected").val()
        var mode = mode_dict[mode_val]
        trip_duration = $("#trip_duration").text()
        post_dict['source'] = source
        post_dict['destination'] = destination
        post_dict['mode'] = mode
        post_dict['duration'] = trip_duration
        $("#pb_source").text(post_dict['source'])
        $("#pb_destination").text(post_dict['destination'])
        $("#pb_mode").text(post_dict['mode'])
        $("#pb_trip_duration").text(post_dict['duration'])
        focus_click('three', 'two')
        navigante('three', 'one', 'two', 'four')
      });

    </script>
    <script>
        var age_group_count = 1
        $("#add_age_group").click(function(){
          console.log(++age_group_count)
          if(!(age_group_count >3)){
            $("#age_select").append("<select id='age_group"+age_group_count+"' class='age slt p3-vs'><option>-------------------</option><option>Under 18</option><option>18-30</option><option>30-50</option><option>Above 50</option><option>Any</option></select>")
          }
        });
        $("#remove_age_group").click(function(){
          if(age_group_count < 2){
            age_group_count = 2;
          }
          var remove_group_id = "#age_group"+age_group_count
          $(remove_group_id).remove()
          console.log(age_group_count--)
        });

        $("#limit_yes").click(function(){
          $("#limit_inp").show()
        });

        $("#limit_no").click(function(){
          $("#limit_inp").hide()
        });

    </script>
    <script type="text/javascript">
      $("#next_click3").click(function(){
        var year = $("#year_list option:selected").val()
        var month = $("#month_list option:selected").val()
        var month_text = $("#month_list option:selected").text()
        var day = $("#day_list option:selected").text()
        
        var time = parseInt($("#time_list option:selected").val())
        var meridiem = $("#meridiem option:selected").val()
        var gender = $("#gender_list option:selected").val()
        var age_group_list =[]
        age_group_list_text =[]

        for (var i=1; i <= age_group_count;i++) {
          var agegroup = "#age_group"+i+" option:selected"
          pushable = $(agegroup).val()
          pushable_text = $(agegroup).text()
          age_group_list.push(pushable)
          age_group_list_text.push(pushable_text)
        }
        var age_group_str = ""
        for (var i = 0; i<age_group_list_text.length; i++) {
          if (i == 0){
            age_group_str = age_group_str+age_group_list_text[i]
          }
          else{
            age_group_str = age_group_str +","+ age_group_list_text[i]
          }
        }

        var limit = $("input[name=nop]:checked").val()
        if (limit === 'yes'){
          limit = $("#limit_inp").val()
        }
        else{
          limit = '-1'
        }
        var title = $("#trip_title").val()
        var desc = $("#trip_desc").val()
        if (meridiem == 'pm'){
          if (time == 12){
            time = 12
          }
          else{
            time = 12 + parseInt(time)
          }
        }
        post_dict['start_date'] = year+"-"+month+"-"+day+" "+time
        post_dict['gender'] = gender
        post_dict['age_group'] = age_group_str
        post_dict['participants'] = limit
        post_dict['title'] = title
        post_dict['description'] = desc
        //$("#pb_start_date").text(year+" "+month_text+" "+day)
        $("#pb_start_date").text(post_dict['start_date'])
        $("#pb_start_time").text(time+meridiem)
        $("#pb_gender").text(post_dict['gender'])
        $("#pb_agegroup").text(post_dict['age_group'])
        $("#pb_limit").text(post_dict['participants'])
        $("#pb_title").text(post_dict['title'])
        $("#pb_desc").text(post_dict['description'])
        focus_click('four', 'three')
        navigante('four','one','two','three')
      });
      </script>
      <script type="text/javascript">
        var mileage = ""

        var fuelprice = 0
        var fuelcost = 0
        var totalcost = 0
        var vehicalcost = 0
        var hotelcost = 0
        $("#hideframe").click(function(){
          $("#iframe_block").hide()
          $("#olay").hide()
        });

        $("#get_fuel_rate").click(function(){
          $("#iframe_block").show()
          $("#olay").show()
          $("#cost_frame").attr('src',"//www.mypetrolprice.com/petrol-price-in-india.aspx") 
        });

        $("#fuel_cost").focus(function(){
          mileage = $("#mileage").val()
          fuelprice = $("#fuel_price").val()
          fuelcost = mileage * fuelprice
          $("#fuel_cost").val(fuelcost)
          $("#total_cost").val(fuelcost)
          post_dict['fuel'] = fuelcost
        });


        $("#get_vehicle_rate").click(function(){
          $("#iframe_block").show()
          $("#olay").show()
          $("#cost_frame").attr('src',"//www.savaari.com/")
        });

        $("#vehcost").blur(function(){
          var vehcost = parseInt($("#vehcost").val())
          var fuel = parseInt($("#fuel_cost").val())
          total = vehcost+fuel
          $("#total_cost").val(total)
          post_dict['vehicle'] = vehcost
        });

        $("#get_hotel_rate").click(function(){
          $("#iframe_block").show()
          $("#olay").show()
          $("#cost_frame").attr('src',"//www.goibibo.com/")
        });

        $("#hotcost").blur(function(){
          var hotcost = parseInt($("#hotcost").val())
          var vehcost = parseInt($("#vehcost").val())
          var fuel = parseInt($("#fuel_cost").val())
          total = hotcost+vehcost+fuel
          $("#total_cost").val(total)
          post_dict['hotel'] = hotcost
        });
      </script>
  {% endblock custom_scripts %}