{% extends 'frame.html' %}
{% load staticfiles %}

    
    {% block title %}{% endblock title %}
    
    {% block static_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom/profile.css' %} ">
    {% block sub_sf%}{% endblock sub_sf%}
    {% endblock static_files %}

        {% block page_name %}{% endblock page_name %}                        
            {% block inner_rightSideBar %}
            <li><a href="{% url "timeline" %}"><span><i class="material-icons">timeline</i></span>Timeline</a></li>
            <li><a href="{% url "about" %}"><span><i class="material-icons">info_outline</i></span>About</a></li>
            <li><a href="{% url "album" %}"><span><i class="material-icons">photo_album</i></span>Album</a></li>
            <li><a href="{% url "friends" %}"><span><i class="material-icons">supervisor_account</i></span>Friends</a></li>
            <li><a href="{% url "profilesetting" %}"><span><i class="material-icons">tune</i></span>Settings</a></li>
            {% endblock inner_rightSideBar %}
            
            {% block outer_rightSideBar %}
            <li style="margin-bottom: 35px;"><a href="{% url "timeline" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Timeline"><i id="mat-icon" class="material-icons">timeline</i></span></a></li>
            <li><a href="{% url "about" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="About"><i id="mat-icon" class="material-icons">info_outline</i></span></a></li>
            <li style="margin-top: 20px"><a href="{% url "album" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Album"><i id="mat-icon" class="material-icons">photo_album</i></span></a></li>
            <li><a href="{% url "friends" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Friends"><i id="mat-icon" class="material-icons">supervisor_account</i></span></a></li>
            <li><a href="{% url "profilesetting" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Friends"><i id="mat-icon" class="material-icons">tune</i></span></a></li>
            {% endblock outer_rightSideBar %}
        
{% block content %}
  <div class="root">
        <div class="root-content">
          <div class="cover">
            <img src="{{ MEDIA_URL }}{{ initials.coverpic }}">
          </div>
          <div class="sunglass">
            <div class="rowlo">
              <div class="strap col-lg-5 col-lg-offset-1">
                <ul type="none" style="padding: 0">
                  <li><a href="{% url "timeline" %}">Timeline</a></li>
                  <li><a href="{% url "about" %}">About</a></li>
                  <li><a href="{% url "album" %}">Album</a></li>
                </ul>
              </div>
              <div class="strap col-lg-offset-2 col-lg-5">
                <ul type="none">
                  <li><a href="{% url "friends" %}">Friends</a></li>
                  <li><a href="{% url "profilesetting" %}">Settings</a></li>
                </ul>
              </div>
            </div>  
          </div>
          <div class="author-onNose">
            <div class="author-content">
              <div class="onNose-photo">
                <a href="#">
                    <img class="round-ppic" src="{{ MEDIA_URL }}{{ initials.profilepic }}">
                </a>
              </div>
              <div class="author-name">
                <a href="{% url "about" %}">{{ firstname|title }}&nbsp&nbsp{{ lastname|title }}</a>
              </div>
            </div>
          </div>
          <div class="root-content-edit">
            <div class="dropup">
              <button class="dropdown-toggle" type="button" id="photo-edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-cog"></span>
              </button>
              <ul id="root-content-set" class="dropdown-menu" aria-labelledby="photo-edit">
                <li><a id="profileedit" href="#">Update Profile Picture</a></li>
                <li><a id="coveredit">Update Cover Photo</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Remove Profile Photo</a></li>
                <li><a href="#">Remove Cover Photo</a></li>
              </ul>
          </div>
          </div>
        </div>
  </div>

{% block boot %}{% endblock boot %}
{% endblock content %}
{% block pc_pics %}
  <form id="propic_form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="upload-overlay-photo" class="upload-overlay" class="testpicupload" hidden="hidden">
      <div class="up-bunch">
        <label>Upload Profile Picture</label>
        {{ rootform.profilepic }}  
      </div>
      

      <input class="upload-btn-pc" type="submit" name="ProfileUpload">
    </div>
  </form>

  <form id="cover_form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="upload-overlay-cover" class="upload-overlay" class="testpicupload" hidden="hidden">
      <div class="up-bunch">
        <label>Upload Cover Picture</label>
        {{ rootform.coverpic }}  
      </div>
      <input class="upload-btn-pc" type="submit" name="CoverUpload">
    </div>
  </form>
{% endblock pc_pics %}
{% block overlay %}
<div class="album-overlay" id="olay" hidden="hidden">
    </div>
  {% block olay %}{% endblock olay %}
{% endblock overlay %}

{% block custom_scripts %}
<script type="text/javascript">
    var link =''
    var overlay = "#olay"
    $("#coveredit").click(function(e){
      link = '#upload-overlay-cover'
      $("#olay").show()
      $(link).css('display', '-webkit-box')
      e.stopPropagation()

    });
    $("#profileedit").click(function(e){
      link = '#upload-overlay-photo'
      $("#olay").show()
      $(link).css('display', '-webkit-box')
      e.stopPropagation()

    });
    $( document ).on( 'click', function ( e ) {
        if ( $( e.target ).closest( link ).length === 0 ) {
            //$( overlay ).hide();
            //$(link).css('display', 'none')
        }
    });
                          
    $( document ).on( 'keydown', function ( e ) {
        if ( e.keyCode === 27 ) {
            $( overlay ).hide();
            $(link).hide()
        }
    });
  
</script>
{% block cs %}{% endblock cs %}
{% endblock custom_scripts %}
