{% extends 'trip.html' %}
{% load staticfiles %}
  
  {% block title %}Search Trip{% endblock title %}

  {% block static_files %}
    <link rel="stylesheet" type="text/css" href="{% static "css/custom/search-trip.css" %}">
  {% endblock static_files %}
  {% block page_name %}Search Trip{% endblock page_name %}
        
  {% block content %}
    <div class="search-top">
      <div class="sub-title">
        <h1>Search Trip</h1>
      </div>
      <div class="search-belt">
        <div class="search-layer l0">
          <div class="search-op ttl">
            <h3>Refine Search</h3>  
          </div>
        </div>
    <form method="GET">
        <div class="search-layer l1">
          <div class="search-op l1-o1">
            {{ filters.form.source.label_tag}}{{ filters.form.source}}
          </div>
          <div class="search-op l1-o2">
            {{ filters.form.destination.label_tag}}{{ filters.form.destination}}
          </div>
        </div>
        <div class="search-layer l2">
          <div class="search-op l2-o2">
           {{ filters.form.moto.label_tag}}{{ filters.form.moto}}
          </div>
          <div class="search-op l2-o3">
            {{ filters.form.mode.label_tag}}{{ filters.form.mode}}
          </div>
          <div class="search-op l3-o3">
            {{ filters.form.gender.label_tag }}{{ filters.form.gender }}
          </div>
          <div class="search-op l3-o4">
            {{ filters.form.age_group.label_tag }}{{ filters.form.age_group }}
            
          </div>
        </div>
        <div class="search-layer l3" style="width: fit-content;">
          <div class="search-op l3-o1">
            {{ filters.form.year.label_tag }}{{ filters.form.year }}
            {{ filters.form.month }}
            {{ filters.form.day }}
            
          </div>
          
          
        </div>
        <div id="search_submit">
        	<button id="submit_btn" class="btn btn-primary filter-btn">Search</button>
        	<a id="clear_filters" class="btn btn-danger filter-btn" type="button" href="{% url 'searchtrip' %}">Clear</a>
        </div>
    </form>
      </div>
    </div>
    <div class="search-low col-lg-12">
      <div class="search-low-header">
        <h3>Results - Choose And Join</h3>    
      </div>
      <div class="result-container">
        <div class="result-layer">
         <form id="join_form" method="POST">
         	{% csrf_token %}
        	{% for record in filters.qs %}
	        <div class="result-box">
	          <div class="trip-box">
	            <div class="tb-layer layer-zero">
	              <div class="tb-title">
	                <h4><b>{{ record.title }}</b></h4></label>
	              </div>
	              <div class="tb-credit">
	                <h4>By:</h4>
	                <a href=""><img src="{% static "img/obama-face.png" %}"></a>
	              </div>
	            </div>
	            <div class="tb-layer" style="padding: 0;">
	              <div class="tb-op">
	                <img src="{% static "img/"|add:record.moto|add:".jpg" %}" style=" width: 100%;">
	              </div> 
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Source:</label>
	                <span>{{ record.source }}</span>
	              </div>
	              <div class="tb-op">
	                <label>Destination:</label>
	                <span>{{ record.destination }}</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Date:</label>
	                <span>{{ record.start_date|date:'d M Y' }}</span>
	              </div>
	              <div class="tb-op">
	                <label>Mode:</label>
	                <span>{{ record.mode }}</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Vacancy:</label>
	                <span>11</span>
	              </div>
	              <div class="tb-op">
	                <a id="{{ record.trip_id }}" class="dlink" style="cursor: pointer">+More Details</a>
	              </div>
	            </div>
	            
	            	
		            <div class="tb-layer join-button">
		            	
		              <button id="{{ record.trip_id }}" class="join_click" type="submit">Join</button>
		            </div>
	            
	          </div>
	        </div>
	        {% endfor %}
	        <input id="join" type="hidden" name="join" value="">
	       </form>
        </div>
      </div>
    </div>
  </div>
   <div id="main_TD">
    	{% for record in filters.qs  %}
	        <div id="{{ record.trip_id }}" class="trip-details TD" hidden="hidden">
	            <div class="trip-box-big"> 
	              <div class="tbb-layer tbb-zero">
	                <div class="tbb-op tbb-title">
	                  <h3><i>{{ record.title }}</i></h3>
	                </div>
	              </div>
	              <div class="tbb-layer tbb-bck-main">
	                <div class="tbb-bck">
	                  <img src="{% static "img/"|add:record.moto|add:".jpg" %}">
	                </div>
	              </div>
	              <div class="tbb-layer">
	                
	                <div class="tbb-op creator">
	                  <label style="color: black">Created By</label>
	                  <img src="{% static "img/user-black.png" %}">
	                </div>
	              </div>
	              <div class="tbb-layer">
	                <div class="part">
	                  <label style="color: black">Participants: 23</label>
	                  <div class="tbb-subop">
	                    <img src="{% static "img/user-black.png" %}">
	                    <img src="{% static "img/user-black.png" %}">
	                    <img src="{% static "img/user-black.png" %}">
	                    <img src="{% static "img/user-black.png" %}">
	                    <img src="{% static "img/user-black.png" %}">
	                  </div>
	                </div>
	              </div>
	              <div class="tbb-layer">
	                <div class="tbb-op" style="text-align: center; margin-bottom: 20px;">
	                  <label style="color: black">Vacancy:
	                  <span style="color: black">7</span></label>
	                </div>
	              </div>
	              <div class="tbb-low">
	                <div class="tbb-layer lw">
	                  <div class="tbb-op">
	                    <label>Source:</label>
	                    <span>{{ record.source }}</span>
	                  </div>
	                </div>
	                <div class="tbb-layer lw">
	                  <div class="tbb-op">
	                    <label>Destination:</label>
	                    <span>{{ record.destination }}</span>
	                  </div>
	                </div>
	                <div class="tbb-layer lw">
	                  <div class="tbb-op">
	                    <label>Travel Moto:</label>
	                    <span>{{ record.moto }}</span>
	                  </div>
	                </div>
	                <div class="tbb-layer lw">
	                  <div class="tbb-op">
	                    <label>Travelling Mode:</label>
	                    <span>{{ record.mode }}</span>
	                  </div>
	                </div>
	                <div class="tbb-layer lw">
	                  <div class="tbb-op">
	                    <label>Start Date & Time:</label>
	                    <span>{{ record.start_date }}</span>
	                  </div>
	                </div>
	                <div class="tbb-layer lw">
	                  <div class="tbb-op">
	                    <label>Gender:</label>
	                    <span>{{ record.gender }}</span>
	                  </div>
	                </div>
	                <div class="tbb-layer lw">
	                  <div class="tbb-op">
	                    <label>Age Group:</label>
	                    <span>{{ record.age_group|slice:"2,8" }}</span>
	                  </div>
	                </div>
	                <div class="tbb-layer lw">
	                  <div class="tbb-op">
	                    <label>Description:</label>
	                    <span>{{ record.description }}</span>
	                  </div>
	                </div>
	                <div class="tbb-layer lw" style="border: 0;">
	                  <div class="tbb-op tbb-route">
	                    <label>Route Info: <a href="#!">Click to View</a></label>
	                  </div>
	                </div>
	              </div>
	            </div>
	        </div>
      {% endfor %}
    </div>
    
  {% endblock content %}

  {% block overlay %}
  
    <div id="olay" class="overlay" hidden="hidden">
      
      <div class="route-details">
        
      </div>
    </div>
   
  {% endblock overlay %}

  {% block custom_scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static "js/custom.js" %}"></script>
    <script type="text/javascript">
          var overlay = $( '#olay' )[0];
          var TD = ''
          var id_toFind = ''

          $(".dlink" ).on( 'click', function ( e ) {
              
              link = $(this).attr('id')
              //alert(link)
              id_toFind = "#"+link
              //alert(id_toShow)
              $("#main_TD").find(id_toFind).show()

              $( overlay ).show();
              e.stopPropagation();
              
              
          });

          $( document ).on( 'click', function ( e ) {
              if ( $( e.target ).closest( TD ).length === 0 ) {
                  $( overlay ).hide();
                  $("#main_TD").find(id_toFind).hide()
              }
          });
                          
          $( document ).on( 'keydown', function ( e ) {
              if ( e.keyCode === 27 ) {
                  $( overlay ).hide();
                  $("#main_TD").find(id_toFind).hide()
              }
          });
    </script>
    <script type="text/javascript">
    $("#submit_btn").click(function	() {
    	selected = $("#id_year option:selected").val()
    	selected = parseInt(selected)
    	//alert('')
    });
    </script>
    <script>
			    $(".join_click").click(function(){
			    	id = $(this).attr('id')
						$("#join").val(id)			    
					  $.ajax({
					    type: 'POST', 
					    url: '#', 
					    dataType: 'json',
					    data: $('#join_form').serialize(),
					    success: function(x) {   
					    	if (x['success'] == true) {
					      	alert('Joined Trip')
					    	}     
					    	else{
					    		alert('Already Joined')
					    	}
					    }
				  	});
				  return false;
				});
		</script>
  {% endblock custom_scripts %}

