{% extends 'event.html' %}
{% load staticfiles %}

  {% block title %}Search Event{% endblock title %}
	
  {% block sub_sf %}
    <link rel="stylesheet" type="text/css" href="{% static "css/custom/search-event.css" %}">
  {% endblock sub_sf %}

  {% block page_name %}<div style="font-size: 32px; margin-left:-10px">Search Event</div>{% endblock page_name %}

  {% block content %}
  <form method="GET">
    <div class="search-top">
      <div class="sub-title">
        <h1>Search Trip</h1>
      </div>
      <div class="search-belt">
        <div class="search-layer l0">
          <div class="search-op ttl">
            <h3>Refine Search</h3>  
          </div>
        </div>
        <div class="search-layer l1">
          <div class="search-op l1-o1" style="flex:20">
            <label>Event Location:</label>
            {{ filters.form.location }}
          </div>
          <div class="search-op l1-o2" style="flex: 45;">
            <label>Place:</label>
              {{ filters.form.city }}
              {{ filters.form.state }}
              {{ filters.form.country }}
          </div>
        </div>
      <div class="search-layer l1" style="display: flex;">
          <div class="cat-show" style="flex: 10">
            <div class="gayab-sel" style="flex: 1"> 
              <label style="margin-right: 53px;">Category:</label>
              {{ filters.form.category }}
            </div>
            <div class="gayab-sel" style="flex: 1"> 
              <label style="margin-right: 15px;">Activity:</label>
              <select id="sel_activity" class="selects">
                <option value="">----------</option>
              </select>
            </div>
          </div>  
        <div class="search-op l3-o3" style="flex: 6; margin-left: 18px;">
              <label>Age Group:</label>
              {{ filters.form.age_group }}
            </div>
      </div> 
        <div class="search-layer l3">
           <div class="search-op" style="margin-right: 115px;">
            <label style="margin-right: 64px;">Privacy:</label>
            <select style="width: 90px;">
              <option>Any</option>
              <option>Public</option>
              <option>Private</option>
            </select>
          </div>
          <div class="search-op l3-o1" style="margin-right: 5px;">
            <label style="margin-right: 11px;">Start Date:</label>
            {{ filters.form.year }}
            {{ filters.form.month }}
            {{ filters.form.day }}
          </div> 
          <div class="search-op l3-o3" style="margin-left: 54px;">
            <label>Gender:</label>
            {{ filters.form.gender }}
          </div>
        </div>
        <div class="search-layer l4" style="margin-bottom: 10px">
          <div id="search_submit">
            <button id="submit_btn" class="btn btn-primary filter-btn">Search</button>
            <a id="clear_filters" class="btn btn-danger filter-btn" type="button" href="{% url 'searchevent' %}">Clear</a>
          </div>
        </div>
      </div>
    </div>
  </form>
    <div class="search-low col-lg-12">
      <div class="search-low-header">
        <h3>Results - Choose And Join</h3>    
      </div>
      <div class="result-container">
        <div class="result-layer">
        <form method="POST" id="join_form">
          {% csrf_token %}
          {% for record in filters.qs %}
            <div class="result-box">
              <div class="trip-box">
                <div class="tb-layer layer-zero">
                  <div class="tb-title">
                    <label>{{ record.title }}</label>
                  </div>
                  <div class="tb-credit">
                    
                  </div>
                </div>
                <div class="tb-layer" style="padding: 0;">
                  <div class="tb-op" style="display: flex;">
                    <img src="{{ MEDIA_URL }}{{ record.logo }}" style=" width: 50%;">
                    <img src="{{ MEDIA_URL }}{{ record.cover }}" style=" width: 50%;">
                  </div> 
                </div>
                <div class="tb-layer">
                  <div class="tb-op">
                    <label>Type:</label>
                    <span>{{ record.location }}</span>
                  </div>
                </div>
                <div class="tb-layer">
                  <div class="tb-op" style="flex: 2;">
                    <label>Place:</label>
                    <span title="Daman, Daman & Diu">{{ record.venue_name }}, &nbsp{{ record.street_address }}, &nbsp{{ record.city }}, &nbsp{{ record.state }}, &nbsp{{ record.state }}</span>
                  </div>
                </div>
                <div class="tb-layer">
                  <div class="tb-op">
                    <label>Activity:</label>
                    <span>{{ record.activity }}, &nbsp{{ record.category }}</span>
                  </div>
                </div>
                <div class="tb-layer">
                  <div class="tb-op">
                    <label>Date:</label>
                    <span>{{ record.start_date|date:'d M Y' }}</span>
                  </div>
                </div>
                <div class="tb-layer">
                  <div class="tb-op">
                    <label>Vacancy:</label>
                    <span>11</span>
                  </div>
                </div>
                <div class="tb-layer">
                  <div class="tb-op">
                    <a id="{{ record.event_id }}" class="dlink" style="cursor: pointer">+More Details</a>
                  </div>
                </div>
                <div class="tb-layer join-button">
                  <button id="{{ record.event_id }}" class="join_click" type="submit">Join</button>
                </div>
              </div>
            </div>
          {% endfor %}
  	     <input id="join" type="hidden" name="join" value="">
        </form>   
      </div>
      
    </div>
  <div id="main_TD">
      {% for record in filters.qs %}
        <div id="{{ record.event_id }}" class="event-details TD" hidden="hidden">
            <div class="trip-box-big"> 
              <div class="tbb-layer tbb-zero">
                <div class="tbb-layer tbb-bck-main">
                <div class="tbb-bck">
                  <img id="left" src="{{ MEDIA_URL }}{{ record.logo }}">
                </div>
              </div>
                <div class="tbb-op tbb-title">
                  <h3><i>{{ record.title }}</i></h3>
                </div>

              </div>
              <div class="tbb-layer tbb-bck-main">
                <div class="tbb-bck">
                  <img id="right" src="{{ MEDIA_URL }}{{ record.cover }}">
                </div>
              </div>
              <div class="tbb-layer">
                
                <div class="tbb-op creator" style="margin-left: 44.5%">
                  <label style="color: black">Created By</label>
                  <img src="{% static "img/user-black.png" %}">
                </div>
              </div>
              <div class="tbb-layer">
                <div class="part" style="margin-left: 20%">
                  <label style="color: black">Participants: 23</label>
                  <div class="tbb-subop">
                    <img src="{% static "img/user-black.png" %}">
                    <img src="{% static "img/user-black.png" %}">
                    <img src="{% static "img/user-black.png" %}">
                    <img src="{% static "img/user-black.png" %}">
                    <img src="{% static "img/user-black.png" %}">
                  </div>
                </div>
              </div>
              <div class="tbb-layer">
                <div class="tbb-op" style="text-align: center; margin-bottom: 20px;">
                  <label style="color: black">Vacancy:
                  <span style="color: black">7</span></label>
                </div>
              </div>
              <div class="tbb-low">
                <div class="tbb-layer lw">
                  <div class="tbb-op">
                    <label>Place:</label>
                    <span>{{ record.venue_name }},&nbsp {{ record.street_address }},&nbsp {{ record.city }}, &nbsp {{record.state}}- &nbsp {{record.pincode}} </span>
                  </div>
                </div>
                <div class="tbb-layer lw">
                  <div class="tbb-op">
                    <label>Category/Activity:</label>
                    <span>{{ record.category }}, &nbsp {{ record.activity }}</span>
                  </div>
                </div>
                <div class="tbb-layer lw">
                  <div class="tbb-op">
                    <label>Start Date & Time:</label>
                    <span>{{ record.start_date }}</span>
                  </div>
                </div>
                <div class="tbb-layer lw">
                  <div class="tbb-op">
                    <label>End Date & Time:</label>
                    <span>{{ record.end_date }}</span>
                  </div>
                </div>
                <div class="tbb-layer lw">
                  <div class="tbb-op">
                    <label>Deadline</label>
                    <span>{{ record.deadline }}</span>
                  </div>
                </div>
                <div class="tbb-layer lw">
                  <div class="tbb-op">
                    <label>Gender:</label>
                    <span>{{ record.gender }}</span>
                  </div>
                </div>
                <div class="tbb-layer lw">
                  <div class="tbb-op">
                    <label>Age Group:</label>
                    <span>{{ record.age }}</span>
                  </div>
                </div>
                <div class="tbb-layer lw">
                  <div class="tbb-op">
                    <label>Fees:</label>
                    <span>{{ record.fees }}</span>
                  </div>
                </div>
                <div class="tbb-layer lw">
                  <div class="tbb-op">
                    <label>Description:</label>
                    <span>{{ record.description }}</span>
                  </div>
                </div>
                <div class="tbb-layer lw" style="border: 0;">
                  <div class="tbb-op tbb-route">
                    <label>Route Info: <a href="#!">Click to View</a></label>
                  </div>
                </div>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
    
  {% endblock content %}

  {% block overlay %}
  
    <div id="olay" class="overlay" hidden="hidden">
      
      <div class="route-details">
        
      </div>
    </div>
  {% endblock overlay %}
   {% block custom_scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static "js/custom.js" %}"></script>
    <script type="text/javascript">
          var overlay = $( '#olay' )[0];
          var TD = ''
          var id_toFind = ''

          $(".dlink" ).on( 'click', function ( e ) {
              
              link = $(this).attr('id')
              //alert(link)
              id_toFind = "#"+link
              //alert(id_toShow)
              $("#main_TD").find(id_toFind).show()

              $( overlay ).show();
              e.stopPropagation();
              
              
          });

          $( document ).on( 'click', function ( e ) {
              if ( $( e.target ).closest( TD ).length === 0 ) {
                  $( overlay ).hide();
                  $("#main_TD").find(id_toFind).hide()
              }
          });
                          
          $( document ).on( 'keydown', function ( e ) {
              if ( e.keyCode === 27 ) {
                  $( overlay ).hide();
                  $("#main_TD").find(id_toFind).hide()
              }
          });
    </script>
    <script type="text/javascript">
      var adventure_list = ['Skydiving', 'Rafting', 'Bungee Jumping', 'Swimming', 'Parasailing', 'Tracking', 'Extreme Cycling', 'Kayaking', 'Ice Skiing', 'Surfing', 'Rappelling', 'Biking']
      var business_list = ['Seminar & Conference', 'Product Launch', 'Appreciation Party', 'Charity Function', 'Award Ceremony', 'Meeting', 'Training & Development', 'Startup Event']
      var social_list = ['Meeting', 'Ceremony', 'Party']
      var talks_list = ['Spiritual', 'Psychological', 'Political', 'Awareness', 'Life Experiences', 'Counceilling', 'Medical', 'Science', 'Philosophy']
      var entertainment_list = ['Plays', 'Live Concerts', 'Stand-up Comedy', 'Music', 'Party']
      var sports_list = ['Marathon', 'Championship', 'Meet', 'Tournament', 'Rallying']
      var option_dict = {'Adventure': adventure_list, 'Business & Tech': business_list, 'Social': social_list, 'Talks': talks_list, 'Entertainment': entertainment_list, 'Sports': sports_list}
      var category_list = ['Adventure', 'Business & Tech', 'Entertainment','Social','Sports', 'Talks']
      
      function actop(activity_list){
        $("#sel_activity").html("<option value=''>----------</option>")
        for (var i = 0; i < activity_list.length; i++){
          $("#sel_activity").append("<option>"+activity_list[i]+"</option")
        }
      }
      
      $("#id_category").blur(function(){
        category = $("#id_category").val()
        if (option_dict[category] != null){
          actop(option_dict[category])
        }
      })
    </script>
     <script>
          $(".join_click").click(function(){
            id = $(this).attr('id')
            $("#join").val(id)          
            $.ajax({
              type: 'POST', 
              url: '#', 
              dataType: 'json',
              data: $('#join_form').serialize(),
              success: function(x) {   
                if (x['success'] == true) {
                  alert('Joined Trip')
                }     
                else{
                  alert('Already Joined')
                }
              }
            });
          return false;
        });
    </script>
  {% endblock custom_scripts %}