{% extends 'trip.html' %}
{% load staticfiles %}
  
  {% block title %}Search Trip{% endblock title %}

  {% block static_files %}
    <link rel="stylesheet" type="text/css" href="{% static "css/custom/search-trip.css" %}">
  {% endblock static_files %}
  {% block page_name %}Search Trip{% endblock page_name %}
        
  {% block content %}
    <div class="search-top">
      <div class="sub-title">
        <h1>Search Trip</h1>
      </div>
      <div class="search-belt">
        <div class="search-layer l0">
          <div class="search-op ttl">
            <h3>Refine Search</h3>  
          </div>
        </div>
        <div class="search-layer l1">
          <div class="search-op l1-o1">
            <label>Source:</label>
            <input type="text" name="source">
          </div>
          <div class="search-op l1-o2">
            <label>Destination:</label>
            <input type="text" name="dest">
          </div>
        </div>
        <div class="search-layer l2">
          <div class="search-op l2-o1">
            <label>Company:</label>
            <select>
              <option>Any</option>
              <option>Solo</option>
              <option>Group</option>
            </select>
          </div>
          <div class="search-op l2-o2">
            <label>Travel Moto:</label>
            <select>
              <option>Any</option>
              <option>Adventure</option>
              <option>Exploring</option>
              <option>Photography</option>
              <option>Sport Events</option>
              <option>Food & Cuisine</option>
              <option>Exercise</option>
              <option>Shopping</option>
              <option>Travel Blogging</option>
              <option>Partying</option>
              <option>Backtracking</option>
            </select>
          </div>
          <div class="search-op l2-o3">
            <label>Mode:</label>
            <select>
              <option>Any</option>
              <option>Car</option>
              <option>Motorbike</option>
              <option>Cycle</option>
              <option>On-Foot</option>
            </select>
          </div>
          <div class="search-op l2-o4">
            <label>Participants:</label>
            <select>
              <option>Any</option>
              <option>Open</option>
              <option>Limited</option>
            </select>
          </div>
        </div>
        <div class="search-layer l3">
          <div class="search-op l3-o1">
            <label>Start Date:</label>
            <select>
              <option>Any</option>
              <option>2018</option>
              <option>2019</option>
              <option>2020</option>
              <option>2021</option>
              <option>2022</option>
              <option>2023</option>
              <option>2024</option>
              <option>2025</option>
              <option>2026</option>
              <option>2027</option>
              <option>2028</option>
              <option>2029</option>
              <option>2030</option>
            </select>
            <select>
              <option>Any</option>
              <option>Jan</option>
              <option>Feb</option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>Aug</option>
              <option>Sep</option>
              <option>Oct</option>
              <option>Nov</option>
              <option>Dec</option>
            </select>
            <select>
              <option>Any</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>21</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
              <option>31</option>
            </select>
          </div>
          <div class="search-op l3-o2">
            <label>Start Time:</label>
            <select>
              <option>Any</option>
              <option>12</option>
              <option>11</option>
              <option>10</option>
              <option>9</option>
              <option>8</option>
              <option>7</option>
              <option>6</option>
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
            </select>
            <select>
              <option></option>
              <option>am</option>
              <option>pm</option>
            </select>
          </div>
          <div class="search-op l3-o3">
            <label>Gender:</label>
            <select>
              <option>Any</option>
              <option>Male</option>
              <option>Female</option>
              <option>Others</option>
            </select>
          </div>
          <div class="search-op l3-o4">
            <label>Age Group:</label>
            <select>
              <option disabled selected>From</option>
              <option>Under 18</option>
              <option>18-30</option>
              <option>30-50</option>
              <option>Above 50</option>
            </select>
            <select>
              <option disabled selected>To</option>
              <option>Under 18</option>
              <option>18-30</option>
              <option>30-50</option>
              <option>Above 50</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="search-low col-lg-12">
      <div class="search-low-header">
        <h3>Results - Choose And Join</h3>    
      </div>
      <div class="result-container">
        <div class="result-layer">
	        <div class="result-box">
	          <div class="trip-box">
	            <div class="tb-layer layer-zero">
	              <div class="tb-title">
	                <h4><b>Around the state in 7 Days</b></h4></label>
	              </div>
	              <div class="tb-credit">
	                <h4>By:</h4>
	                <a href=""><img src="{% static "img/obama-face.png" %}"></a>
	              </div>
	            </div>
	            <div class="tb-layer" style="padding: 0;">
	              <div class="tb-op">
	                <img src="{% static "img/adventure.jpg" %}" style=" width: 100%;">
	              </div> 
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>From:</label>
	                <span>Daman</span>
	              </div>
	              <div class="tb-op">
	                <label>To:</label>
	                <span>Pune</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Date:</label>
	                <span>28-2-2018</span>
	              </div>
	              <div class="tb-op">
	                <label>Mode:</label>
	                <span>Motorbike</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Vacancy:</label>
	                <span>11</span>
	              </div>
	              <div class="tb-op">
	                <a id="dlink" href="#!">+More Details</a>
	              </div>
	            </div>
	            <div class="tb-layer join-button">
	              <button>Join</button>
	            </div>
	          </div>
	        </div>
	        <div class="result-box">
	          <div class="trip-box">
	            <div class="tb-layer layer-zero">
	              <div class="tb-title">
	                <h4><b>Around the state in 7 Days</b></h4></label>
	              </div>
	              <div class="tb-credit">
	                <h4>By:</h4>
	                <a href=""><img src="{% static "img/obama-face.png" %}"></a>
	              </div>
	            </div>
	            <div class="tb-layer" style="padding: 0;">
	              <div class="tb-op">
	                <img src="{% static "img/adventure.jpg" %}" style=" width: 100%;">
	              </div> 
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>From:</label>
	                <span>Daman</span>
	              </div>
	              <div class="tb-op">
	                <label>To:</label>
	                <span>Pune</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Date:</label>
	                <span>28-2-2018</span>
	              </div>
	              <div class="tb-op">
	                <label>Mode:</label>
	                <span>Motorbike</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Vacancy:</label>
	                <span>11</span>
	              </div>
	              <div class="tb-op">
	                <a id="dlink" href="#!">+More Details</a>
	              </div>
	            </div>
	            <div class="tb-layer join-button">
	              <button>Join</button>
	            </div>
	          </div>
	        </div>
	        <div class="result-box">
	          <div class="trip-box">
	            <div class="tb-layer layer-zero">
	              <div class="tb-title">
	                <h4><b>Around the state in 7 Days</b></h4></label>
	              </div>
	              <div class="tb-credit">
	                <h4>By:</h4>
	                <a href=""><img src="{% static "img/obama-face.png" %}"></a>
	              </div>
	            </div>
	            <div class="tb-layer" style="padding: 0;">
	              <div class="tb-op">
	                <img src="{% static "img/adventure.jpg" %}" style=" width: 100%;">
	              </div> 
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>From:</label>
	                <span>Daman</span>
	              </div>
	              <div class="tb-op">
	                <label>To:</label>
	                <span>Pune</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Date:</label>
	                <span>28-2-2018</span>
	              </div>
	              <div class="tb-op">
	                <label>Mode:</label>
	                <span>Motorbike</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Vacancy:</label>
	                <span>11</span>
	              </div>
	              <div class="tb-op">
	                <a id="dlink" href="#!">+More Details</a>
	              </div>
	            </div>
	            <div class="tb-layer join-button">
	              <button>Join</button>
	            </div>
	          </div>
	        </div>	
        </div>
        <div class="result-layer">
	        <div class="result-box">
	          <div class="trip-box">
	            <div class="tb-layer layer-zero">
	              <div class="tb-title">
	                <h4><b>Around the state in 7 Days</b></h4></label>
	              </div>
	              <div class="tb-credit">
	                <h4>By:</h4>
	                <a href=""><img src="{% static "img/obama-face.png" %}"></a>
	              </div>
	            </div>
	            <div class="tb-layer" style="padding: 0;">
	              <div class="tb-op">
	                <img src="{% static "img/adventure.jpg" %}" style=" width: 100%;">
	              </div> 
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>From:</label>
	                <span>Daman</span>
	              </div>
	              <div class="tb-op">
	                <label>To:</label>
	                <span>Pune</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Date:</label>
	                <span>28-2-2018</span>
	              </div>
	              <div class="tb-op">
	                <label>Mode:</label>
	                <span>Motorbike</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Vacancy:</label>
	                <span>11</span>
	              </div>
	              <div class="tb-op">
	                <a id="dlink" href="#!">+More Details</a>
	              </div>
	            </div>
	            <div class="tb-layer join-button">
	              <button>Join</button>
	            </div>
	          </div>
	        </div>
	        <div class="result-box">
	          <div class="trip-box">
	            <div class="tb-layer layer-zero">
	              <div class="tb-title">
	                <h4><b>Around the state in 7 Days</b></h4></label>
	              </div>
	              <div class="tb-credit">
	                <h4>By:</h4>
	                <a href=""><img src="{% static "img/obama-face.png" %}"></a>
	              </div>
	            </div>
	            <div class="tb-layer" style="padding: 0;">
	              <div class="tb-op">
	                <img src="{% static "img/adventure.jpg" %}" style=" width: 100%;">
	              </div> 
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>From:</label>
	                <span>Daman</span>
	              </div>
	              <div class="tb-op">
	                <label>To:</label>
	                <span>Pune</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Date:</label>
	                <span>28-2-2018</span>
	              </div>
	              <div class="tb-op">
	                <label>Mode:</label>
	                <span>Motorbike</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Vacancy:</label>
	                <span>11</span>
	              </div>
	              <div class="tb-op">
	                <a id="dlink" href="#!">+More Details</a>
	              </div>
	            </div>
	            <div class="tb-layer join-button">
	              <button>Join</button>
	            </div>
	          </div>
	        </div>
	        <div class="result-box">
	          <div class="trip-box">
	            <div class="tb-layer layer-zero">
	              <div class="tb-title">
	                <h4><b>Around the state in 7 Days</b></h4></label>
	              </div>
	              <div class="tb-credit">
	                <h4>By:</h4>
	                <a href=""><img src="{% static "img/obama-face.png" %}"></a>
	              </div>
	            </div>
	            <div class="tb-layer" style="padding: 0;">
	              <div class="tb-op">
	                <img src="{% static "img/adventure.jpg" %}" style=" width: 100%;">
	              </div> 
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>From:</label>
	                <span>Daman</span>
	              </div>
	              <div class="tb-op">
	                <label>To:</label>
	                <span>Pune</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Date:</label>
	                <span>28-2-2018</span>
	              </div>
	              <div class="tb-op">
	                <label>Mode:</label>
	                <span>Motorbike</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Vacancy:</label>
	                <span>11</span>
	              </div>
	              <div class="tb-op">
	                <a id="dlink" href="#!">+More Details</a>
	              </div>
	            </div>
	            <div class="tb-layer join-button">
	              <button>Join</button>
	            </div>
	          </div>
	        </div>	
        </div>
        <div class="result-layer">
	        <div class="result-box">
	          <div class="trip-box">
	            <div class="tb-layer layer-zero">
	              <div class="tb-title">
	                <h4><b>Around the state in 7 Days</b></h4></label>
	              </div>
	              <div class="tb-credit">
	                <h4>By:</h4>
	                <a href=""><img src="{% static "img/obama-face.png" %}"></a>
	              </div>
	            </div>
	            <div class="tb-layer" style="padding: 0;">
	              <div class="tb-op">
	                <img src="{% static "img/adventure.jpg" %}" style=" width: 100%;">
	              </div> 
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>From:</label>
	                <span>Daman</span>
	              </div>
	              <div class="tb-op">
	                <label>To:</label>
	                <span>Pune</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Date:</label>
	                <span>28-2-2018</span>
	              </div>
	              <div class="tb-op">
	                <label>Mode:</label>
	                <span>Motorbike</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Vacancy:</label>
	                <span>11</span>
	              </div>
	              <div class="tb-op">
	                <a id="dlink" href="#!">+More Details</a>
	              </div>
	            </div>
	            <div class="tb-layer join-button">
	              <button>Join</button>
	            </div>
	          </div>
	        </div>
	        <div class="result-box">
	          <div class="trip-box">
	            <div class="tb-layer layer-zero">
	              <div class="tb-title">
	                <h4><b>Around the state in 7 Days</b></h4></label>
	              </div>
	              <div class="tb-credit">
	                <h4>By:</h4>
	                <a href=""><img src="{% static "img/obama-face.png" %}"></a>
	              </div>
	            </div>
	            <div class="tb-layer" style="padding: 0;">
	              <div class="tb-op">
	                <img src="{% static "img/adventure.jpg" %}" style=" width: 100%;">
	              </div> 
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>From:</label>
	                <span>Daman</span>
	              </div>
	              <div class="tb-op">
	                <label>To:</label>
	                <span>Pune</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Date:</label>
	                <span>28-2-2018</span>
	              </div>
	              <div class="tb-op">
	                <label>Mode:</label>
	                <span>Motorbike</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Vacancy:</label>
	                <span>11</span>
	              </div>
	              <div class="tb-op">
	                <a id="dlink" href="#!">+More Details</a>
	              </div>
	            </div>
	            <div class="tb-layer join-button">
	              <button>Join</button>
	            </div>
	          </div>
	        </div>
	        <div class="result-box">
	          <div class="trip-box">
	            <div class="tb-layer layer-zero">
	              <div class="tb-title">
	                <h4><b>Around the state in 7 Days</b></h4></label>
	              </div>
	              <div class="tb-credit">
	                <h4>By:</h4>
	                <a href=""><img src="{% static "img/obama-face.png" %}"></a>
	              </div>
	            </div>
	            <div class="tb-layer" style="padding: 0;">
	              <div class="tb-op">
	                <img src="{% static "img/adventure.jpg" %}" style=" width: 100%;">
	              </div> 
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>From:</label>
	                <span>Daman</span>
	              </div>
	              <div class="tb-op">
	                <label>To:</label>
	                <span>Pune</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Date:</label>
	                <span>28-2-2018</span>
	              </div>
	              <div class="tb-op">
	                <label>Mode:</label>
	                <span>Motorbike</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Vacancy:</label>
	                <span>11</span>
	              </div>
	              <div class="tb-op">
	                <a id="dlink" href="#!">+More Details</a>
	              </div>
	            </div>
	            <div class="tb-layer join-button">
	              <button>Join</button>
	            </div>
	          </div>
	        </div>	
        </div>
        <div class="result-layer">
	        <div class="result-box">
	          <div class="trip-box">
	            <div class="tb-layer layer-zero">
	              <div class="tb-title">
	                <h4><b>Around the state in 7 Days</b></h4></label>
	              </div>
	              <div class="tb-credit">
	                <h4>By:</h4>
	                <a href=""><img src="{% static "img/obama-face.png" %}"></a>
	              </div>
	            </div>
	            <div class="tb-layer" style="padding: 0;">
	              <div class="tb-op">
	                <img src="{% static "img/adventure.jpg" %}" style=" width: 100%;">
	              </div> 
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>From:</label>
	                <span>Daman</span>
	              </div>
	              <div class="tb-op">
	                <label>To:</label>
	                <span>Pune</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Date:</label>
	                <span>28-2-2018</span>
	              </div>
	              <div class="tb-op">
	                <label>Mode:</label>
	                <span>Motorbike</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Vacancy:</label>
	                <span>11</span>
	              </div>
	              <div class="tb-op">
	                <a id="dlink" href="#!">+More Details</a>
	              </div>
	            </div>
	            <div class="tb-layer join-button">
	              <button>Join</button>
	            </div>
	          </div>
	        </div>
	        <div class="result-box">
	          <div class="trip-box">
	            <div class="tb-layer layer-zero">
	              <div class="tb-title">
	                <h4><b>Around the state in 7 Days</b></h4></label>
	              </div>
	              <div class="tb-credit">
	                <h4>By:</h4>
	                <a href=""><img src="{% static "img/obama-face.png" %}"></a>
	              </div>
	            </div>
	            <div class="tb-layer" style="padding: 0;">
	              <div class="tb-op">
	                <img src="{% static "img/adventure.jpg" %}" style=" width: 100%;">
	              </div> 
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>From:</label>
	                <span>Daman</span>
	              </div>
	              <div class="tb-op">
	                <label>To:</label>
	                <span>Pune</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Date:</label>
	                <span>28-2-2018</span>
	              </div>
	              <div class="tb-op">
	                <label>Mode:</label>
	                <span>Motorbike</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Vacancy:</label>
	                <span>11</span>
	              </div>
	              <div class="tb-op">
	                <a id="dlink" href="#!">+More Details</a>
	              </div>
	            </div>
	            <div class="tb-layer join-button">
	              <button>Join</button>
	            </div>
	          </div>
	        </div>
	        <div class="result-box">
	          <div class="trip-box">
	            <div class="tb-layer layer-zero">
	              <div class="tb-title">
	                <h4><b>Around the state in 7 Days</b></h4></label>
	              </div>
	              <div class="tb-credit">
	                <h4>By:</h4>
	                <a href=""><img src="{% static "img/obama-face.png" %}"></a>
	              </div>
	            </div>
	            <div class="tb-layer" style="padding: 0;">
	              <div class="tb-op">
	                <img src="{% static "img/adventure.jpg" %}" style=" width: 100%;">
	              </div> 
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>From:</label>
	                <span>Daman</span>
	              </div>
	              <div class="tb-op">
	                <label>To:</label>
	                <span>Pune</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Date:</label>
	                <span>28-2-2018</span>
	              </div>
	              <div class="tb-op">
	                <label>Mode:</label>
	                <span>Motorbike</span>
	              </div>
	            </div>
	            <div class="tb-layer">
	              <div class="tb-op">
	                <label>Vacancy:</label>
	                <span>11</span>
	              </div>
	              <div class="tb-op">
	                <a id="dlink" href="#!">+More Details</a>
	              </div>
	            </div>
	            <div class="tb-layer join-button">
	              <button>Join</button>
	            </div>
	          </div>
	        </div>	
        </div>
      </div>
      
    </div>
  </div>
  {% endblock content %}

  {% block overlayTD %}
    <div id="olay" class="overlay" hidden="hidden">
      
      <div class="route-details">
        
      </div>
    </div>
    <div id="TD" class="trip-details" hidden="hidden">
        <div class="trip-box-big"> 
          <div class="tbb-layer tbb-zero">
            <div class="tbb-op tbb-title">
              <h3>Around the state in 7 Days</h3>
            </div>
            <div class="tbb-op join-btn">
              <button>Join</button>
            </div>
          </div>
          <div class="tbb-layer tbb-bck-main">
            <div class="tbb-bck">
              <img src="{% static "img/food.jpg" %}">
            </div>
          </div>
          <div class="tbb-layer">
            
            <div class="tbb-op creator">
              <label>Created By</label>
              <img src="{% static "img/user-black.png" %}">
            </div>
          </div>
          <div class="tbb-layer">
            <div class="part">
              <label>Participants: 23</label>
              <div class="tbb-subop">
                <img src="{% static "img/user-black.png" %}">
                <img src="{% static "img/user-black.png" %}">
                <img src="{% static "img/user-black.png" %}">
                <img src="{% static "img/user-black.png" %}">
                <img src="{% static "img/user-black.png" %}">
              </div>
            </div>
          </div>
          <div class="tbb-layer">
            <div class="tbb-op" style="text-align: center; margin-bottom: 20px;">
              <label>Vacancy:</label>
              <span>7</span>
            </div>
          </div>
          <div class="tbb-low">
            <div class="tbb-layer lw">
              <div class="tbb-op">
                <label>Source:</label>
                <span>Daman, Daman & Diu</span>
              </div>
              <div class="tbb-op">
                <label>Destination:</label>
                <span>Calungute, Goa</span>
              </div>
            </div>
            <div class="tbb-layer lw">
              <div class="tbb-op">
                <label>Travel Moto:</label>
                <span>Adventure</span>
              </div>
              <div class="tbb-op">
                <label>Travelling Mode:</label>
                <span>Motorbike</span>
              </div>
            </div>
            <div class="tbb-layer lw">
              <div class="tbb-op">
                <label>Start Date:</label>
                <span>28-02-2018</span>
              </div>
              <div class="tbb-op">
                <label>Start Time:</label>
                <span>10:00 am</span>
              </div>
            </div>
            <div class="tbb-layer lw">
              <div class="tbb-op">
                <label>Gender:</label>
                <span>Any</span>
              </div>
              <div class="tbb-op">
                <label>Age Group:</label>
                <span>18-35</span>
              </div>
            </div>
            <div class="tbb-layer lw" style="border: 0;">
              <div class="tbb-op tbb-route">
                <label>Route Info:</label>
                <span><a href="#!">Click to View</a></span>
              </div>
            </div>
          </div>
        </div>
    </div>
  {% endblock overlayTD %}
  
  {% block custom_scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static "js/custom.js" %}"></script>
    <script type="text/javascript">
          var link = $( '#dlink' )[0];
          var overlay = $( '#olay' )[0];
          var TD = $( '#TD' )[0];

          $( link ).on( 'click', function ( e ) {
              $( overlay ).show();
              $( TD ).show();
              e.stopPropagation();
          });

          $( document ).on( 'click', function ( e ) {
              if ( $( e.target ).closest( TD ).length === 0 ) {
                  $( overlay ).hide();
                  $( TD ).hide();
              }
          });
                          
          $( document ).on( 'keydown', function ( e ) {
              if ( e.keyCode === 27 ) {
                  $( overlay ).hide();
                  $( TD ).hide();
              }
          });
</script>
  {% endblock custom_scripts %}
</body>
</html>