{% extends 'frame.html' %}
{% load staticfiles %}
	
	{% block title %}Profile-Settings{% endblock title %}

	{% block static_files %}
  	<link rel="stylesheet" type="text/css" href="{% static "css/custom/settings.css" %}">
	{% endblock static_files %}

	{% block page_name %}
		Settings
	{% endblock page_name %}

	{% block inner_leftSideBar %}
	  <li><a href="{% url "story" %}"><span class="glyphicon glyphicon-th" style="font-size: 25px">&nbsp</span>Story</a></li>
	  <li><a href="{% url "timeline" %}"><span class="glyphicon glyphicon-sunglasses">&nbsp</span>Profile</a></li>
	  <li><a href="{% url "travellermain" %}"><span class="glyphicon glyphicon-road">&nbsp</span>Traveller</a></li>
	  <li><a href="{% url "eventmain" %}"><span class="glyphicon glyphicon-pushpin">&nbsp</span>Organizer</a></li>
	  <li><a href="#"><span class="glyphicon glyphicon-list-alt">&nbsp</span>Estimator</a></li>
	  <li><a href="{% url "emergency" %}"><span class="glyphicon glyphicon-warning-sign">&nbsp</span>Emergency</a></li>
  {% endblock inner_leftSideBar %}
  
  {% block outer_leftSideBar %}
	  <li><a href="{% url "story" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Story" class="glyphicon glyphicon-th" style=""></span></a></li>
	  <li><a href="{% url "timeline" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Profile" class="glyphicon glyphicon-sunglasses" style=""></span></a></li>
	  <li><a href="{% url "traveller_main" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Traveller" class="glyphicon glyphicon-road" style=""></span></a></li>
	  <li><a href="{% url "event_main" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Organizer" class="glyphicon glyphicon-pushpin" style=""></span></a></li>
	  <li><a href="#"><span data-toggle="tooltip" data-placement="right" data-original-title="Estimator" class="glyphicon glyphicon-list-alt" style="
	  "></span></a></li>
	  <li><a href="{% url "emergency" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Emergency" class="glyphicon glyphicon-warning-sign" style="font-size: 35p"></span></a></li>     
  {% endblock outer_leftSideBar %}
  
  {% block inner_rightSideBar %}
	  <li><a href="{% url "timeline" %}"><span><i class="material-icons">timeline</i></span>Timeline</a></li>
	  <li><a href="{% url "about" %}"><span><i class="material-icons">info_outline</i></span>About</a></li>
	  <li><a href="{% url "album" %}"><span><i class="material-icons">photo_album</i></span>Album</a></li>
	  <li><a href="{% url "friends" %}"><span><i class="material-icons">supervisor_account</i></span>Friends</a></li>
	  <li><a href="{% url "profilesetting" %}"><span><i class="material-icons">tune</i></span>Settings</a></li>
  {% endblock inner_rightSideBar %}
  
  {% block outer_rightSideBar %}
	  <li style="margin-bottom: 35px;"><a href="{% url "timeline" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Timeline"><i id="mat-icon" class="material-icons">timeline</i></span></a></li>
	  <li><a href="{% url "about" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="About"><i id="mat-icon" class="material-icons">info_outline</i></span></a></li>
	  <li style="margin-top: 20px"><a href="{% url "album" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Album"><i id="mat-icon" class="material-icons">photo_album</i></span></a></li>
	  <li><a href="{% url "friends" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Friends"><i id="mat-icon" class="material-icons">supervisor_account</i></span></a></li>
	  <li><a href="{% url "profilesetting" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Friends"><i id="mat-icon" class="material-icons">tune</i></span></a></li>
  {% endblock outer_rightSideBar %}

  {% block class_main %} col-lg-offset-3 col-lg-6 {% endblock class_main %}
	
	{% block content %}
	 	<div class="setting-main">
	 		<div class="general-setting">
				<div class="setting-head">
					<h3>
						General Settings
					</h3>
	 			</div>
	 			<hr>
	 			<form method="POST"	id="gen_form">
	 				{% csrf_token %}
		 			<div class="setting-body">
		 				<ul class="lists" type="none">
		 					<li class="list-item">
		 						<label class="label-dark li-1">Name</label>
		 						<div class="li-2">
		 							<input class="label-light name" name="fullname" value="{{ credentials.name }}" readonly="readonly" >
		 							
		 							<button id="" class="btn btn-success edit-done gendone" type="submit">Save</button>
		 							<button class="btn btn-default edit-cancel">Cancel</button>	
		 						</div>
		 						<a href="#!" class="edit-click li-3"><span class="span-edit">Edit</span></a>
		 					</li>
		 					<hr>
		 					<li class="list-item">
		 						<label class="label-dark li-1">Username</label>
		 						<div class="li-2" style="flex: 7">
		 							<input class="label-light name" value="{{ username }}" readonly="readonly" >
		 							<button class="btn btn-success edit-done">Save</button>
		 							<button class="btn btn-default edit-cancel">Cancel</button>	
		 						</div>
		 						
		 					</li>
		 					<hr>
		 					<li class="list-item">
		 						<label class="label-dark li-1">Email</label>
		 						<div class="li-2" style="flex: 7">
		 							<input class="label-light name" value="{{ credentials.email }}" readonly="readonly" >
		 							<button class="btn btn-success edit-done">Save</button>
		 							<button class="btn btn-default edit-cancel">Cancel</button>	
		 						</div>
		 						
		 					</li>
		 					<hr>
		 					<li class="list-item">
		 						<label class="label-dark li-1">Password</label>
		 						<div class="li-2">
		 							<input class="label-light name passO" type="password" value="ooooooooo" readonly="readonly" placeholder="Current Password">
		 							<input class="label-light name pass" type="password" placeholder="New Password" value="" style="display: none">
		 							<input class="label-light name pass" type="password" placeholder="Retype new password" value="none" style="display: none; margin-bottom: 10px;" name="passw">
		 							<br>
		 							<button class="btn btn-success edit-done  gendone">Save</button>
		 							<button class="btn btn-default edit-cancel">Cancel</button>	
		 						</div>
		 						<a href="#!" class="edit-click li-3"><span class="span-edit">Edit</span></a>
		 					</li>
		 					<hr>
		 					<!-- Deactivate account
		 					<li class="list-item">
		 						<label class="label-dark li-1">Deactivate Account</label>
		 						<div class="li-2">
		 							<label class="label-light label-small">Deactivate your account</label>
		 							<br>
		 							<label class="dact"><input type="radio" name="dact-rad" value="yes">Yes</label>
		 							<label class="dact"><input type="radio" name="dact-rad" value="no">No</label>
		 							<button class="btn btn-success edit-done">Save</button>
		 							<button class="btn btn-default edit-cancel">Cancel</button>
		 						</div>
		 						<a href="#!" class="edit-click li-3"><span class="span-edit">Edit</span></a>
		 					</li>
		 					-->
		 				</ul>
		 			</div>
	 			</form>
	 		</div>
	 		<div class="privacy-setting">
				<div class="privacy-head">
					<h3>
						Privacy Settings
					</h3>
	 			</div>
	 			<hr>
	 			<form id="priv_form" method="POST">
	 				{% csrf_token %}
		 			<div class="privacy-body">
		 				<ul class="lists" type="none">
		 					<li class="list-item">
		 						<label class="label-dark pli-1">Timeline</label>
		 						<label class="label-light label-small pli-2">Who can view your timeline?</label>
		 						<div class="pli-3">
		 							<input id="timeline" type="hidden" name="timeline" value="">
		 							<select id="timeline_sel" class="priv-select" disabled="disabled">
		 								<option disabled="" selected="selected">{{ privacy.timeline }}</option>
		 								<option>Everyone</option>
		 								<option>Friends</option>
		 								<option>Friends of Friends</option>
		 								<option>Only Me</option>
		 							</select>
		 							<br>
		 							<button id="timeline_save" class="btn btn-success privdone">Save</button>
		 							<button class="btn btn-default edit-cancel">Cancel</button>	
		 						</div>
		 						<a href="#!" class="edit-click pli-4"><span class="span-edit">Edit</span></a>
		 					</li>
		 					<hr>
		 					<li class="list-item">
		 						<label class="label-dark pli-1">Friends</label>
		 						<label class="label-light label-small pli-2">Who can view your Friends List?</label>
		 						<div class="pli-3">
		 							<input id="friends_list" type="hidden" name="friends_list" value="">
		 							<select id="friends_list_sel" class="priv-select" disabled="disabled">
		 								<option disabled="" selected="selected">{{ privacy.friends_list }}</option>
		 								<option>Everyone</option>
		 								<option>Friends</option>
		 								<option>Friends of Friends</option>
		 								<option>Only Me</option>
		 							</select>
		 							<br>
		 							<button id="friends_list_save" class="btn btn-success privdone">Save</button>
		 							<button class="btn btn-default edit-cancel">Cancel</button>	
		 						</div>
		 						<a href="#!" class="edit-click pli-4"><span class="span-edit">Edit</span></a>
		 					</li>
		 					<hr>
		 					<li class="list-item">
		 						<label class="label-dark pli-1">Album</label>
		 						<label class="label-light label-small pli-2">Who can view your Photos & Videos?</label>
		 						<div class="pli-3">
		 							<input id="album" type="hidden" name="album" value="">
		 							<select id="album_sel" class="priv-select" disabled="disabled">
		 								<option disabled="" selected="selected">{{ privacy.album }}</option>
		 								<option>Everyone</option>
		 								<option>Friends</option>
		 								<option>Friends of Friends</option>
		 								<option>Only Me</option>
		 							</select>
		 							<br>
		 							<button id="album_save" class="btn btn-success privdone">Save</button>
		 							<button class="btn btn-default edit-cancel">Cancel</button>	
		 						</div>
		 						<a href="#!" class="edit-click pli-4"><span class="span-edit">Edit</span></a>
		 					</li>
		 					<hr>
		 				</ul>
		 			</div>
	 			</form>
	 		</div>
	 		<div class="complete">
	 			<a href="{% url "timeline" %}" class="btn btn-primary">Done</a>
	 		</div>
	 	</div>
	{% endblock content %}

	{% block custom_scripts %}
		<script type="text/javascript">


			$(document).ready(function(){

				$("#timeline").val($("#timeline_sel option:selected").text())
				$("#friends_list").val($("#friends_list_sel option:selected").text())
				$("#album").val($("#album_sel option:selected").text())

			})
			$("#timeline_sel").change(function(){

				timeline = $("#timeline_sel option:selected").text()
				$("#timeline").val(timeline)
			})

			$("#friends_list_sel").change(function(){

				friends_list = $("#friends_list_sel option:selected").text()
				$("#friends_list").val(friends_list)

			})

			$("#album_sel").change(function(){

				album = $("#album_sel option:selected").text()
				$("#album").val(album)
				

			})

		</script>
		

	{% endblock custom_scripts %}