<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Album</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/custom/page-style.css" %}">
  	<link rel="stylesheet" type="text/css" href="{% static "css/custom/settings.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/fontawesome-all.css" %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
<body >
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img class="img-responsive pull-left" src="{% static 'img/emLogo-1.png' %}" alt="..."></a>
				<div class="page-title col-lg-1"><h1><i>Profile</i></h1></div>
				<div class="input-group input-group-md col-lg-offset-2 col-lg-3" id="nav-search">
					<input type="text" name="search" class="form-control search-input-top" placeholder="Search places or events">
					<span class="input-group-btn">
						<button class="btn btn-danger search-button-top"><span class="glyphicon glyphicon-search"></span></button>
					</span>
			</div>
			</div>
			<div id="user-info-nav" class="user-info-nav col-lg-offset-6">
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<a href="{% url 'timeline' %}">
						<span style="font-size: 13px;">
							<img src="{% static 'img/user-white.png' %}" style="width: 30px">
						</span>
						<span style="margin-left: 8px;">
							Willo Walker</a>
						</span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
                    <li><a href="{% url "timeline" %}">Profile</a></li>
					<li><a href="{% url "setting" %}">Settings</a></li>
					<li><a href="#">Help</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Logout</a></li>
				</ul>
			</div>
			
			<div class="col-lg-offset-7 nav-fmn" >
				<ul class="nav navbar-nav navbar-right" id="navMenu">
					<li><a class="text-center" href="#">Friend Requests</a></li>
					<li><a class="text-center" href="#">Messages</a></li>
					<li><a class="text-center" href="#">Notifications</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="leftSidenav" class="left-sidenav">
  		<a href="javascript:void(0)" class="left-closebtn" onclick="leftCloseNav()">&times;</a>
		<ul class="leftSidenav-content-ul-open sidenav-content-ul-open">
			<li><h1><u> Main Options</u></h1></li>
		  	<li><a href="{% url "story" %}"><span class="glyphicon glyphicon-th" style="font-size: 25px">&nbsp</span>Story</a></li>
			<li><a href="{% url "timeline" %}"><span class="glyphicon glyphicon-sunglasses">&nbsp</span>Profile</a></li>
			<li><a href="{% url "traveller_main" %}"><span class="glyphicon glyphicon-road">&nbsp</span>Traveller</a></li>
			<li><a href="{% url "event_main" %}"><span class="glyphicon glyphicon-pushpin">&nbsp</span>Organizer</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-list-alt">&nbsp</span>Estimator</a></li>
			<li><a href="{% url "emergency" %}"><span class="glyphicon glyphicon-warning-sign">&nbsp</span>Emergency</a></li>
		</ul>
	</div>
	<div class="leftSidenav-content">
		<ul class="leftSidenav-content-ul">
			<li id="t-ham"><span  data-toggle="tooltip" data-placement="right" data-original-title="Menu"  class="glyphicon glyphicon-menu-hamburger ham" style=";cursor:pointer;"   onclick="leftOpenNav()"></span></li>
			<li><a href="{% url "story" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Story" class="glyphicon glyphicon-th" style=""></span></a></li>
			<li><a href="{% url "timeline" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Profile" class="glyphicon glyphicon-sunglasses" style=""></span></a></li>
			<li><a href="{% url "traveller_main" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Traveller" class="glyphicon glyphicon-road" style=""></span></a></li>
			<li><a href="{% url "event_main" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Organizer" class="glyphicon glyphicon-pushpin" style=""></span></a></li>
			<li><a href="#"><span data-toggle="tooltip" data-placement="right" data-original-title="Estimator" class="glyphicon glyphicon-list-alt" style="
			"></span></a></li>
			<li><a href="{% url "emergency" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Emergency" class="glyphicon glyphicon-warning-sign" style="font-size: 35p"></span></a></li>		

		</ul>
	</div>

	<div id="rightSidenav" class="right-sidenav">
  		<a href="javascript:void(0)" class="right-closebtn" onclick="rightCloseNav()">&times;</a>
		<ul class="rightSidenav-content-ul-open sidenav-content-ul-open" style="list-style: none;">
			<li style="color: #ef0707"><h1><u> Page Options</u></h1></li>
			<li><a href="{% url "timeline" %}"><span><i class="material-icons">timeline</i></span>Timeline</a></li>
		  	<li><a href="{% url "about" %}"><span><i class="material-icons">info_outline</i></span>About</a></li>
			<li><a href="{% url "album" %}"><span><i class="material-icons">photo_album</i></span>Album</a></li>
			<li><a href="{% url "friends" %}"><span><i class="material-icons">supervisor_account</i></span>Friends</a></li>
			<li><a href="{% url "setting" %}"><span><i class="material-icons">tune</i></span>Settings</a></li>
		</ul>
	</div>

	<div class="rightSidenav-content ">
		<ul class="rightSidenav-content-ul">
			<li id="t-ham"><span data-toggle="tooltip" data-placement="top" data-original-title="Menu" class="glyphicon glyphicon-menu-hamburger" onclick="rightOpenNav()"></span></li>
			<li style="margin-bottom: 35px;"><a href="{% url "timeline" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Timeline"><i id="mat-icon" class="material-icons">timeline</i></span></a></li>
			<li><a href="{% url "about" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="About"><i id="mat-icon" class="material-icons">info_outline</i></span></a></li>
			<li style="margin-top: 20px"><a href="{% url "album" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Album"><i id="mat-icon" class="material-icons">photo_album</i></span></a></li>
			<li><a href="{% url "friends" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Friends"><i id="mat-icon" class="material-icons">supervisor_account</i></span></a></li>
			<li><a href="{% url "setting" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Friends"><i id="mat-icon" class="material-icons">tune</i></span></a></li>
		</ul>
	</div>

<div id="main" class="container col-lg-offset-3 col-lg-6">
 	<div class="setting-main">
 		<div class="general-setting">
			<div class="setting-head">
				<h3>
					General Settings
				</h3>
 			</div>
 			<hr>
 			<div class="setting-body">
 				<ul class="lists" type="none">
 					<li class="list-item">
 						<label class="label-dark li-1">Name</label>
 						<div class="li-2">
 							<input class="label-light name" value="Nawaaz Will" readonly="readonly" >
 							<button class="btn btn-success edit-done">Save</button>
 							<button class="btn btn-default edit-cancel">Cancel</button>	
 						</div>
 						<a href="#!" class="edit-click li-3"><span class="span-edit">Edit</span></a>
 					</li>
 					<hr>
 					<li class="list-item">
 						<label class="label-dark li-1">Username</label>
 						<div class="li-2">
 							<input class="label-light name" value="Willo Walker" readonly="readonly" >
 							<button class="btn btn-success edit-done">Save</button>
 							<button class="btn btn-default edit-cancel">Cancel</button>	
 						</div>
 						<a href="#!" class="edit-click li-3"><span class="span-edit">Edit</span></a>
 					</li>
 					<hr>
 					<li class="list-item">
 						<label class="label-dark li-1">Email</label>
 						<div class="li-2">
 							<input class="label-light name" value="mastermindjim@gmail.com" readonly="readonly" >
 							<button class="btn btn-success edit-done">Save</button>
 							<button class="btn btn-default edit-cancel">Cancel</button>	
 						</div>
 						<a href="#!" class="edit-click li-3"><span class="span-edit">Edit</span></a>
 					</li>
 					<hr>
 					<li class="list-item">
 						<label class="label-dark li-1">Password</label>
 						<div class="li-2">
 							<input class="label-light name passO" type="password" value="ooooooooo" readonly="readonly" placeholder="Current Password">
 							<input class="label-light name pass" type="password" placeholder="New Password" value="" style="display: none">
 							<input class="label-light name pass" type="password" placeholder="Retype new password" value="" style="display: none; margin-bottom: 10px;">
 							<br>
 							<button class="btn btn-success edit-done">Save</button>
 							<button class="btn btn-default edit-cancel">Cancel</button>	
 						</div>
 						<a href="#!" class="edit-click li-3"><span class="span-edit">Edit</span></a>
 					</li>
 					<hr>
 					<li class="list-item">
 						<label class="label-dark li-1">Deactivate Account</label>
 						<div class="li-2">
 							<label class="label-light label-small">Deactivate your account</label>
 							<br>
 							<label class="dact"><input type="radio" name="dact-rad" value="yes">Yes</label>
 							<label class="dact"><input type="radio" name="dact-rad" value="no">No</label>
 							<button class="btn btn-success edit-done">Save</button>
 							<button class="btn btn-default edit-cancel">Cancel</button>
 						</div>
 						<a href="#!" class="edit-click li-3"><span class="span-edit">Edit</span></a>
 					</li>
 				</ul>
 			</div>
 		</div>
 		<div class="privacy-setting">
			<div class="privacy-head">
				<h3>
					Privacy Settings
				</h3>
 			</div>
 			<hr>
 			<div class="privacy-body">
 				<ul class="lists" type="none">
 					<li class="list-item">
 						<label class="label-dark pli-1">Timeline</label>
 						<label class="label-light label-small pli-2">Who can view your timeline?</label>
 						<div class="pli-3">
 							<select class="priv-select" disabled="disabled">
 								<option>Everyone</option>
 								<option>Friends</option>
 								<option>Friends of Friends</option>
 								<option>Only Me</option>
 							</select>
 							<br>
 							<button class="btn btn-success edit-done">Save</button>
 							<button class="btn btn-default edit-cancel">Cancel</button>	
 						</div>
 						<a href="#!" class="edit-click pli-4"><span class="span-edit">Edit</span></a>
 					</li>
 					<hr>
 					<li class="list-item">
 						<label class="label-dark pli-1">Friends</label>
 						<label class="label-light label-small pli-2">Who can view your Friends List?</label>
 						<div class="pli-3">
 							<select class="priv-select" disabled="disabled">
 								<option>Everyone</option>
 								<option>Friends</option>
 								<option>Friends of Friends</option>
 								<option>Only Me</option>
 							</select>
 							<br>
 							<button class="btn btn-success edit-done">Save</button>
 							<button class="btn btn-default edit-cancel">Cancel</button>	
 						</div>
 						<a href="#!" class="edit-click pli-4"><span class="span-edit">Edit</span></a>
 					</li>
 					<hr>
 					<li class="list-item">
 						<label class="label-dark pli-1">Album</label>
 						<label class="label-light label-small pli-2">Who can view your Photos & Videos?</label>
 						<div class="pli-3">
 							<select class="priv-select" disabled="disabled">
 								<option>Everyone</option>
 								<option>Friends</option>
 								<option>Friends of Friends</option>
 								<option>Only Me</option>
 							</select>
 							<br>
 							<button class="btn btn-success edit-done">Save</button>
 							<button class="btn btn-default edit-cancel">Cancel</button>	
 						</div>
 						<a href="#!" class="edit-click pli-4"><span class="span-edit">Edit</span></a>
 					</li>
 					<hr>
 				</ul>
 			</div>
 		</div>
 		<div class="complete">
 			<a href="timeline.html" class="btn btn-primary">Done</a>
 		</div>
 	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static "js/custom.js" %}"></script>

</body>
</html>
