{% extends 'frame.html' %}
{% load staticfiles %}
	
	{% block title %}Profile-Settings{% endblock title %}

	{% block static_files %}
  	<link rel="stylesheet" type="text/css" href="{% static "css/custom/settings.css" %}">
	{% endblock static_files %}

	{% block inner_leftSideBar %}
	  <li><a href="{% url "story" %}"><span class="glyphicon glyphicon-th" style="font-size: 25px">&nbsp</span>Story</a></li>
	  <li><a href="{% url "timeline" %}"><span class="glyphicon glyphicon-sunglasses">&nbsp</span>Profile</a></li>
	  <li><a href="{% url "travellermain" %}"><span class="glyphicon glyphicon-road">&nbsp</span>Traveller</a></li>
	  <li><a href="{% url "eventmain" %}"><span class="glyphicon glyphicon-pushpin">&nbsp</span>Organizer</a></li>
	  <li><a href="#"><span class="glyphicon glyphicon-list-alt">&nbsp</span>Estimator</a></li>
	  <li><a href="{% url "emergency" %}"><span class="glyphicon glyphicon-warning-sign">&nbsp</span>Emergency</a></li>
  {% endblock inner_leftSideBar %}
  
  {% block outer_leftSideBar %}
	  <li><a href="{% url "story" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Story" class="glyphicon glyphicon-th" style=""></span></a></li>
	  <li><a href="{% url "timeline" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Profile" class="glyphicon glyphicon-sunglasses" style=""></span></a></li>
	  <li><a href="{% url "traveller_main" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Traveller" class="glyphicon glyphicon-road" style=""></span></a></li>
	  <li><a href="{% url "event_main" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Organizer" class="glyphicon glyphicon-pushpin" style=""></span></a></li>
	  <li><a href="#"><span data-toggle="tooltip" data-placement="right" data-original-title="Estimator" class="glyphicon glyphicon-list-alt" style="
	  "></span></a></li>
	  <li><a href="{% url "emergency" %}"><span data-toggle="tooltip" data-placement="right" data-original-title="Emergency" class="glyphicon glyphicon-warning-sign" style="font-size: 35p"></span></a></li>     
  {% endblock outer_leftSideBar %}
  
  {% block inner_rightSideBar %}
	  <li><a href="{% url "timeline" %}"><span><i class="material-icons">timeline</i></span>Timeline</a></li>
	  <li><a href="{% url "about" %}"><span><i class="material-icons">info_outline</i></span>About</a></li>
	  <li><a href="{% url "album" %}"><span><i class="material-icons">photo_album</i></span>Album</a></li>
	  <li><a href="{% url "friends" %}"><span><i class="material-icons">supervisor_account</i></span>Friends</a></li>
	  <li><a href="{% url "profilesetting" %}"><span><i class="material-icons">tune</i></span>Settings</a></li>
  {% endblock inner_rightSideBar %}
  
  {% block outer_rightSideBar %}
	  <li style="margin-bottom: 35px;"><a href="{% url "timeline" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Timeline"><i id="mat-icon" class="material-icons">timeline</i></span></a></li>
	  <li><a href="{% url "about" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="About"><i id="mat-icon" class="material-icons">info_outline</i></span></a></li>
	  <li style="margin-top: 20px"><a href="{% url "album" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Album"><i id="mat-icon" class="material-icons">photo_album</i></span></a></li>
	  <li><a href="{% url "friends" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Friends"><i id="mat-icon" class="material-icons">supervisor_account</i></span></a></li>
	  <li><a href="{% url "profilesetting" %}"><span data-toggle="tooltip" data-placement="top" data-original-title="Friends"><i id="mat-icon" class="material-icons">tune</i></span></a></li>
  {% endblock outer_rightSideBar %}

  {% block class_main %} col-lg-offset-3 col-lg-6 {% endblock class_main %}
	
	{% block content %}
	 	<div class="setting-main">
	 		<div class="general-setting">
				<div class="setting-head">
					<h3>
						General Settings
					</h3>
	 			</div>
	 			<hr>
	 			<div class="setting-body">
	 				<ul class="lists" type="none">
	 					<li class="list-item">
	 						<label class="label-dark li-1">Name</label>
	 						<div class="li-2">
	 							<input class="label-light name" value="Nawaaz Will" readonly="readonly" >
	 							<button class="btn btn-success edit-done">Save</button>
	 							<button class="btn btn-default edit-cancel">Cancel</button>	
	 						</div>
	 						<a href="#!" class="edit-click li-3"><span class="span-edit">Edit</span></a>
	 					</li>
	 					<hr>
	 					<li class="list-item">
	 						<label class="label-dark li-1">Username</label>
	 						<div class="li-2">
	 							<input class="label-light name" value="Willo Walker" readonly="readonly" >
	 							<button class="btn btn-success edit-done">Save</button>
	 							<button class="btn btn-default edit-cancel">Cancel</button>	
	 						</div>
	 						<a href="#!" class="edit-click li-3"><span class="span-edit">Edit</span></a>
	 					</li>
	 					<hr>
	 					<li class="list-item">
	 						<label class="label-dark li-1">Email</label>
	 						<div class="li-2">
	 							<input class="label-light name" value="mastermindjim@gmail.com" readonly="readonly" >
	 							<button class="btn btn-success edit-done">Save</button>
	 							<button class="btn btn-default edit-cancel">Cancel</button>	
	 						</div>
	 						<a href="#!" class="edit-click li-3"><span class="span-edit">Edit</span></a>
	 					</li>
	 					<hr>
	 					<li class="list-item">
	 						<label class="label-dark li-1">Password</label>
	 						<div class="li-2">
	 							<input class="label-light name passO" type="password" value="ooooooooo" readonly="readonly" placeholder="Current Password">
	 							<input class="label-light name pass" type="password" placeholder="New Password" value="" style="display: none">
	 							<input class="label-light name pass" type="password" placeholder="Retype new password" value="" style="display: none; margin-bottom: 10px;">
	 							<br>
	 							<button class="btn btn-success edit-done">Save</button>
	 							<button class="btn btn-default edit-cancel">Cancel</button>	
	 						</div>
	 						<a href="#!" class="edit-click li-3"><span class="span-edit">Edit</span></a>
	 					</li>
	 					<hr>
	 					<li class="list-item">
	 						<label class="label-dark li-1">Deactivate Account</label>
	 						<div class="li-2">
	 							<label class="label-light label-small">Deactivate your account</label>
	 							<br>
	 							<label class="dact"><input type="radio" name="dact-rad" value="yes">Yes</label>
	 							<label class="dact"><input type="radio" name="dact-rad" value="no">No</label>
	 							<button class="btn btn-success edit-done">Save</button>
	 							<button class="btn btn-default edit-cancel">Cancel</button>
	 						</div>
	 						<a href="#!" class="edit-click li-3"><span class="span-edit">Edit</span></a>
	 					</li>
	 				</ul>
	 			</div>
	 		</div>
	 		<div class="privacy-setting">
				<div class="privacy-head">
					<h3>
						Privacy Settings
					</h3>
	 			</div>
	 			<hr>
	 			<div class="privacy-body">
	 				<ul class="lists" type="none">
	 					<li class="list-item">
	 						<label class="label-dark pli-1">Timeline</label>
	 						<label class="label-light label-small pli-2">Who can view your timeline?</label>
	 						<div class="pli-3">
	 							<select class="priv-select" disabled="disabled">
	 								<option>Everyone</option>
	 								<option>Friends</option>
	 								<option>Friends of Friends</option>
	 								<option>Only Me</option>
	 							</select>
	 							<br>
	 							<button class="btn btn-success edit-done">Save</button>
	 							<button class="btn btn-default edit-cancel">Cancel</button>	
	 						</div>
	 						<a href="#!" class="edit-click pli-4"><span class="span-edit">Edit</span></a>
	 					</li>
	 					<hr>
	 					<li class="list-item">
	 						<label class="label-dark pli-1">Friends</label>
	 						<label class="label-light label-small pli-2">Who can view your Friends List?</label>
	 						<div class="pli-3">
	 							<select class="priv-select" disabled="disabled">
	 								<option>Everyone</option>
	 								<option>Friends</option>
	 								<option>Friends of Friends</option>
	 								<option>Only Me</option>
	 							</select>
	 							<br>
	 							<button class="btn btn-success edit-done">Save</button>
	 							<button class="btn btn-default edit-cancel">Cancel</button>	
	 						</div>
	 						<a href="#!" class="edit-click pli-4"><span class="span-edit">Edit</span></a>
	 					</li>
	 					<hr>
	 					<li class="list-item">
	 						<label class="label-dark pli-1">Album</label>
	 						<label class="label-light label-small pli-2">Who can view your Photos & Videos?</label>
	 						<div class="pli-3">
	 							<select class="priv-select" disabled="disabled">
	 								<option>Everyone</option>
	 								<option>Friends</option>
	 								<option>Friends of Friends</option>
	 								<option>Only Me</option>
	 							</select>
	 							<br>
	 							<button class="btn btn-success edit-done">Save</button>
	 							<button class="btn btn-default edit-cancel">Cancel</button>	
	 						</div>
	 						<a href="#!" class="edit-click pli-4"><span class="span-edit">Edit</span></a>
	 					</li>
	 					<hr>
	 				</ul>
	 			</div>
	 		</div>
	 		<div class="complete">
	 			<a href="{% url "timeline" %}" class="btn btn-primary">Done</a>
	 		</div>
	 	</div>
	{% endblock content %}

	{% block custom_scripts %}{% endblock custom_scripts %}