<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
</head>
<body>
  <div class="container">
    <input type="text" id="txtinp">
    <select id="selector">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#selector").change(function(){
        //var sel = $("#selector");
        var val = $("#selector option:selected").val()
        $("#txtinp").val(val)
      });
    });
  </script>
</body>
</html>