<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<input type="text" id="inp" name="">
	<button id="hit">Hit me</button>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		$("#hit").click(function(){
			var time  = $("#inp").val()
			var days_index = '0'
			var hours_index = '0'
			var mins_index = '0'

			
			if (time.indexOf('day') == -1){
				days_index = 0
				days = 0
			}
			else{
				days_index = time.indexOf('day');
				days = parseInt(time.slice(0,days_index-1))
				if (time.indexOf('days')){
					days_index += 4
				}
				else if (time.indexOf('day')){
					days_index += 3
				}	
			}
			
			if (time.indexOf('hour') == -1){
				hours_index = 0
				hours = 0
			}
			else{
				hours_index = time.indexOf('hour')
				hours = parseInt(time.slice(days_index,hours_index-1))

				if (time.indexOf('hours')){
					hours_index += 5
				}
				else if (time.indexOf('hour')){
					hours_index += 4
				}
			}
			

			mins_index = time.indexOf('min')
			min = parseInt(time.slice(hours_index,mins_index-1))

			var time_values = "Days: "+days+" Hours: "+hours+" Mins: "+min
			alert(time_values) 

			var initial_min = days*60*24 + hours*60 + min;
			alert(initial_min)


		})
	</script>
</body>
</html>