.boot {
	display: block;
}
.album-options {
	background-color: white;
	padding: 30px 25px 20px 25px;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 20px;
}
.album-holder-op{
	padding: 10px;
}
.album-container {
	width: 101.9%;
}
.albums {
	display: block;
	display: -webkit-inline-box;
}
.album-card {
	width: 295px;
    margin-right: 22px;
    margin-bottom: 22px;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
}
.album-card-cover > img {
	width: 100%;	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.album-card-info {
	margin-top: 5px;
}
.album-type {
	text-align: center;
    padding: 5px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 0px;
}
.album-type > label {
	font-size: large;
}
.album-name {
	text-align: center;
	margin-top: 10px;
}
.album-name > label {
	font-size: 18px;
}
.album-updated {
	text-align: center;
    margin-top: 2px;
}
.album-popular {
	display: flex;
    margin-left: 17.5px;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
}
.album-popular-case {
	flex: 1;
	text-align: center;
}