
.container{}

#pi_form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.block {
	position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    padding-top: 5px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 10px;

}

.block-head {
	position: relative;
	border-bottom: 2px solid #edf2f6;
	margin-bottom: 25px;
}

.block-main {
	margin: 0 27px;
}

.block-layer {
	position: relative;
	display: flex;
	margin-bottom: 15px;
}
.field-label {
	flex:3;
	margin-top: 5px;
}
.field-content {
	flex: 6;
}
.field-content input {
	margin-left: 0;
	border: 2px solid #dddfe4;
    border-radius: 10px;
    height: 30px;
    width: 260px;
    padding: 3px 10px

}
.fl-txtar {
	padding-top: 22.5px;
}
.aboutme-content {}

.fc-txtar textarea {
	    margin: 0px;
    width: 260px;
    height: 70px;
    resize: none;
    border: 2px solid #dddfe4;
    border-radius: 10px;
    padding: 15px;
}

.dob-label {
	margin-top: 5px;
}
.dob-content {
	position: relative;
	display: flex;
}
.slt {
	    background-color: white;
    border: 1.5px solid #dddfe4;
    width: 80px;
    text-align-last: center;
    height: 30px;
    border-radius: 10px;
    margin-right: 10px;
}
.divide-layer{
	display: flex;
	flex: 1;
}
.div-one {
	flex: 1;
    margin-right: 32px;
}
.div-two {
	flex: 2;
}
.div-rs {
	flex: 2;
}
.form_submit {
	position: relative;
    display: block;
    margin-left: 29%;
    margin-top: 20px;
}
.form_submit input {
	width: 250px;
    height: 50px;
}

::placeholder {
	color: #888da6;
	font-style: italic;
	padding: 10px;
}
input::placeholder {
	padding: 5px;
}