::placeholder {
	
	font-weight: 400;
}
.boot {
	display: block;
}
.friend-options {
	background-color: white;
	padding: 30px 25px 20px 25px;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 20px;
}
.friend-options-holder {
	display: flex;
}
.friend-holder-op{
	padding: 10px;
}
.friend-count {
	cursor: pointer;
}
.friend-count:hover {
	color: #ef0707;
}
.friend-search {
	position: absolute;
	right: 50px;
}
#friend-search-label > input {
	width: 250px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    height: 40px;
    padding: 10px;
}
#friend-search-label > span {
	margin-left: -43px;
    margin-top: -3.49px;
    border: 0;
    border-left: 1px solid lightgrey;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #bbbdc5;
    color: white;
    height: 100%;
    height: 40px;
    padding: 0;
    padding: 11px 12px 12px 12px;
}
.friend-container {
	width: 101.9%;
}
.friends {
	display: block;
	display: -webkit-inline-box;
}
.friend-card {
	width: 295px;
    margin-right: 22px;
    margin-bottom: 22px;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
}
.friends-card-cover {
	width: 295px;
	height: 113px;
}
.friend-card-cover > a > img {
	width: 100%;	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.friend-card-info {
	margin-top: 5px;
}
.friend-info {
	text-align: center;
    position: relative;
    margin-top: -50px;
    margin-bottom: 10px;
}
.friend-face > img {
	border: 2px solid white;
    border-radius: 100%;
}
.friend-info-options {
	position: absolute;
    top: 70px;
    right: 25px;
}
.friend-info-options .glyphicon {
	font-size: 16px;
}
#friend-edit {
	border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.friend-type {
	text-align: center;
    padding: 5px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 0px;
}
.friend-type > label {
	font-size: large;
}
.friend-name {
	text-align: center;
}
.friend-name > label {
	font-size: 18px;
}
.friend-updated {
	text-align: center;
    margin-top: 2px;
}
.friend-popular {
	display: flex;
    margin-left: 22px;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
}
.friend-popular-case {
	flex: 1;
	text-align: center;
}
.friend-popular-score > span {
	font-weight: 600;
}
.item {
	height: 170px;
}
.caro > ol {
	position: relative;	
}
.caro > ol > li {
	border: 2px solid lightgray;
}
.caro > ol > li.active {
	background-color: #ef0707;
}
.carousel-inner {
	text-align: center;
}
#car-in .item {
	transition: transform .2s ease-in-out;
}
.friend-msg {
	background-color: blueviolet;
	width: fit-content;
    padding: 10px 10px 4px 11px;
    border-radius: 100%;
    border: 5px solid blueviolet;
    display: inline-block;
}
.friend-msg .glyphicon {
	color: white;
}

.friend-bio {
	padding: 0px 20px;
    word-break: break-word;
    white-space: normal;
}
.friend-ago-title > label {
	font-size: smaller;
}

#bas {
	bottom: 0px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.ff {
	margin-top: 16px;
}
.friend-ago {
	margin-top: 25px;
}

.friend-overlay {
	position: absolute;
}
#olay {
    top: 0;
    left: 0;
    background-color: grey;
    opacity: 0.6;
    position: fixed;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: 1030;
}
#friend-selected {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 85px;
    left: -200px;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 1200px;
    margin-left: 23%;
    height: 95%;
    border-radius: 5px;
    margin-top: -70px;
    z-index: 1031;
}
.friend-overlay-container {
	display: flex;
	height: 100%;
}
.friend-photo-container {
	width: 800px;
	height: 100%;
	background-color: black;
}
.friend-photo-credit {
	width: 400px;
	height: 50%;
}
.discrete-photo {
	margin-top: 46.5px;
}
.car-left {
	position: absolute;
    z-index: 1041;
    top: 47%;
    left: 0px;
    background-color: black;
    width: 40px;
    text-align: center;
    height: 40px;
    padding: 5px;
}
.car-left .glyphicon, .car-right .glyphicon {
	color: white;
}
.car-right {
	position: absolute;
    z-index: 1041;
    top: 47%;
    right: 0px;
    background-color: black;
    width: 40px;
    text-align: center;
    height: 40px;
    padding: 5px;
}
.friend-photo-credits {
	width: 400px;
}
.photo-credits-holder {
	padding: 25px;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 0;
}
.credits-layer {
	margin-bottom: 25px;
    word-break: break-word;
}
.credits-user-img {
	margin-top: 3px;
}
.credits-user-img > img {
	width: 40px;
    height: 40px;
    border-radius: 100%;
}
.credits-user-info {
	margin-left: 15px;
}
.credits-user-info > label {
	margin-bottom: 0;
}
.credits-op .glyphicon {
	color: #888da6;
}
.credits-op .glyphicon:hover {
	color: #5d5d5d;
}
.credits-edit-post {
	position: absolute;
    right: 40px;
    top: 30px;
}
.post-edit-button {
	border: none;
	background-color: transparent;
}
.post-edit-button > span {
	font-size: large;
	color: #8e8e8e;
}
.tagged {
	border-bottom: 1px dashed lightgrey;
}
.tagged > label {
	color: #ef0707;
	margin-right: 3px;
}
.fames {
	display: flex;
	margin-bottom: 5px;
}
.fame {
	display: flex;
	margin-right: 30px;
}
.fame > a {
	display: flex;
	text-decoration: none;
}
.fame a* {

}
.fame > a > span {
	font-size: 22px;
	cursor: pointer;
}
.fame > a > label {
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}
.friend-post-comments {
	background-color: #eae9e9b5;
	width: 400px;
	height: 48%;
	overflow-y: scroll;
}
.friend-post-comments {
}
.write-comment {
	display: flex;
	width: 100%;
	padding: 20px;
	background-color: white;
}
.comment-input {
	margin-left: 10px;
}
.comment-input > input {
	width: 270px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
}
.user-img > img {
	width: 40px;
	height: 40px;
}



.post-comment {
	margin-bottom: 15px;
}
.comment-section {
	display: flex;
}
.comment-sub-section {
	display: flex;
	flex: 1;
}
.cs-left{
    margin-left: 40px;

}
.comment-holder {
	padding: 20px;
}
.comment-user-img {
	margin-top: 5px;
}
.comment-user-img > img {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}
.comment-bubble {
	position: relative;
    background: white;
    border-radius: .4em;
    margin-left: 15px;
    min-width: 280px;
    max-width: 280px;
}
.comment-bubble:after {
	content: '';
    position: absolute;
    left: 12px;
    top: 75%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right-color: white;
    border-left: 0;
    margin-top: -19px;
    margin-left: -19px;
}
.comment-bubble > p {
	padding: 15px;
    padding-bottom: 5px;
}
.comment-time {
	position: relative;
    margin-left: 70px;
}
.comment-time > span {
	font-size: 10px;
}
.comment-like {
    display: flex;
	margin-left: 16%;
    margin-top: 3px;
}
.comment-like .glyphicon {
	font-size: 15px;
    margin-top: 1px;
    margin-right: 5px;
}
.comment-options {
	position: relative;
    margin-left: 10px;
    margin-top: 1px;
}
#comment-edit-button > span {
	font-size: 13px;
	color: #888da6;
}