.main{
    position: relative;
    top: 100px;
    height: auto;  
} /*Parent of all parents*/

.search-top, .search-low {
    background-color: white;
    border-radius: 5px; 
    padding: 10px;
    margin-bottom: 20px;
}
.sub-title {
    text-align: center;
    padding: 1px 0 10px;
}
.search-belt {
    background-color: #edf2f7;
    padding-bottom: 10px;
}
.search-layer{
    display: flex;
    padding-left: 55px;
    margin-bottom: 25px;
}
.search-op {

}
.search-op > h3 {
    text-align: center;
}
.search-layer .ttl {
    flex: 1;
}
.search-op > select {
    border: 0;
    border-radius: 5px;
    height: 29px;
}
.selects {
    border: 0;
    border-radius: 5px;
    height: 29px;
    width: 148px;
}
.l0 {
    border-bottom: 1px solid white;
    padding: 0;
}
.l1 .search-op {
    flex: 1;
}
.l1-o1 > input, .l1-o2 > input{
    border: none;
    border-radius: 5px;
    height: 29px;
}
.l1 .search-op > label {
    margin-right: 14px;
}
.l1-o1 > input {
    width: 398px;
}
.l1-o2 > input {
    width: 178px;
}
.l2 .search-op {
    flex: 1;
}
.l2 .search-op > select {
    border: 0;
    border-radius: 5px;
    height: 29px;
}
.l2-o1 > label {
    margin-right: 4px;
}
.l2-o3 > label {
    margin-right: 11px;
}
.l2-o4 > select {
    width: 81px;
}
.l3-o1 > select {
    width: 59px;
}
.l3-o2 > label {
    margin-right: 18px;
}
.l3-o2 > select {
    width: 62px;
}
.l3-o3 {
}
.l3-o3 > select {
    width: 90px;
}
.l3-o4 > label {
    margin-right: 6.3px;
}
.search-low-header {
    border-bottom: 1px solid lightgrey;
    margin: 0 10px;
}
.result-container {
    padding: 15px 10px;

}
.result-layer {
	position: relative;
    display: inline-block;
}
.result-box {
    position: relative;
    display: -webkit-inline-box;
    width: 324px;
    max-width: 324px;
    min-width: 324px;     
    box-shadow: 0px 0px 4px 1px #888da6;
    margin: 20px;
    border-radius:5px;
    width: 100%
}
.trip-box {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100%;
}
.tb-layer {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid lightgrey;
}
.layer-zero {
    background-color: #edf2f7;
}
.tb-title {
    flex: 3;
    margin-top: 10px;
}
.tb-title > label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.tb-credit {
    display: flex;
    flex: 1;
}
.tb-credit > label {
    margin-top: 10px;
}
.tb-credit > a {
    margin-top: 5px;
}
.tb-credit > a > img {
    width: 37px;
    height: 27px;
    position: relative;
    left: 10px;
    vertical-align: -webkit-baseline-middle;
}
.tb-op {
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.tb-op > img {
    width: 50%;
    height: 100px;
}
.tb-op > span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}
.tb-op > label {
    flex: 1;
}
.tb-op > span {
    flex: 3;
}
.tb-op > a {
    position: relative;
    right: 0;
}
.tb-op > a:visited {
    color: #ef0707;
}
.join-button {
    padding: 0;
    border: 0;
}
.join-button > button {
    width: 100%;
    border: 0;
    background-color: #ef0707;
    height: 40px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}



.overlay {
    top: 0;
    background-color: grey;
    opacity: 0.6;
    position: fixed;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
#TD {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 40%;
    margin-left: 30%;
    height: 84%;
    border-radius: 5px;
    margin-top: -10px;
    overflow: auto;
}
.trip-box-big {
    
}
.tbb-layer {
    margin-bottom: 15px;
    display: flex;
    
}
.tbb-zero {
    padding: 1px;
    background-color: #edf2f6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0;
}
.join-btn {
    position: absolute;
    top: 0;
    right: 0; 
}
.join-btn > button {
    background-color: #ef0707;
    border: 0;font-size: x-large;
    width: 80px;
    height: 58px;
    font-size: x-large;
    font-weight: 700;
    border-top-right-radius: 5px;   
}
.tbb-title {
    text-align: center;
    
}
.tbb-bck-main {
    margin-top: 0;
}
.tbb-bck{
    position: absolute;
    top: 57px;
    left: 0;
}
.tbb-bck > img {
    width: 100%;
    opacity: 0.2;
    height: 230px;
}
.creator {
    display: flex;
    /* margin: 0 auto; */
    flex-direction: column;
    margin-left: 43%;
    margin-top: 25px;
}
.creator > img {
    width: 40px;
    height: 30px;
    background-color: red;
    border-radius: 5px;
    margin-left: 12px;
    z-index: 101;
}

.tbb-op {
    flex: 1;
}
.part {
    text-align: center;
    margin-left: 93px;
    z-index: 101;
}
.tbb-low {
    padding: 0 40px;
}
.tbb-subop {
    display: flex;
    margin: 0 50px;
}
.tbb-subop > img {
    width: 40px;
    height: 30px;
    flex: 1;
    background-color: red;
    border-radius: 5px;
    margin-right: 10px;
}
.tbb-route {
    text-align: center;
    font-size: x-large;
    border: 0;
}
.lw {

    margin-top: 15px;
    border-bottom: 1px solid lightgrey; 
}
::placeholder {
	color: #888da6;
	padding-left: 10px;
}

.lI-group {
  position:relative;  

  & + .lI-group {
    margin-top: 30px;
  }
}
.lI-group {
  max-width: 100%;

}

.lI-label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #888da6;
  background-color: #fff;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .lI-label {
  transform: translateY(-125%);
  font-size: .75em;
}

.lI-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
  
  &:focus {
    box-shadow: 0 2px 0 0 blue;
  }
}

.lI-input.filled {
    box-shadow: 0 2px 0 0 lightgreen;
}
.rad-club {
    display: flex;
    width: 30%;
}
.rads {
    display: flex;
    margin-right: 55px;
}
.cat-search {
    display: flex;
    flex: 15;
}
.search-sub-layer {
    display: flex;
    width: 95%;
}
.cat-search-input {
    position: absolute;
    margin-top: -29px;
    border: none;
    border-radius: 5px;
    height: 29px;
    width: 450px;
    margin-left: 23px;
}
.cat-show {
    display: flex;
}
.gayab-sr {
    display: none;
}
#dlink {
    margin-left: 34%;
}
.TD {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 40%;
    margin-left: 30%;
    height: 84%;
    border-radius: 5px;
    margin-top: -10px;
    z-index: 1045;
    overflow-y: scroll;
}
.tbb-op {
    display: flex;
}
.tbb-op * {

    flex: 1;
}
#left {
    width: 50%;
}

#right {
    position: relative;
    right: -285px;
    width: 50%;
}

.filter-btn {
    position: relative;
    left: 40.5%;
    width: 145px;
    height: 40px;
    margin-bottom: 15px;
}
#clear_filters {
    color: white;
    padding-top: 9px;
}
#search_submit {
    width: 83%
}

.form_inps {
    width: 70px;
    border: none;
    height: 30px;
    border-radius: 5px;
    padding: 0px 5px;
}

::placeholder {
    padding: 0;
    padding-left: 2px;
}
