.main{
    position: relative;
    top: 100px;
    height: auto;  
} /*Parent of all parents*/

.search-top, .search-low {
    background-color: white;
    border-radius: 5px; 
    padding: 10px;
    margin-bottom: 20px;
}
.sub-title {
    text-align: center;
    padding: 1px 0 10px;
}
.search-belt {
    background-color: #edf2f7;
    padding-bottom: 10px;
}
.search-layer{
    display: flex;
    padding-left: 55px;
    margin-bottom: 25px;
}
.search-op {

}
.search-op > h3 {
    text-align: center;
}
.search-layer .ttl {
    flex: 1;
}
.search-op > select {
    border: 0;
    border-radius: 5px;
    height: 29px;
}
.l0 {
    border-bottom: 1px solid white;
    padding: 0;
}
.l1 .search-op {
    flex: 1;
}
.l1-o1 > input, .l1-o2 > input{
    border: none;
    border-radius: 5px;
    height: 29px;
}
.l1 .search-op > label {
    margin-right: 14px;
}
.l1-o1 > input {
    width: 398px;
}
.l1-o2 > input {
    width: 414px;
}
.l2 .search-op {
    flex: 1;
}
.l2 .search-op > select {
    border: 0;
    border-radius: 5px;
    height: 29px;
}
.l2-o1 > label {
    margin-right: 4px;
}
.l2-o3 > label {
    margin-right: 11px;
}
.l2-o4 > select {
    width: 81px;
}
.l3 .search-op {
    flex: 1;
}
.l3-o1 > select {
    width: 59px;
}
.l3-o2 > label {
    margin-right: 11px;
}
.l3-o2 > select {
    width: 57px;
}
.l3-o3 > select {
    width: 86px;
}
.l3-o4 > label {
    margin-right: 6.3px;
}
.filter-btn {
    position: relative;
    left: 40.6%;
    width: 145px;
    height: 40px;
    margin-bottom: 15px;
}
#clear_filters {
    color: white;
    padding-top: 9px;
}
#search_submit {
    width: 93%
}
.search-low-header {
    border-bottom: 1px solid lightgrey;
    margin: 0 10px;
}
.result-container {
    padding: 15px 10px;

}
.result-layer {
	position: relative;
    display: inline-block;

}
.result-box {
    position: relative;
    display: -webkit-inline-box;
    min-width: 324px;
    width: 324px;
    max-width: 324px;
    height: 431px;
    min-height: 431px;
    max-height: 431px; 
    margin: 20px;
    box-shadow: 0px 0px 4px 1px #888da6;
}
.trip-box {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 20px;  
}
.tb-layer {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid lightgrey;
}
.layer-zero {
    background-color: #edf2f7;
}
.tb-title {
    flex: 3;
}
.tb-credit {
    display: flex;
    flex: 1;
}
.tb-credit > a > img {
    width: 37px;
    height: 27px;
    position: relative;
    left: 10px;
    vertical-align: -webkit-baseline-middle;
}
.tb-op {
    flex: 1;
}
.tb-op > a:visited {
    color: #ef0707;
}
.tb-op > img {
    height: 190px;
}
.join-button {
    padding: 0;
    border: 0;
}
.join-button > button {
    width: 100%;
    border: 0;
    background-color: #ef0707;
    height: 40px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}



.overlay {
    top: 0;
    background-color: grey;
    opacity: 0.6;
    position: fixed;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
#TD {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 40%;
    margin-left: 30%;
    height: 84%;
    border-radius: 5px;
    margin-top: -10px;
    z-index: 1040
}
.trip-box-big {
    
}
.tbb-layer {
    margin-bottom: 15px;
    display: flex;
    
}
.tbb-zero {
    padding: 1px;
    background-color: #edf2f6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 8px;
}
.join-btn {
    position: absolute;
    top: 0;
    right: 0; 
}
.join-btn > button {
    background-color: #ef0707;
    border: 0;font-size: x-large;
    width: 80px;
    height: 58px;
    font-size: x-large;
    font-weight: 700;
    border-top-right-radius: 5px;   
}
.tbb-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 8px

}
.tbb-title > h3 {
    font-weight: 600;
    font-size: 30px;
    word-spacing: 5px;
}
.tbb-bck-main {
    margin-top: 0;
}
.tbb-bck{
    position: absolute;
    top: 57px;
    left: 0;
}
.tbb-bck > img {
    width: 585px;
    max-width: 100%;
    opacity: 0.4;
    height: 230px;
    margin-top: 15px;
}
.creator {
    display: flex;
    /* margin: 0 auto; */
    flex-direction: column;
    margin-left: 43.5%;
    margin-top: 25px;
}
.creator > img {
    width: 40px;
    height: 30px;
    background-color: red;
    border-radius: 5px;
    margin-left: 12px;
    z-index: 101;
}

.tbb-op {
    flex: 1;
}
.part {
    text-align: center;
    z-index: 101;
    width: 100%;
}
.part > label {
    margin-left: -3.5%;
}
.tbb-low {
    padding: 0 40px;
}
.tbb-subop {
    margin: 0 50px;
}
.tbb-subop > img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 10px;
    border: 3px solid white;
}
.tbb-route {
    text-align: center;
    font-size: x-large;
    border: 0;
}
.lw {

    margin-top: 15px;
    border-bottom: 1px solid lightgrey; 
}
::placeholder {
	color: #888da6;
	padding-left: 10px;
}

.TD {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 40%;
    margin-left: 30%;
    height: 84%;
    border-radius: 5px;
    margin-top: -10px;
    z-index: 1045;
    overflow-y: scroll;
}
.tbb-op {
    display: flex;
}
.tbb-op * {

    flex: 1;
}

.l3-o1 > input {
    width: 70px;
    border: none;
    height: 30px;
    border-radius: 5px;
    padding: 0px 5px;
}
.l3-o1 {
    position: relative;
    left: 100%;
    flex: 0;
}
::placeholder {
    padding: 0;
}

.UL{
    position: fixed;
    width: 30%;
    height: 80%;
    top: 120px;
    left: 60px;
    margin-left: 30%;
    margin-top: -10px;
    border-radius: 5px;
    bottom: 0;
    right: 0;
    align-items: center;
    background-color: white;
    justify-content: center;
    overflow-y: auto;
    z-index: 1050;
    box-shadow: 1px 1px 15px 1px grey;
    
}
.part_ul {
    padding: 0;
}
.part_title {
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #edf2f7;
    height: 55px;
    padding: 15px;
    color: #888da6;
}

.part_li {
    padding: 10px 30px;
}
.part_li_username {
    font-size: large;
    margin-left: 20px;
}
.part_li_img {
    width: 40px;
    height: 40px;
    border-radius: 42px;
}
.UL hr {
    margin: 0;
    border-top: 2px solid #eee;
}
.gap {

}
.UL h3 {
    margin: 0;
}
#view_part {
    cursor: pointer;
}
.nomarg {
    margin: 0;
}