.main{
    position: relative;
    top: 100px;
    height: auto;  
    background-color: antiquewhite;
}
#one, #two {
	osition: absolute;
}
.plan-container {
	background-color: white;
	position: absolute;
}
.plan-title {
	text-align: center;
}
.layer-1 {
	display: flex;
	flex-direction: column;
	padding-left: 60px;
	background-color: #edf2f7;
	border-radius: 5px;
	margin-bottom: 20px;
}
.l1-options {
	display: flex;
	flex-direction: column;
	padding: 15px 0 0 15px; 
}
#l1-op {
	padding: 0;
	margin-bottom: 12px;
}
#l1-op > label {
	display: flex;
}
#l1-op > label > span {
	display: flex;
	flex: 1;
}
#l1-op > label > input {
	display: flex;
	flex: 10;
}

.vehicle {
	padding-bottom: 15px;
	margin-top: -20px;
}
.veh-club {
}
#vs {
	background-color: white;
    border: 0;
    border-radius: 5px;
    height: 30px;
    margin-left: 5px;
}
.map-container {
	position: relative;
	padding-left: 22px;
}
.map {
	position: relative;
	height: 300px;
	padding: 0;
	margin-left: 5px;
}

.map > img {
	width: 473px;
}
.sub-layer-1 {
	margin-bottom: 15px;
	margin-top: 5px;
}
.add-stop > button {
	width: 90px;
    height: 35px;
}
.sub-layer-2 {
	position: relative;
	display: flex;
	flex-direction: column;
    background-color: #edf2f6;
    padding: 15px;
    border-radius: 5px;

}
.pb {
	padding: 15px 0;
    border-bottom: 1px solid #888da6;
}

.pits-handler {

}
.pitstops {
	
}
.pitstops, .time-per-pitstop {
	display: flex;
}

.pitstops-club, .pitstime-club {
	display: flex;
	flex: 2;
}
.pitstops-club > input, .pitstime-club > input {
	display: flex;
	flex: 2;
}
.pitstops-club .s1 {
	display: flex;
	flex: 2;
}
.pitstops-club .s2 {
	display: flex;
	flex: 4;
}
.pitstops-club .s3 {
	display: flex;
}
.pitstops-club > select {
	display: flex;
	flex: 1;
}
.time-distance {
	display: flex;
}
.distance, .time {
	display: flex;
	flex: 1;
}

.total-time-distance {
	display: flex;
	border-bottom: 0;
	padding-bottom: 0;  
	flex-direction: column;	
}
.total-time, .total-distance {
	display: flex;
	flex: 1;
	font-weight: 600;
}

.details-click > h4 {
	margin-left: 300px; 
}
.navigante {
	display: flex;
	float: right;
}
#btn-cancel > button, #btn-save > button {
	font-size: 30px;
    width: 45px;
    height: 45px;
    border-radius: 0;
    padding: 0;
}
#btn-cancel > button > a, #btn-save > button > a {
	color: white;
}
.btn-cancel {
	position: absolute;
    left: 0;
    top: 0;
}

#btn-save {
	position: absolute;
	right: 0;
	top: 0;
}
#btn-save > button {
	font-size: 20px;
}

#btn-next {
	position: relative;
	right: -15px;
}
#btn-next > button, #btn-prev > button {
	border-radius: 0;
	font-size: 20px;
}
#btn-prev {
	position: absolute;
	bottom: 0;
	left: 0;
}
.progress-container {
	background-color: white;
}


#subtrip-coll {
	position: relative;
    
}
.subtrip-layers {
	position: relative;
    border: 1px solid #888da6;
    background-color: #edf2f6;
    margin-bottom: 20px;
}
.subtrip-layer-top {
	position: relative;
    padding: 5px 0 0 20px;
}

.subtrip-layer-bottom {
	position: relative;
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    padding-bottom: 14px;
}


.bottom-sublayer {
	margin-left: 15px;
	display: flex;
}
.st {
	display: flex;
	flex: 1;
}

.subtrip-edit {
	position: absolute;
    right: 0;
    top: -82px;
}
input {
	border: 0;
    border-radius: 10px;
    margin-left: 7px;
    background-color: white;
    width: 125px;
}

.sts {
	margin: 12px 0px;
    margin-left: 25px;
    border-top: 1px solid #888da6;
    padding-top: 9px;
    padding-bottom: 0px;
    margin-bottom: 0;
}
.btnt {
	border-radius: 3px;
    border: 0;
    background-color: blueviolet;
    color: white;
    width: 70px;
    height: 30px;
}