.main{
    position: relative;
    top: 100px;
    height: auto;  
    background-color: antiquewhite;
}
#one, #two {
	osition: absolute;
}
.plan-container {
	background-color: white;
	position: absolute;
}
.plan-title {
	text-align: center;
}
.l1-options {
	display: flex;
}
.option-solo {
	display: flex;
	flex: 1;
}
.option-solo > img, .option-group > img, .op-ty >img {
	width: 250px;
    height: 120px;
    opacity: 0.4;
}
.option-solo > img:hover, .option-group > img:hover {
	opacity: 0.2;
} 
.option-solo > span, .option-group > span {
	position: absolute;
    margin-left: 50px;
    font-size: 56px;
    margin-top: 4px;
}
.option-solo > span > h3, .option-group > span > h3 {
    font-size: 60px;
    font-weight: 900;

}
.option-group {
	display: flex;
	flex: 1;
}
.option-group > span {
	margin-left: 22px;
}

.op-ty {
	margin-left: 30px;
}

.navigante {
	display: flex;
	float: right;
}
#btn-cancel > button, #btn-save > button {
	font-size: 30px;
    width: 45px;
    height: 45px;
    border-radius: 0;
    padding: 0;
}
#btn-cancel > button > a, #btn-save > button > a {
	color: white;
}
.btn-cancel {
	position: absolute;
    left: 0;
    top: 0;
}

#btn-save {
	position: absolute;
	right: 0;
	top: 0;
}
#btn-save > button {
	font-size: 20px;
}

#btn-next {
	position: relative;
	right: -15px;
}
#btn-next > button, #btn-prev > button {
	border-radius: 0;
	font-size: 20px;
}
#btn-prev {
	position: absolute;
	bottom: 0;
	left: 0;
}
.progress-container {
	background-color: white;
}


.sop {
	display: flex;
	flex: 1;
	margin-left: 30px;
}
.sop > img {
	width: 250px;
    height: 120px;
    opacity: 0.7;
}
.sop > span {
	position: absolute;
    font-size: 56px;
    margin-top: 4px;
    width: 39%;
    text-align: center;	
}
.sop > span > h3 {
	font-size: 30px;
    font-weight: 900;
    margin-top: 37px;
    background-color: white;
}
.op {
	display: flex;
	margin-bottom: 20px;
}