.main{
    position: relative;
    top: 100px;
    background-color: antiquewhite; 
    height: auto;  
    display: flex;
    flex-direction: column;
} /*Parent of all parents*/

.top-section{
    background-color: #ffb2b2;
    position: relative;
}/*Top parent*/

.pjt{
    background-color: white;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    height: auto;
}/*create join top collaborate*/

.low-section{
    position: relative;
    background-color: white;
}
