.main{
    position: relative;
    top: 100px;
    background-color: antiquewhite; 
    height: auto;  
    display: flex;
    flex-direction: column;
} /*Parent of all parents*/

.top-section{
    background-color: #ffb2b2;
    position: relative;
}/*Top parent*/

.pjt{
    background-color: white;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    height: auto;
}/*create join top collaborate*/

.low-section{
    position: relative;
    background-color: white;
}

.lsc-body {
    background-color: aliceblue;
    display: flex;
}
.lsc-body-main{
    display: flex;
    flex-direction: column;
    border: 1px solid;
}
.lsc-panel-top {
    display: flex;
    flex: 2 0 60px;
    background-color: antiquewhite;
    border: 1px solid;
}
.lsc-panel-low {
    display: flex;
    background-color: antiquewhite;
    margin-top: 2px;
    border: 1px solid;
}
.lsc-place-name {
    display: flex;
    position: relative;
    flex: 1;
    border: 1px solid;
}
.lsc-people-count {
    display: flex;
    flex: 1;
    position: relative;
    border: 1px solid;
}
.lsc-action {
    display: flex;
    position: relative;
    border: 1px solid;
}
.lsc-action-plan {
    border: 1px solid;
}
.lsc-action-join {
    border: 1px solid;
}
.plc :nth-child(n+2), :nth-child(3) {
    margin-left: 3px;
}